.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc(100% * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc(100% * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc(100% * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc(100% * 12 / 12);
  }
}
.column__ekNn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.h3__ePiC8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 36px;
  min-width: 0;
  padding: 20px;
  margin: 0px;
}
.text___5M56F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 0;
  margin: 10px;
}
.column__pQoaD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.h3__rlN {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 36px;
  min-width: 0;
  padding: 20px;
  margin: 0px;
}
.text__yl6L8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  min-width: 0;
  margin: 10px;
}
.column__i3Kca {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.h3__eyR9W {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 36px;
  min-width: 0;
  padding: 20px;
  margin: 0px;
}
.text__zm0Je {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  min-width: 0;
  margin: 10px;
}
