.body {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-A2aBjUuQlF3t);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  max-width: 2048px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
  margin: 0px auto;
}
.wrapper > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox___79Ihn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__o22Fu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 0px 50px;
}
@media (max-width: 1200px) {
  .freeBox__o22Fu {
    align-items: center;
    justify-content: center;
    padding-right: var(--token-7nq9KFi95c0I);
    padding-left: var(--token-7nq9KFi95c0I);
  }
}
.h1 {
  width: 100%;
  height: auto;
  font-size: 35px;
  text-align: left;
  color: #030712;
  font-weight: 700;
  user-select: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    width: auto;
    max-width: 100%;
    font-size: 35px;
  }
}
.text__c2Btr {
  position: relative;
  width: auto;
  height: auto;
  color: #030712cc;
  text-align: left;
  font-size: 20px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__c2Btr {
    font-size: 14px;
    padding: 0px;
  }
}
.presentationGenerale {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.presentationGenerale > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.presentationGenerale > :global(.__wab_flex-container) > *,
.presentationGenerale
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.presentationGenerale > :global(.__wab_flex-container) > picture > img,
.presentationGenerale
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .presentationGenerale {
    margin: 0px;
  }
}
.bigFooter:global(.__wab_instance) {
  max-width: 100%;
}
