.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 400px;
  box-shadow: 0px 4px 16px 0px var(--token-GH89f1fW2c80);
  position: relative;
  justify-self: flex-start;
  background: #ffffff;
  max-height: 600px;
  border-radius: 20px;
  padding: 0px;
  border: 1px solid var(--token-GH89f1fW2c80);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.freeBox__ry9JS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-basis: 50%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ry9JS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__ry9JS > :global(.__wab_flex-container) > *,
.freeBox__ry9JS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ry9JS > :global(.__wab_flex-container) > picture > img,
.freeBox__ry9JS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.img {
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  height: 100%;
  max-height: 250px;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__lcU9V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-basis: 50%;
  min-width: 0;
  padding: 0px 20px 20px;
}
.freeBox__lcU9V > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__lcU9V > :global(.__wab_flex-container) > *,
.freeBox__lcU9V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lcU9V > :global(.__wab_flex-container) > picture > img,
.freeBox__lcU9V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__zvgU9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__zvgU9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__zvgU9 > :global(.__wab_flex-container) > *,
.freeBox__zvgU9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zvgU9 > :global(.__wab_flex-container) > picture > img,
.freeBox__zvgU9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__gBg6D {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__gBg6D > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__gBg6D > :global(.__wab_flex-container) > *,
.freeBox__gBg6D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gBg6D > :global(.__wab_flex-container) > picture > img,
.freeBox__gBg6D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h2 {
  font-size: 30px;
  color: var(--token-LlB3dvOZfuAV);
}
.text__skKvo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4 {
  text-transform: uppercase;
  color: var(--token-q-c-dJ_9jSVB);
  font-size: 20px;
}
.text__osdur {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-q-c-dJ_9jSVB);
  min-width: 0;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__pkcN {
  position: relative;
  height: 1em;
}
.text___7WVt8 {
  white-space: pre;
  font-weight: 500;
}
.svg__d5Pvo {
  position: relative;
  height: 1em;
}
