.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  justify-self: flex-start;
  background: none;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--token-beWxe9Umis_S);
  min-height: 0;
  padding: 0px var(--token-cZlm1avpSoGp);
}
@media (max-width: 1200px) {
  .root {
    height: auto;
  }
}
.root:hover {
  background: #0000001a;
  mix-blend-mode: multiply;
  height: 100%;
  width: auto;
  justify-self: flex-start;
  display: inline-flex;
  min-height: 0;
}
@media (max-width: 1200px) {
  .root:hover {
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:hover {
    height: auto;
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--token-q-c-dJ_9jSVB);
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 0;
}
