.body {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-A2aBjUuQlF3t);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  max-width: 2048px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  margin: 0px auto;
}
.wrapper > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper > * {
    grid-column: 4;
  }
}
.presentation {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  align-content: center;
  justify-items: center;
  background: linear-gradient(
    359deg,
    #ffffff 2%,
    var(--token-enT25OLZl2uL) 100%
  );
  grid-row-gap: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 40px;
  padding: 80px 0px;
  margin: 0px;
  border: 10px solid #ffffff;
}
.presentation > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .presentation {
    height: auto;
    grid-row-gap: 40px;
    padding: var(--token-bZk2plV-4boV) var(--token-bZk2plV-4boV) 2rem;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .presentation > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__j4WxD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 120px 0px 0px;
}
.freeBox__j4WxD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__j4WxD > :global(.__wab_flex-container) > *,
.freeBox__j4WxD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j4WxD > :global(.__wab_flex-container) > picture > img,
.freeBox__j4WxD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j4WxD {
    margin-top: 47px;
  }
}
.h1___5Fvnc {
  width: 100%;
  height: auto;
  font-size: 60px;
  text-align: center;
  color: var(--token-LlB3dvOZfuAV);
  font-weight: 500;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1___5Fvnc {
    width: 100%;
    max-width: 100%;
    font-size: 35px;
    min-width: 0;
  }
}
.text__dxst {
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  color: var(--token-q-c-dJ_9jSVB);
  margin-top: calc(0px + 20px) !important;
  font-size: var(--token-UiYSU5SKARrZ);
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dxst {
    max-width: 100%;
    font-size: 20px;
    margin-top: calc(0px + 20px) !important;
  }
}
.cta {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cta {
    width: 100%;
    justify-self: flex-start;
    justify-content: center;
    align-items: center;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.button__bhOd7:global(.__wab_instance):global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__bhOd7:global(.__wab_instance):global(.__wab_instance) {
    width: 100%;
    height: var(--token-1sUcKXpzJnx7);
    min-width: 0;
  }
}
.svg__jLuT4 {
  position: relative;
  height: 1em;
}
.text__nuwIh {
  flex-shrink: 0;
  width: auto;
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nuwIh {
    font-size: 14px;
    text-align: center;
  }
}
.svg__wepn {
  position: relative;
  height: 1em;
}
.photos {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 16px;
  align-content: center;
  justify-items: center;
  justify-self: flex-start;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 0px;
  padding: 120px;
  border: 0px solid #ffffff;
}
.photos > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .photos {
    height: 100%;
    min-height: 0;
    padding: 50px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .photos > * {
    grid-column: 4;
  }
}
.freeBox___3CBh9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox___3CBh9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___3CBh9 > :global(.__wab_flex-container) > *,
.freeBox___3CBh9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3CBh9 > :global(.__wab_flex-container) > picture > img,
.freeBox___3CBh9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3CBh9 {
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3CBh9 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3CBh9 > :global(.__wab_flex-container) > *,
  .freeBox___3CBh9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3CBh9 > :global(.__wab_flex-container) > picture > img,
  .freeBox___3CBh9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.freeBox__oEIw9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: auto;
  padding: 0px;
}
.freeBox__oEIw9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__oEIw9 > :global(.__wab_flex-container) > *,
.freeBox__oEIw9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oEIw9 > :global(.__wab_flex-container) > picture > img,
.freeBox__oEIw9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oEIw9 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oEIw9 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oEIw9 > :global(.__wab_flex-container) > *,
  .freeBox__oEIw9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oEIw9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__oEIw9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.img__jFqs9 {
  object-fit: cover;
  max-width: 100%;
  width: 520px;
  height: 390px;
  flex-shrink: 0;
  border-radius: 20px;
}
.img__jFqs9 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__jFqs9 {
    width: auto;
    height: auto;
  }
}
.img__idQJu {
  object-fit: cover;
  max-width: 100%;
  width: 380px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 20px;
}
.img__idQJu > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__idQJu {
    width: auto;
    height: auto;
  }
}
.freeBox__oiR2K {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: auto;
  padding: 0px;
}
.freeBox__oiR2K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__oiR2K > :global(.__wab_flex-container) > *,
.freeBox__oiR2K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oiR2K > :global(.__wab_flex-container) > picture > img,
.freeBox__oiR2K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oiR2K {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oiR2K > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oiR2K > :global(.__wab_flex-container) > *,
  .freeBox__oiR2K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oiR2K > :global(.__wab_flex-container) > picture > img,
  .freeBox__oiR2K
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.img__obDdX {
  object-fit: cover;
  max-width: 100%;
  width: 350px;
  flex-grow: 1;
  flex-shrink: 0;
  height: 300px;
  border-radius: 20px;
}
.img__obDdX > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__obDdX {
    width: auto;
    height: auto;
  }
}
.img__m2DlZ {
  object-fit: cover;
  max-width: 100%;
  width: 520px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 20px;
}
.img__m2DlZ > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__m2DlZ {
    width: auto;
    height: auto;
  }
}
.chiffres {
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 20px;
  align-content: center;
  justify-items: flex-start;
  justify-self: flex-start;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 0px var(--token-ebjHh15HwWpQ) var(--token-ebjHh15HwWpQ) 0px;
  padding: 0px;
  border: 0px solid #ffffff;
}
.chiffres > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .chiffres {
    padding: 50px var(--token-tzQq8kvkeGcP);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .chiffres > * {
    grid-column: 4;
  }
}
.freeBox__d7Sw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  background: #bae0c8;
  border-top-right-radius: var(--token-ebjHh15HwWpQ);
  border-bottom-right-radius: var(--token-ebjHh15HwWpQ);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 120px 400px;
  margin: 0px;
}
.freeBox__d7Sw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__d7Sw > :global(.__wab_flex-container) > *,
.freeBox__d7Sw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d7Sw > :global(.__wab_flex-container) > picture > img,
.freeBox__d7Sw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d7Sw {
    padding: 40px;
  }
}
.commentaireAudrey {
  width: auto;
  height: auto;
  font-size: var(--token-UiYSU5SKARrZ);
  text-align: left;
  color: #ffffff;
  font-weight: 500;
  position: absolute;
  left: 560px;
  top: 30px;
  background: var(--token-hfIR4DHKFykS);
  border-radius: 20px;
  padding: 10px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .commentaireAudrey {
    max-width: auto;
    width: 100%;
    font-size: 30px;
    text-align: center;
    min-width: 0;
  }
}
.freeBox___9AtI4 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
  border: 1px solid var(--token-hfIR4DHKFykS);
}
.freeBox___9AtI4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox___9AtI4 > :global(.__wab_flex-container) > *,
.freeBox___9AtI4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9AtI4 > :global(.__wab_flex-container) > picture > img,
.freeBox___9AtI4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9AtI4 {
    display: none;
  }
}
.freeBox__vdD9H {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__vdD9H > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__vdD9H > :global(.__wab_flex-container) > *,
.freeBox__vdD9H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vdD9H > :global(.__wab_flex-container) > picture > img,
.freeBox__vdD9H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vdD9H {
    display: none;
  }
}
.chiffres__jOtYq:global(.__wab_instance) {
  max-width: 100%;
}
.chiffres__xLyKh:global(.__wab_instance) {
  max-width: 100%;
}
.chiffres__ktVdd:global(.__wab_instance) {
  max-width: 100%;
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__ktFqt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.chiffres__ur0Jp:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__srZRi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.chiffres___3MUbe:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__kiZj7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.chiffres___5W6Pp:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__p2OK {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.chiffres__wzPv4:global(.__wab_instance) {
  max-width: 100%;
}
.beggining {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 120px;
  align-content: center;
  justify-items: center;
  justify-self: flex-start;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(180deg, #ffffff 26%, #f3f4f6 100%);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 0px;
  padding: 120px;
  border: 0px solid #ffffff;
}
.beggining > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .beggining {
    height: auto;
    padding: 50px var(--token-tzQq8kvkeGcP) 100px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .beggining > * {
    grid-column: 4;
  }
}
.ceQueFaitNatalia {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
.ceQueFaitNatalia > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.ceQueFaitNatalia > :global(.__wab_flex-container) > *,
.ceQueFaitNatalia > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ceQueFaitNatalia > :global(.__wab_flex-container) > picture > img,
.ceQueFaitNatalia
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ceQueFaitNatalia {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .ceQueFaitNatalia > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .ceQueFaitNatalia > :global(.__wab_flex-container) > *,
  .ceQueFaitNatalia > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .ceQueFaitNatalia > :global(.__wab_flex-container) > picture > img,
  .ceQueFaitNatalia
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__vK8Nm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__vK8Nm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__vK8Nm > :global(.__wab_flex-container) > *,
.freeBox__vK8Nm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vK8Nm > :global(.__wab_flex-container) > picture > img,
.freeBox__vK8Nm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__rkdO {
  width: 100%;
  height: auto;
  font-size: var(--token-R7Hu22R7l13m);
  text-align: left;
  color: var(--token-LlB3dvOZfuAV);
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__rkdO {
    max-width: auto;
    width: 100%;
    font-size: 30px;
    text-align: center;
    min-width: 0;
  }
}
.text__ylTje {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-q-c-dJ_9jSVB);
  text-align: left;
  font-size: var(--token-lCn1ExrWgPG1);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ylTje {
    text-align: center;
    font-size: 14px;
  }
}
.freeBox__n3Vm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 50px) !important;
  margin-right: 0px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n3Vm {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 20px) !important;
  }
}
.img__aWqE3 {
  object-fit: contain;
  max-width: 100%;
  width: 400px;
  height: auto;
  object-position: 0px 0px;
  flex-shrink: 0;
}
.img__aWqE3 > picture > img {
  object-fit: contain;
  object-position: 0px 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-enT25OLZl2uL);
  width: 80px;
  height: 80px;
  position: absolute;
  left: 814px;
  top: 630px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    left: 140px;
    top: 1331px;
    width: 50px;
    height: 50px;
  }
}
.logoCreeParIa {
  width: auto;
  height: auto;
  font-size: var(--token-UiYSU5SKARrZ);
  text-align: left;
  color: #ffffff;
  font-weight: 500;
  position: absolute;
  left: 884px;
  top: 667px;
  background: var(--token-enT25OLZl2uL);
  justify-self: flex-start;
  border-radius: 20px;
  padding: 10px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logoCreeParIa {
    max-width: auto;
    width: auto;
    font-size: var(--token-ngDkrxL7BhNF);
    text-align: center;
    left: 194px;
    top: 1347px;
    justify-self: flex-start;
  }
}
.fondateurs {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 40px;
  align-content: center;
  justify-items: center;
  justify-self: flex-start;
  background: none;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.fondateurs > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fondateurs {
    padding: 50px var(--token-tzQq8kvkeGcP);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .fondateurs > * {
    grid-column: 4;
  }
}
.freeBox__x78SF {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ii9HamUlZktr);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 100px 10px;
  padding: 80px;
  margin: 0px;
}
.freeBox__x78SF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__x78SF > :global(.__wab_flex-container) > *,
.freeBox__x78SF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x78SF > :global(.__wab_flex-container) > picture > img,
.freeBox__x78SF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x78SF {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
    border-radius: 50px 10px;
    padding: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x78SF > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x78SF > :global(.__wab_flex-container) > *,
  .freeBox__x78SF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__x78SF > :global(.__wab_flex-container) > picture > img,
  .freeBox__x78SF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.freeBox__qt0FP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  flex-basis: 30%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qt0FP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__qt0FP > :global(.__wab_flex-container) > *,
.freeBox__qt0FP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qt0FP > :global(.__wab_flex-container) > picture > img,
.freeBox__qt0FP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qt0FP {
    max-width: 100%;
    height: 100%;
    flex-basis: auto;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qt0FP > :global(.__wab_flex-container) {
    min-height: 0;
  }
}
.img__ieQxe {
  height: 500px;
  object-position: 10% bottom;
  max-width: 500px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 40px 10px;
}
.img__ieQxe > picture > img {
  object-fit: cover;
  object-position: 10% bottom;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ieQxe {
    max-width: 300px;
    height: auto;
    width: 100%;
    object-position: 10% top;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ieQxe > picture > img {
    object-position: 10% top;
  }
}
.freeBox__mBzsH {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-basis: 60%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mBzsH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__mBzsH > :global(.__wab_flex-container) > *,
.freeBox__mBzsH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mBzsH > :global(.__wab_flex-container) > picture > img,
.freeBox__mBzsH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__c5Aw {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__c5Aw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__c5Aw > :global(.__wab_flex-container) > *,
.freeBox__c5Aw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c5Aw > :global(.__wab_flex-container) > picture > img,
.freeBox__c5Aw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__slHId {
  width: 100%;
  height: auto;
  font-size: var(--token-R7Hu22R7l13m);
  text-align: left;
  color: var(--token-LlB3dvOZfuAV);
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__slHId {
    font-size: 30px;
  }
}
.text__uBajt {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-q-c-dJ_9jSVB);
  text-align: left;
  font-size: var(--token-UiYSU5SKARrZ);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uBajt {
    padding-left: 0px;
    font-size: 14px;
  }
}
.text__e4Twr {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-q-c-dJ_9jSVB);
  text-align: left;
  font-size: var(--token-UiYSU5SKARrZ);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e4Twr {
    padding-left: 0px;
    font-size: 14px;
  }
}
.text___4U7U {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-q-c-dJ_9jSVB);
  text-align: left;
  font-size: var(--token-UiYSU5SKARrZ);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4U7U {
    padding-left: 0px;
    font-size: 14px;
  }
}
.chronologie {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 120px 0px;
}
.chronologie > * {
  grid-column: 4;
}
.freeBox__tCfOz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.freeBox__tCfOz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__tCfOz > :global(.__wab_flex-container) > *,
.freeBox__tCfOz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tCfOz > :global(.__wab_flex-container) > picture > img,
.freeBox__tCfOz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.h2__hzwhK {
  width: 100%;
  height: auto;
  font-size: var(--token-R7Hu22R7l13m);
  text-align: center;
  color: var(--token-LlB3dvOZfuAV);
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__hzwhK {
    font-size: 30px;
  }
}
.freeBox__wch2M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__wch2M > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__wch2M > :global(.__wab_flex-container) > *,
.freeBox__wch2M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wch2M > :global(.__wab_flex-container) > picture > img,
.freeBox__wch2M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.chronologie__bCWfl:global(.__wab_instance) {
  max-width: 100%;
}
.chronologie__pekh4:global(.__wab_instance) {
  max-width: 100%;
}
.chronologie__aQ3P2:global(.__wab_instance) {
  max-width: 100%;
}
.valeurs {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 40px;
  align-content: center;
  justify-items: center;
  justify-self: flex-start;
  background: none;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.valeurs > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .valeurs {
    padding: 50px var(--token-tzQq8kvkeGcP);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .valeurs > * {
    grid-column: 4;
  }
}
.freeBox__neX7Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ii9HamUlZktr);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 20px;
  padding: 80px;
  margin: 0px;
}
.freeBox__neX7Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__neX7Z > :global(.__wab_flex-container) > *,
.freeBox__neX7Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__neX7Z > :global(.__wab_flex-container) > picture > img,
.freeBox__neX7Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__neX7Z {
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__neX7Z > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__neX7Z > :global(.__wab_flex-container) > *,
  .freeBox__neX7Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__neX7Z > :global(.__wab_flex-container) > picture > img,
  .freeBox__neX7Z
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.freeBox__vYdY8 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__vYdY8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__vYdY8 > :global(.__wab_flex-container) > *,
.freeBox__vYdY8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vYdY8 > :global(.__wab_flex-container) > picture > img,
.freeBox__vYdY8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__apYhb {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__apYhb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__apYhb > :global(.__wab_flex-container) > *,
.freeBox__apYhb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__apYhb > :global(.__wab_flex-container) > picture > img,
.freeBox__apYhb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__rnFWo {
  width: 100%;
  height: auto;
  font-size: var(--token-R7Hu22R7l13m);
  text-align: center;
  color: var(--token-LlB3dvOZfuAV);
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__rnFWo {
    font-size: 30px;
  }
}
.text__nl6Ym {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-q-c-dJ_9jSVB);
  text-align: center;
  font-size: var(--token-UiYSU5SKARrZ);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nl6Ym {
    padding-left: 0px;
    font-size: 14px;
  }
}
.freeBox__bigKa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bigKa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__bigKa > :global(.__wab_flex-container) > *,
.freeBox__bigKa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bigKa > :global(.__wab_flex-container) > picture > img,
.freeBox__bigKa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox___600TD {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___600TD > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___600TD > :global(.__wab_flex-container) > *,
.freeBox___600TD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___600TD > :global(.__wab_flex-container) > picture > img,
.freeBox___600TD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___600TD {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___600TD > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___600TD > :global(.__wab_flex-container) > *,
  .freeBox___600TD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___600TD > :global(.__wab_flex-container) > picture > img,
  .freeBox___600TD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.valeur__ssQxV:global(.__wab_instance) {
  position: relative;
}
.freeBox___6Zyjn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6Zyjn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___6Zyjn > :global(.__wab_flex-container) > *,
.freeBox___6Zyjn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Zyjn > :global(.__wab_flex-container) > picture > img,
.freeBox___6Zyjn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Zyjn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Zyjn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Zyjn > :global(.__wab_flex-container) > *,
  .freeBox___6Zyjn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6Zyjn > :global(.__wab_flex-container) > picture > img,
  .freeBox___6Zyjn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.valeur___0TgL:global(.__wab_instance) {
  position: relative;
}
.rencontre {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 40px;
  align-content: center;
  justify-items: center;
  justify-self: flex-start;
  background: none;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 120px 0px;
}
.rencontre > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rencontre {
    padding: 50px var(--token-tzQq8kvkeGcP);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rencontre > * {
    grid-column: 4;
  }
}
.freeBox__snjb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 90px;
  padding: 0px;
  margin: 0px;
}
.freeBox__snjb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__snjb > :global(.__wab_flex-container) > *,
.freeBox__snjb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__snjb > :global(.__wab_flex-container) > picture > img,
.freeBox__snjb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__eAHuH {
  width: 100%;
  height: auto;
  font-size: var(--token-R7Hu22R7l13m);
  text-align: center;
  color: var(--token-LlB3dvOZfuAV);
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__eAHuH {
    font-size: 30px;
  }
}
.text__mpayx {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-q-c-dJ_9jSVB);
  text-align: center;
  font-size: var(--token-UiYSU5SKARrZ);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mpayx {
    padding-left: 0px;
    font-size: 14px;
  }
}
.text___9W4X {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-q-c-dJ_9jSVB);
  text-align: center;
  font-size: var(--token-UiYSU5SKARrZ);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9W4X {
    padding-left: 0px;
    font-size: 14px;
  }
}
.text__jHWcF {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-q-c-dJ_9jSVB);
  text-align: center;
  font-size: var(--token-UiYSU5SKARrZ);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jHWcF {
    padding-left: 0px;
    font-size: 14px;
  }
}
.button__i2M5B:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__xnLnn {
  position: relative;
  height: 1em;
}
.text___8HxXf {
  white-space: pre;
  font-weight: 500;
  font-size: var(--token-UiYSU5SKARrZ);
}
.svg___6Cvy5 {
  position: relative;
  height: 1em;
}
.footer {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: center;
  justify-items: center;
  justify-self: flex-start;
  background: linear-gradient(
    180deg,
    #ffffff 14%,
    var(--token-enT25OLZl2uL) 100%
  );
  outline-color: var(--token-_YlvzaAWV7H7);
  outline-style: solid;
  outline-offset: -10px;
  outline-width: thin;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 40px;
  padding: 120px 0px 20px;
  margin: 0px;
  border: 10px solid #ffffff;
}
.footer > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    height: auto;
    padding: 50px var(--token-bZk2plV-4boV) var(--token-bZk2plV-4boV);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer > * {
    grid-column: 4;
  }
}
.text__vXfv {
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  color: var(--token-q-c-dJ_9jSVB);
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vXfv {
    font-size: 18px;
    margin: 0px;
  }
}
.h1__y13V8 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 60px;
  text-align: center;
  color: #030712;
  justify-self: flex-start;
  font-weight: 500;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__y13V8 {
    width: auto;
    justify-self: flex-start;
    max-width: 100%;
  }
}
.h2__eMqin {
  width: auto;
  font-weight: 500;
  color: var(--token-LlB3dvOZfuAV);
  font-size: var(--token-R7Hu22R7l13m);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__eMqin {
    font-size: 30px;
  }
}
.text___7ADpU {
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  color: var(--token-q-c-dJ_9jSVB);
  font-size: var(--token-UiYSU5SKARrZ);
  text-align: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7ADpU {
    max-width: 100%;
    font-size: 14px;
  }
}
.callUs:global(.__wab_instance):global(.__wab_instance) {
  width: auto;
  height: auto;
  flex-grow: 0;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .callUs:global(.__wab_instance):global(.__wab_instance) {
    width: auto;
    height: var(--token-1sUcKXpzJnx7);
  }
}
.svg___1GBe2 {
  position: relative;
  height: 1em;
}
.text__eyuYz {
  white-space: pre;
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eyuYz {
    font-size: 14px;
  }
}
.svg___9JYcd {
  position: relative;
  height: 1em;
}
.footer__nnq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
