.footer2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 4px 4px 0px;
}
.footer12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
  min-width: 0;
  padding: 100px 1px 80px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer12 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  flex-shrink: 1;
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
  --plsmc-rc-col-gap: 60px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-shrink: 0;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.logo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo {
    width: 100%;
  }
}
.freeBox__rgvih {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__rgvih > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__rgvih > :global(.__wab_flex-container) > *,
.freeBox__rgvih > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rgvih > :global(.__wab_flex-container) > picture > img,
.freeBox__rgvih
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img__eQ9Rp {
  object-fit: contain;
  position: relative;
  opacity: 1;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
.img__eQ9Rp > picture > img {
  object-fit: contain;
}
.column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column {
    display: none;
  }
}
.img__cUu1T {
  object-fit: cover;
  max-width: 100%;
  height: 150px;
  flex-shrink: 0;
}
.img__cUu1T > picture > img {
  object-fit: cover;
}
.aPropos {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aPropos {
    width: 100%;
  }
}
.freeBox__cuBdT {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  padding-bottom: 0px;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__cuBdT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cuBdT > :global(.__wab_flex-container) > *,
.freeBox__cuBdT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cuBdT > :global(.__wab_flex-container) > picture > img,
.freeBox__cuBdT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cuBdT > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.text__oCyX {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-LlB3dvOZfuAV);
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__tHk0M {
  color: var(--token-Ul9vuJeMYcWv);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__xjlx4 {
  color: var(--token-Ul9vuJeMYcWv);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__arz2B {
  color: var(--token-Ul9vuJeMYcWv);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__dqAfn {
  color: var(--token-Ul9vuJeMYcWv);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.company {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .company {
    width: 100%;
  }
}
.freeBox__hm63B {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  height: 100%;
  margin-right: 0px;
  padding-right: 3px;
  min-width: 0;
  min-height: 0;
}
.freeBox__hm63B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hm63B > :global(.__wab_flex-container) > *,
.freeBox__hm63B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hm63B > :global(.__wab_flex-container) > picture > img,
.freeBox__hm63B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 1200px) {
  .freeBox__hm63B {
    padding-right: 11px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hm63B > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.text__hGp7N {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-LlB3dvOZfuAV);
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__eVlTo {
  color: var(--token-Ul9vuJeMYcWv);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__y0PhQ {
  color: var(--token-Ul9vuJeMYcWv);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.footer22 {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  backdrop-filter: brightness(100%);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-backdrop-filter: brightness(100%);
  padding: 0px;
  margin: 4px 0px;
}
.footer22 > :global(.__wab_flex-container) {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.footer22 > :global(.__wab_flex-container) > *,
.footer22 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer22 > :global(.__wab_flex-container) > picture > img,
.footer22
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer22 {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
    padding: 0px;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer22 > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer22 > :global(.__wab_flex-container) > *,
  .footer22 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .footer22 > :global(.__wab_flex-container) > picture > img,
  .footer22
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.link__caqf4 {
  color: var(--token-eVUmbR6oh0vU);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-left: 24px;
}
