.body {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-A2aBjUuQlF3t);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  max-width: 2048px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  margin: 0px auto;
}
.wrapper > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper > * {
    grid-column: 4;
  }
}
.presentation {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  align-content: center;
  justify-items: center;
  background: var(--token-P6hRRloIUAK0);
  grid-row-gap: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 40px;
  padding: 80px 0px;
  margin: 0px;
  border: 10px solid #ffffff;
}
.presentation > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .presentation {
    height: auto;
    padding: var(--token-bZk2plV-4boV) var(--token-bZk2plV-4boV) 2rem;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .presentation > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.h1__f3YgP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70vw;
  font-size: 60px;
  text-align: center;
  color: var(--token-LlB3dvOZfuAV);
  justify-self: flex-start;
  font-weight: 500;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 120px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__f3YgP {
    width: auto;
    justify-self: flex-start;
    max-width: 100%;
    font-size: 35px;
  }
}
.text__haGz {
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  color: var(--token-Ul9vuJeMYcWv);
  font-size: var(--token-UiYSU5SKARrZ);
  text-align: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__haGz {
    max-width: 100%;
    font-size: 20px;
  }
}
.chiffres {
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 20px;
  align-content: center;
  justify-items: flex-start;
  justify-self: flex-start;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 0px var(--token-ebjHh15HwWpQ) var(--token-ebjHh15HwWpQ) 0px;
  padding: 0px;
  border: 0px solid #ffffff;
}
.chiffres > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .chiffres {
    padding: 50px var(--token-tzQq8kvkeGcP);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .chiffres > * {
    grid-column: 4;
  }
}
.chiffres2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      var(--token-_S3BZUJBgBtb),
      var(--token-_S3BZUJBgBtb)
    ),
    var(--token-ii9HamUlZktr);
  border-top-right-radius: var(--token-ebjHh15HwWpQ);
  border-bottom-right-radius: var(--token-ebjHh15HwWpQ);
  row-gap: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 120px 400px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .chiffres2 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 40px;
  }
}
.freeBox__p62EG {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p62EG {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.freeBox__q2NlJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 50px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q2NlJ {
    flex-direction: row;
    column-gap: 50px;
    row-gap: 0px;
    display: none;
  }
}
.chiffres__mrZz4:global(.__wab_instance) {
  max-width: 100%;
}
.chiffres__bKlc:global(.__wab_instance) {
  max-width: 100%;
}
.chiffres__apP:global(.__wab_instance) {
  max-width: 100%;
}
.chiffres__ucZiD:global(.__wab_instance) {
  max-width: 100%;
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__gu73 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.chiffres___0HeJh:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__po1Jj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.chiffres__gcNKo:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__vIdIz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.chiffres__zGito:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__aobb6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.chiffres___5BFb5:global(.__wab_instance) {
  max-width: 100%;
}
.partenaires {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 120px;
  align-content: center;
  justify-items: center;
  justify-self: flex-start;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(180deg, #ffffff 26%, #f3f4f6 100%);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 0px;
  padding: 120px 0px;
  border: 0px solid #ffffff;
}
.partenaires > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .partenaires {
    height: auto;
    padding: 50px var(--token-tzQq8kvkeGcP) var(--token-tzQq8kvkeGcP);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .partenaires > * {
    grid-column: 4;
  }
}
.freeBox___6PxWo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
.titre {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 50px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .titre {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.freeBox__mY6Xb {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  padding: 0px;
}
.h2___54Klr {
  width: 100%;
  height: auto;
  font-size: var(--token-R7Hu22R7l13m);
  text-align: center;
  color: var(--token-LlB3dvOZfuAV);
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___54Klr {
    max-width: auto;
    width: 100%;
    font-size: 30px;
    text-align: center;
    min-width: 0;
  }
}
.text__fdf3H {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-Ul9vuJeMYcWv);
  text-align: center;
  font-size: var(--token-lCn1ExrWgPG1);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fdf3H {
    text-align: center;
    font-size: 14px;
  }
}
.freeBox__y2NRt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 40px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y2NRt {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    column-gap: 0px;
  }
}
.partenaire__fnvAt:global(.__wab_instance) {
  position: relative;
  margin: 0px;
}
.retour {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 40px;
  align-content: center;
  justify-items: center;
  justify-self: flex-start;
  background: none;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 120px 0px;
}
.retour > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .retour {
    padding: 50px var(--token-tzQq8kvkeGcP);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .retour > * {
    grid-column: 4;
  }
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__vDnRm {
  position: relative;
  height: 1em;
}
.text__mZiNf {
  white-space: pre;
  font-weight: 500;
  font-size: var(--token-UiYSU5SKARrZ);
  height: auto;
}
.svg__qzZGg {
  position: relative;
  height: 1em;
}
.footer {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: center;
  justify-items: center;
  justify-self: flex-start;
  background: var(--token-P6hRRloIUAK0);
  outline-color: var(--token-_YlvzaAWV7H7);
  outline-style: solid;
  outline-offset: -10px;
  outline-width: thin;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 40px;
  padding: 120px 0px 20px;
  margin: 0px;
  border: 10px solid #ffffff;
}
.footer > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    height: auto;
    padding: 50px var(--token-bZk2plV-4boV) var(--token-bZk2plV-4boV);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer > * {
    grid-column: 4;
  }
}
.text___3F0F3 {
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  color: var(--token-Ul9vuJeMYcWv);
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3F0F3 {
    font-size: 18px;
    margin: 0px;
  }
}
.h1__le8Dd {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 60px;
  text-align: center;
  color: #030712;
  justify-self: flex-start;
  font-weight: 500;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__le8Dd {
    width: auto;
    justify-self: flex-start;
    max-width: 100%;
  }
}
.h2__nxUtB {
  width: auto;
  font-weight: 500;
  color: var(--token-LlB3dvOZfuAV);
  font-size: var(--token-R7Hu22R7l13m);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__nxUtB {
    font-size: 30px;
  }
}
.text__ybrL {
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  color: var(--token-Ul9vuJeMYcWv);
  font-size: var(--token-UiYSU5SKARrZ);
  text-align: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ybrL {
    max-width: 100%;
    font-size: 14px;
  }
}
.callUs:global(.__wab_instance):global(.__wab_instance) {
  width: auto;
  height: auto;
  flex-grow: 0;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .callUs:global(.__wab_instance):global(.__wab_instance) {
    width: auto;
    height: var(--token-1sUcKXpzJnx7);
  }
}
.svg__z5F4E {
  position: relative;
  height: 1em;
}
.text__pO9LE {
  white-space: pre;
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pO9LE {
    font-size: 14px;
  }
}
.svg__mvbHc {
  position: relative;
  height: 1em;
}
.footer__iu99D:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
