.navBar {
  display: flex;
  width: 100%;
  flex-direction: column;
  backdrop-filter: brightness(100%);
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-backdrop-filter: brightness(100%);
  padding: 10px;
  border-top: 1px solid var(--token-GH89f1fW2c80);
  border-bottom: 1px solid var(--token-GH89f1fW2c80);
}
.navBar > :global(.__wab_flex-container) {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.navBar > :global(.__wab_flex-container) > *,
.navBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navBar > :global(.__wab_flex-container) > picture > img,
.navBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 1200px) {
  .navBar > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar {
    padding: 0px 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar > :global(.__wab_flex-container) {
    align-items: flex-end;
    justify-content: flex-start;
  }
}
.freeBox__iiH83 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: auto;
  overflow: hidden;
  flex-shrink: 1;
  min-width: 0;
  padding: 20px;
  border-top: 1px solid var(--token-GH89f1fW2c80);
  border-bottom: 1px solid var(--token-GH89f1fW2c80);
}
.freeBox__iiH83 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__iiH83 > :global(.__wab_flex-container) > *,
.freeBox__iiH83 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iiH83 > :global(.__wab_flex-container) > picture > img,
.freeBox__iiH83
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 1200px) {
  .freeBox__iiH83 {
    padding: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iiH83 {
    display: flex;
    flex-direction: row;
    border-top-width: 0px;
    border-bottom-width: 0px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iiH83 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iiH83 > :global(.__wab_flex-container) > *,
  .freeBox__iiH83 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iiH83 > :global(.__wab_flex-container) > picture > img,
  .freeBox__iiH83
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.link__n5Go {
  position: relative;
  display: flex;
}
.nataliaLogo {
  object-fit: cover;
  width: auto;
  height: 80px;
}
.nataliaLogo > picture > img {
  object-fit: cover;
}
.navigationDesktop {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: auto;
  min-height: 0;
}
.navigationDesktop > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  min-height: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.navigationDesktop > :global(.__wab_flex-container) > *,
.navigationDesktop > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigationDesktop > :global(.__wab_flex-container) > picture > img,
.navigationDesktop
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationDesktop {
    flex-direction: column;
    height: 100%;
    min-height: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationDesktop > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-_zYqzBNHbsXB));
    height: calc(100% + var(--token-_zYqzBNHbsXB));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationDesktop > :global(.__wab_flex-container) > *,
  .navigationDesktop
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .navigationDesktop > :global(.__wab_flex-container) > picture > img,
  .navigationDesktop
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-_zYqzBNHbsXB);
  }
}
.navigationLink__txoez:global(.__wab_instance) {
  width: auto;
}
@media (max-width: 1200px) {
  .navigationLink__txoez:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__txoez:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__nOxL:global(.__wab_instance) {
  width: auto;
}
@media (max-width: 1200px) {
  .navigationLink__nOxL:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__nOxL:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__exOiF:global(.__wab_instance) {
  width: auto;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__exOiF:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__wcYfO:global(.__wab_instance) {
  width: auto;
}
@media (max-width: 1200px) {
  .navigationLink__wcYfO:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__wcYfO:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__q7NUy:global(.__wab_instance) {
  width: auto;
}
@media (max-width: 1200px) {
  .navigationLink__q7NUy:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__q7NUy:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__v5SRa:global(.__wab_instance) {
  width: auto;
}
@media (max-width: 1200px) {
  .navigationLink__v5SRa:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__v5SRa:global(.__wab_instance) {
    height: auto;
  }
}
.link__cg5Lw {
  display: none;
}
@media (max-width: 1200px) {
  .link__cg5Lw {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__cg5Lw {
    display: flex;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: #000000;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    color: #000000d9;
  }
}
.freeBox__dnmxV {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__dnmxV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__dnmxV > :global(.__wab_flex-container) > *,
.freeBox__dnmxV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dnmxV > :global(.__wab_flex-container) > picture > img,
.freeBox__dnmxV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dnmxV {
    display: flex;
  }
}
@media (max-width: 1200px) {
  .freeBoxexpanded__dnmxVsCjkv {
    display: flex;
  }
}
.navigationMobile {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.navigationMobile > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.navigationMobile > :global(.__wab_flex-container) > *,
.navigationMobile > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigationMobile > :global(.__wab_flex-container) > picture > img,
.navigationMobile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationMobile {
    flex-direction: column;
    height: 100%;
    min-height: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationMobile > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-_zYqzBNHbsXB));
    height: calc(100% + var(--token-_zYqzBNHbsXB));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationMobile > :global(.__wab_flex-container) > *,
  .navigationMobile > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .navigationMobile > :global(.__wab_flex-container) > picture > img,
  .navigationMobile
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-_zYqzBNHbsXB);
  }
}
@media (max-width: 1200px) {
  .navigationMobileexpanded {
    display: flex;
  }
}
.navigationLink__nkNlY:global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__nkNlY:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__mvLYw:global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__mvLYw:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__tvZhk:global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__tvZhk:global(.__wab_instance) {
    height: auto;
  }
}
@media (max-width: 1200px) {
  .navigationLinkexpanded__tvZhksCjkv:global(.__wab_instance) {
    display: none;
  }
}
.navigationLink__lf1Ne:global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__lf1Ne:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__saAeZ:global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__saAeZ:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__zl1H:global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__zl1H:global(.__wab_instance) {
    height: auto;
  }
}
