.footer2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 4px 4px 0px;
}
.footer12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
  min-width: 0;
  padding: 100px 1px 80px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer12 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    padding: 10px;
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 60px;
}
.columns > :nth-child(4n + 1) {
  width: calc(100% * 5 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc(100% * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc(100% * 3 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc(100% * 2 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    flex-shrink: 0;
    row-gap: 64px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc(100% * 12 / 12);
  }
}
.logo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo {
    width: 100%;
  }
}
.freeBox__rgvih {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  row-gap: 32px;
  min-width: 0;
}
.img__eQ9Rp {
  object-fit: contain;
  position: relative;
  opacity: 1;
  backdrop-filter: none;
  margin-right: 0px;
  max-width: 362px;
  width: 100%;
  min-width: 0;
  -webkit-backdrop-filter: none;
}
.img__eQ9Rp > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__eQ9Rp {
    align-self: center;
  }
}
.column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column {
    display: none;
  }
}
.img__cUu1T {
  object-fit: cover;
  max-width: 100%;
  height: 150px;
  margin-left: 0px;
  flex-shrink: 0;
}
.img__cUu1T > picture > img {
  object-fit: cover;
}
.aPropos {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aPropos {
    width: 100%;
  }
}
.freeBox__cuBdT {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0px;
  height: 100%;
  justify-content: flex-start;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  row-gap: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cuBdT {
    align-items: center;
    justify-content: flex-start;
  }
}
.text__oCyX {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-LlB3dvOZfuAV);
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__tHk0M {
  color: var(--token-Ul9vuJeMYcWv);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__xjlx4 {
  color: var(--token-Ul9vuJeMYcWv);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__arz2B {
  color: var(--token-Ul9vuJeMYcWv);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__dqAfn {
  color: var(--token-Ul9vuJeMYcWv);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.company {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .company {
    width: 100%;
  }
}
.freeBox__hm63B {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin-right: 0px;
  padding-right: 3px;
  row-gap: 16px;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 1200px) {
  .freeBox__hm63B {
    padding-right: 11px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hm63B {
    align-items: center;
    justify-content: flex-start;
  }
}
.text__hGp7N {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-LlB3dvOZfuAV);
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__eVlTo {
  color: var(--token-Ul9vuJeMYcWv);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__y0PhQ {
  color: var(--token-Ul9vuJeMYcWv);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.footer22 {
  display: flex;
  width: 100%;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: brightness(100%);
  row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-backdrop-filter: brightness(100%);
  padding: 0px;
  margin: 4px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer22 {
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    justify-self: flex-start;
    row-gap: 0px;
    column-gap: 0px;
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
    padding: 0px;
    margin: 0px;
  }
}
.link__caqf4 {
  color: var(--token-eVUmbR6oh0vU);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-left: 24px;
}
