.footer {
  display: grid;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: center;
  justify-items: center;
  justify-self: flex-start;
  background: linear-gradient(
    181.20604877921994deg,
    #ffffff 14%,
    var(--token-enT25OLZl2uL) 100%
  );
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 0px;
  padding: 120px 0px 20px;
}
.footer > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    height: auto;
    padding: 50px var(--token-bZk2plV-4boV) var(--token-bZk2plV-4boV);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer > * {
    grid-column: 4;
  }
}
.text__oTO {
  position: relative;
  width: 100%;
  height: auto;
  justify-self: center;
  color: var(--token-Ul9vuJeMYcWv);
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  max-width: 1179px;
  min-width: 0;
  padding: 0px;
  margin: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oTO {
    font-size: 18px;
    margin: 0px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 60px;
  text-align: center;
  color: #030712;
  justify-self: flex-start;
  font-weight: 500;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    width: auto;
    justify-self: flex-start;
    max-width: 100%;
  }
}
.h2 {
  width: auto;
  font-weight: 500;
  font-size: var(--token-R7Hu22R7l13m);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    font-size: 30px;
    text-align: center;
    width: 724px;
    color: var(--token-Ul9vuJeMYcWv);
  }
}
.text__fv76 {
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  color: var(--token-Ul9vuJeMYcWv);
  font-size: var(--token-lCn1ExrWgPG1);
  text-align: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fv76 {
    max-width: 100%;
    font-size: 14px;
    width: 705px;
    color: var(--token-Ul9vuJeMYcWv);
    justify-self: center;
  }
}
.callUs:global(.__wab_instance):global(.__wab_instance) {
  width: auto;
  height: auto;
  flex-grow: 0;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .callUs:global(.__wab_instance):global(.__wab_instance) {
    width: auto;
    height: var(--token-1sUcKXpzJnx7);
  }
}
.svg__uFrtP {
  position: relative;
  height: 1em;
}
.text__oS6S3 {
  white-space: pre;
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oS6S3 {
    font-size: 14px;
  }
}
.svg__uvIOk {
  position: relative;
  height: 1em;
}
.footer___1SvoN:global(.__wab_instance) {
  position: relative;
  width: 100%;
  margin-left: 0px;
  max-width: 1160px;
  min-width: 0;
}
