.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  box-shadow: 0px 4px 16px 0px var(--token-GH89f1fW2c80);
  background: #ffffff;
  row-gap: 3px;
  min-width: 0;
  border-radius: 20px;
  padding: 20px;
}
@media (max-width: 1200px) {
  .root {
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    min-height: 0;
  }
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 80px;
  justify-content: center;
  align-items: center;
  max-height: 80px;
  background: var(--token-TLY39z0Nh8Ih);
  min-height: 80px;
  min-width: 80px;
  row-gap: 20px;
  border-radius: var(--token-ebjHh15HwWpQ);
  padding: 0px;
  margin: 0px;
}
.img {
  object-fit: cover;
  max-width: 40px;
}
.img > picture > img {
  object-fit: cover;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  text-align: center;
  align-self: center;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  letter-spacing: 0px;
  min-width: 0;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    font-size: 16px;
    left: auto;
    top: auto;
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-q-c-dJ_9jSVB);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    font-size: 14px;
  }
}
