.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  outline-style: solid;
  outline-offset: 10px;
  outline-color: #d8d8d8;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.columns > :nth-child(5n + 1) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(5n + 2) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(5n + 3) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(5n + 4) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(5n + 5) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lwwUp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: auto;
  margin-right: 100px;
  margin-left: 0px;
  position: sticky;
  left: 8px;
  top: 8px;
  z-index: 1;
  height: var(--token-5UEuCgQtCuz-);
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.column__umOeL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___7D20:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  align-self: center;
  transform: skewX(0deg) skewY(0deg);
  min-width: 0;
  min-height: 0;
}
.svg___2OnDu {
  position: relative;
  height: 1em;
}
.text__sF8Vz {
  color: var(--token-lDqO-Xll9oY7);
  white-space: pre;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.svg__beQb0 {
  position: relative;
  height: 1em;
}
.column__d0AIv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__wlGp9:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
}
.svg__eRsE {
  position: relative;
  height: 1em;
}
.text___2PNwc {
  color: var(--token-lDqO-Xll9oY7);
  white-space: pre;
}
.svg___4KbVb {
  position: relative;
  height: 1em;
}
.column__dZlRf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__ufTkU:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
}
.svg__kurWq {
  position: relative;
  height: 1em;
}
.text__ixFro {
  color: var(--token-lDqO-Xll9oY7);
  white-space: pre;
}
.svg__nSnao {
  position: relative;
  height: 1em;
}
.column___46K0J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__g1B6R:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
}
.svg___4WGzw {
  position: relative;
  height: 1em;
}
.text__f2D0B {
  color: var(--token-lDqO-Xll9oY7);
  white-space: pre;
}
.svg__vZotH {
  position: relative;
  height: 1em;
}
