@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-5uOS3wqpXaDD: #2563eb;
  --plasmic-token-brand-brand: var(--token-5uOS3wqpXaDD);
  --token-_zYqzBNHbsXB: 0.5rem;
  --plasmic-token-size-8: var(--token-_zYqzBNHbsXB);
  --token-HF38UOOMN7P5: Inter;
  --plasmic-token-sans-serif: var(--token-HF38UOOMN7P5);
  --token-lCn1ExrWgPG1: 1rem;
  --plasmic-token-font-md: var(--token-lCn1ExrWgPG1);
  --token-lHL2worukueC: 1.25;
  --plasmic-token-line-height-md: var(--token-lHL2worukueC);
  --token-7nq9KFi95c0I: 0.375rem;
  --plasmic-token-size-6: var(--token-7nq9KFi95c0I);
  --token-beWxe9Umis_S: #374151;
  --plasmic-token-neutral-neutral: var(--token-beWxe9Umis_S);
  --token-hfIR4DHKFykS: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-hfIR4DHKFykS);
  --token-wOHE-EJSgVs-: #6b7280;
  --plasmic-token-muted-muted: var(--token-wOHE-EJSgVs-);
  --token-bZk2plV-4boV: 0.25rem;
  --plasmic-token-size-4: var(--token-bZk2plV-4boV);
  --token-ngDkrxL7BhNF: 0.75rem;
  --plasmic-token-font-sm: var(--token-ngDkrxL7BhNF);
  --token-NximLGmSk6-G: 1;
  --plasmic-token-line-height-sm: var(--token-NximLGmSk6-G);
  --token-UiYSU5SKARrZ: 1.25rem;
  --plasmic-token-font-lg: var(--token-UiYSU5SKARrZ);
  --token-XOJDr4OSYrSQ: 1.4;
  --plasmic-token-line-height-lg: var(--token-XOJDr4OSYrSQ);
  --token-6ew92jJPyswG: 0.125rem;
  --plasmic-token-size-2: var(--token-6ew92jJPyswG);
  --token-xHc67yx8GOYO: #16a34a;
  --plasmic-token-success-success: var(--token-xHc67yx8GOYO);
  --token-JzJHE_3Ppbuz: #facc15;
  --plasmic-token-warning-warning: var(--token-JzJHE_3Ppbuz);
  --token-R1_4-eGwrAdR: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-R1_4-eGwrAdR);
  --token-y_FtelUOrSmI: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-y_FtelUOrSmI);
  --token-FTURG8Hz9YpN: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-FTURG8Hz9YpN);
  --token-TLY39z0Nh8Ih: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-TLY39z0Nh8Ih);
  --token-nunNrxhsR3lj: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-nunNrxhsR3lj);
  --token-_9V3SMqJPilr: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-_9V3SMqJPilr);
  --token-bVMH4SjGp6TU: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-bVMH4SjGp6TU);
  --token-U99MqmzUKh1N: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-U99MqmzUKh1N);
  --token-WkXUMkQZ1NbJ: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-WkXUMkQZ1NbJ);
  --token-oBn3c1uaZjsB: #86efac;
  --plasmic-token-success-success-border: var(--token-oBn3c1uaZjsB);
  --token-LqANoprWHKSb: #fde047;
  --plasmic-token-warning-warning-border: var(--token-LqANoprWHKSb);
  --token-5hUEFrzXv9ye: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-5hUEFrzXv9ye);
  --token-_YlvzaAWV7H7: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-_YlvzaAWV7H7);
  --token-g7CVU3tfI9Um: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-g7CVU3tfI9Um);
  --token-GH89f1fW2c80: #00000033;
  --plasmic-token-interaction-pressed: var(--token-GH89f1fW2c80);
  --token-cZlm1avpSoGp: 0.625rem;
  --plasmic-token-size-10: var(--token-cZlm1avpSoGp);
  --token-z2mzL7cEVlS3: 0.75rem;
  --plasmic-token-size-12: var(--token-z2mzL7cEVlS3);
  --token-P6hRRloIUAK0: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-P6hRRloIUAK0);
  --token-UT64dUlT54NH: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-UT64dUlT54NH);
  --token-Qibr8t_tk64_: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-Qibr8t_tk64_);
  --token-BibvNlLTUPJc: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-BibvNlLTUPJc);
  --token-NQKU8uis0_1W: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-NQKU8uis0_1W);
  --token-nJdPZyCaPOBe: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-nJdPZyCaPOBe);
  --token-1B7JM1D69yfh: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-1B7JM1D69yfh);
  --token-lDqO-Xll9oY7: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-lDqO-Xll9oY7);
  --token-eVUmbR6oh0vU: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-eVUmbR6oh0vU);
  --token-oMiLkQlRlp4N: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-oMiLkQlRlp4N);
  --token-5VTH1GtNZdiV: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-5VTH1GtNZdiV);
  --token-eUXq5J66Ds8-: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-eUXq5J66Ds8-
  );
  --token-5UEuCgQtCuz-: 50px;
  --plasmic-token-unnamed-style-token: var(--token-5UEuCgQtCuz-);
  --token-AmKJBkNP2oPa: var(--token-beWxe9Umis_S);
  --plasmic-token-unnamed-style-token-2: var(--token-AmKJBkNP2oPa);
  --token-ebjHh15HwWpQ: 900px;
  --plasmic-token-size-xxxxxl: var(--token-ebjHh15HwWpQ);
  --token-20jmNtmjORTw: 1px;
  --plasmic-token-size-14: var(--token-20jmNtmjORTw);
  --token-tzQq8kvkeGcP: 1px;
  --plasmic-token-size-28: var(--token-tzQq8kvkeGcP);
  --token-1sUcKXpzJnx7: 1px;
  --plasmic-token-45: var(--token-1sUcKXpzJnx7);
  --token-lGV6QY4vHg3c: 1.5rem;
  --plasmic-token-size-24: var(--token-lGV6QY4vHg3c);
  --token-rBBopEGtF4-U: #04080f;
  --plasmic-token-button-primary: var(--token-rBBopEGtF4-U);
  --token-zLhKPFLHGdka: #ffffff;
  --plasmic-token-unnamed-style-token-3: var(--token-zLhKPFLHGdka);
  --token-enT25OLZl2uL: #1cbb83;
  --plasmic-token-background: var(--token-enT25OLZl2uL);
  --token-_S3BZUJBgBtb: #fafafa;
  --plasmic-token-background-grey: var(--token-_S3BZUJBgBtb);
  --token-R7Hu22R7l13m: 40px;
  --plasmic-token-h-2: var(--token-R7Hu22R7l13m);
  --token-aZWTYPqSs5CF: 24px;
  --plasmic-token-h-3: var(--token-aZWTYPqSs5CF);
  --token-pHFUsVAOuPpQ: 20px;
  --plasmic-token-h-4: var(--token-pHFUsVAOuPpQ);
  --token-q-c-dJ_9jSVB: #374161;
  --plasmic-token-color-police-grey: var(--token-q-c-dJ_9jSVB);
  --token-LlB3dvOZfuAV: #030712;
  --plasmic-token-color-police-titre: var(--token-LlB3dvOZfuAV);
  --token-FgPMFxe2-TJ7: #dcfce7;
  --plasmic-token-background-2: var(--token-FgPMFxe2-TJ7);
  --token-ii9HamUlZktr: #bae0c8;
  --plasmic-token-background-3: var(--token-ii9HamUlZktr);
  --token-Ul9vuJeMYcWv: #111827;
  --plasmic-token-color-police: var(--token-Ul9vuJeMYcWv);
  --token-F8R8IjWzeNkm: var(--antd-colorBgSpotlight);
  --plasmic-token-system-bg-spotlight: var(--token-F8R8IjWzeNkm);
  --token-4CXBhNg_VbNt: #1a4ce5;
  --plasmic-token-color-background: var(--token-4CXBhNg_VbNt);
  --token-A2aBjUuQlF3t: #ffffff;
  --plasmic-token-basic-container-background: var(--token-A2aBjUuQlF3t);
  --token-CnIqtYzwC-u_: #63d0a2;
  --plasmic-token-vert-ets: var(--token-CnIqtYzwC-u_);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-20jmNtmjORTw: 1rem;
    --plasmic-token-size-14: var(--token-20jmNtmjORTw);
    --token-tzQq8kvkeGcP: 2rem;
    --plasmic-token-size-28: var(--token-tzQq8kvkeGcP);
    --token-1sUcKXpzJnx7: 45px;
    --plasmic-token-45: var(--token-1sUcKXpzJnx7);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-rfa2EcODadE-_font-family: "Inter", sans-serif;
  --mixin-rfa2EcODadE-_font-size: 16px;
  --mixin-rfa2EcODadE-_font-weight: 400;
  --mixin-rfa2EcODadE-_font-style: normal;
  --mixin-rfa2EcODadE-_color: #030712;
  --mixin-rfa2EcODadE-_text-align: left;
  --mixin-rfa2EcODadE-_text-transform: none;
  --mixin-rfa2EcODadE-_line-height: 1.5;
  --mixin-rfa2EcODadE-_letter-spacing: normal;
  --mixin-rfa2EcODadE-_white-space: pre-wrap;
  --mixin-rfa2EcODadE-_user-select: text;
  --mixin-rfa2EcODadE-_text-decoration-line: none;
  --mixin-rfa2EcODadE-_text-overflow: clip;
  --mixin-W8XkGcbp6dS2_color: #000000;
  --mixin-W8XkGcbp6dS2_font-weight: 700;
  --mixin-W8XkGcbp6dS2_font-size: 60px;
  --mixin-W8XkGcbp6dS2_line-height: 1;
  --mixin-W8XkGcbp6dS2_letter-spacing: -1px;
  --mixin-W8XkGcbp6dS2_white-space: pre-wrap;
  --mixin-IMIe1APYTCwm_color: #000000;
  --mixin-IMIe1APYTCwm_font-size: 45px;
  --mixin-IMIe1APYTCwm_font-weight: 700;
  --mixin-IMIe1APYTCwm_letter-spacing: -0.5px;
  --mixin-IMIe1APYTCwm_line-height: 1.1;
  --mixin-IMIe1APYTCwm_white-space: pre-wrap;
  --mixin-SjiHz5gz-_n9_color: #030712;
  --mixin-SjiHz5gz-_n9_text-decoration-line: underline;
  --mixin-SjiHz5gz-_n9_white-space: pre-wrap;
  --mixin-BE4qCI3FZhr0_color: #000000;
  --mixin-BE4qCI3FZhr0_font-size: 35px;
  --mixin-BE4qCI3FZhr0_font-weight: 600;
  --mixin-BE4qCI3FZhr0_line-height: 1.2;
  --mixin-BE4qCI3FZhr0_white-space: pre-wrap;
  --mixin-BXk17MhSozWK_color: #000000;
  --mixin-BXk17MhSozWK_font-size: 24px;
  --mixin-BXk17MhSozWK_font-weight: 600;
  --mixin-BXk17MhSozWK_line-height: 1.3;
  --mixin-BXk17MhSozWK_white-space: pre-wrap;
  --mixin-5RJ1kZS_Hehd_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-5RJ1kZS_Hehd_border-bottom-color: #dddddd;
  --mixin-5RJ1kZS_Hehd_border-bottom-style: solid;
  --mixin-5RJ1kZS_Hehd_border-bottom-width: 1px;
  --mixin-5RJ1kZS_Hehd_border-left-color: #dddddd;
  --mixin-5RJ1kZS_Hehd_border-left-style: solid;
  --mixin-5RJ1kZS_Hehd_border-left-width: 1px;
  --mixin-5RJ1kZS_Hehd_border-right-color: #dddddd;
  --mixin-5RJ1kZS_Hehd_border-right-style: solid;
  --mixin-5RJ1kZS_Hehd_border-right-width: 1px;
  --mixin-5RJ1kZS_Hehd_border-top-color: #dddddd;
  --mixin-5RJ1kZS_Hehd_border-top-style: solid;
  --mixin-5RJ1kZS_Hehd_border-top-width: 1px;
  --mixin-5RJ1kZS_Hehd_border-bottom-left-radius: 3px;
  --mixin-5RJ1kZS_Hehd_border-bottom-right-radius: 3px;
  --mixin-5RJ1kZS_Hehd_border-top-left-radius: 3px;
  --mixin-5RJ1kZS_Hehd_border-top-right-radius: 3px;
  --mixin-5RJ1kZS_Hehd_font-family: "Inconsolata";
  --mixin-5RJ1kZS_Hehd_padding-bottom: 1px;
  --mixin-5RJ1kZS_Hehd_padding-left: 4px;
  --mixin-5RJ1kZS_Hehd_padding-right: 4px;
  --mixin-5RJ1kZS_Hehd_padding-top: 1px;
  --mixin-5RJ1kZS_Hehd_white-space: pre-wrap;
  --mixin-ACiTIK2grBHp_border-left-color: #dddddd;
  --mixin-ACiTIK2grBHp_border-left-style: solid;
  --mixin-ACiTIK2grBHp_border-left-width: 3px;
  --mixin-ACiTIK2grBHp_color: #888888;
  --mixin-ACiTIK2grBHp_padding-left: 10px;
  --mixin-ACiTIK2grBHp_white-space: pre-wrap;
  --mixin-04nRkkzyTlYo_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-04nRkkzyTlYo_border-bottom-color: #dddddd;
  --mixin-04nRkkzyTlYo_border-bottom-style: solid;
  --mixin-04nRkkzyTlYo_border-bottom-width: 1px;
  --mixin-04nRkkzyTlYo_border-left-color: #dddddd;
  --mixin-04nRkkzyTlYo_border-left-style: solid;
  --mixin-04nRkkzyTlYo_border-left-width: 1px;
  --mixin-04nRkkzyTlYo_border-right-color: #dddddd;
  --mixin-04nRkkzyTlYo_border-right-style: solid;
  --mixin-04nRkkzyTlYo_border-right-width: 1px;
  --mixin-04nRkkzyTlYo_border-top-color: #dddddd;
  --mixin-04nRkkzyTlYo_border-top-style: solid;
  --mixin-04nRkkzyTlYo_border-top-width: 1px;
  --mixin-04nRkkzyTlYo_border-bottom-left-radius: 3px;
  --mixin-04nRkkzyTlYo_border-bottom-right-radius: 3px;
  --mixin-04nRkkzyTlYo_border-top-left-radius: 3px;
  --mixin-04nRkkzyTlYo_border-top-right-radius: 3px;
  --mixin-04nRkkzyTlYo_font-family: "Inconsolata";
  --mixin-04nRkkzyTlYo_padding-bottom: 3px;
  --mixin-04nRkkzyTlYo_padding-left: 6px;
  --mixin-04nRkkzyTlYo_padding-right: 6px;
  --mixin-04nRkkzyTlYo_padding-top: 3px;
  --mixin-04nRkkzyTlYo_white-space: pre-wrap;
  --mixin-ah5RmjKDUo0x_display: flex;
  --mixin-ah5RmjKDUo0x_flex-direction: column;
  --mixin-ah5RmjKDUo0x_align-items: stretch;
  --mixin-ah5RmjKDUo0x_justify-content: flex-start;
  --mixin-ah5RmjKDUo0x_list-style-position: outside;
  --mixin-ah5RmjKDUo0x_padding-left: 40px;
  --mixin-ah5RmjKDUo0x_position: relative;
  --mixin-ah5RmjKDUo0x_list-style-type: disc;
  --mixin-ah5RmjKDUo0x_white-space: pre-wrap;
  --mixin-ORlyi-8Lfu7D_display: flex;
  --mixin-ORlyi-8Lfu7D_flex-direction: column;
  --mixin-ORlyi-8Lfu7D_align-items: stretch;
  --mixin-ORlyi-8Lfu7D_justify-content: flex-start;
  --mixin-ORlyi-8Lfu7D_list-style-position: outside;
  --mixin-ORlyi-8Lfu7D_padding-left: 40px;
  --mixin-ORlyi-8Lfu7D_position: relative;
  --mixin-ORlyi-8Lfu7D_list-style-type: decimal;
  --mixin-ORlyi-8Lfu7D_white-space: pre-wrap;
  --mixin-O_v0RwD8EwcV_color: #000000;
  --mixin-O_v0RwD8EwcV_font-size: 20px;
  --mixin-O_v0RwD8EwcV_font-weight: 600;
  --mixin-O_v0RwD8EwcV_line-height: 1.5;
  --mixin-O_v0RwD8EwcV_white-space: pre-wrap;
  --mixin-obJHfqpK8uPk_color: #000000;
  --mixin-obJHfqpK8uPk_font-size: 16px;
  --mixin-obJHfqpK8uPk_font-weight: 600;
  --mixin-obJHfqpK8uPk_line-height: 1.5;
  --mixin-obJHfqpK8uPk_white-space: pre-wrap;
  --mixin-YIOacD4X3eMq_color: #545b5f;
  --mixin-YIOacD4X3eMq_text-decoration-line: underline;
  --mixin-YIOacD4X3eMq_white-space: pre-wrap;
  --mixin-uifmAymZwhF3_white-space: pre-wrap;
  --mixin-p8TY6oN7g6GP_white-space: pre-wrap;
  --mixin-lhlTFd7pifkW_white-space: pre-wrap;
  --mixin-bZboAKHVxBgJ_white-space: pre-wrap;
  --mixin-EtCE1MlWu5kH_white-space: pre-wrap;
  --mixin-aDSc8NkjmTBi_white-space: pre-wrap;
  --mixin-tdsrJyO0xAdD_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-rfa2EcODadE-_font-family);
  font-size: var(--mixin-rfa2EcODadE-_font-size);
  font-weight: var(--mixin-rfa2EcODadE-_font-weight);
  font-style: var(--mixin-rfa2EcODadE-_font-style);
  color: var(--mixin-rfa2EcODadE-_color);
  text-align: var(--mixin-rfa2EcODadE-_text-align);
  text-transform: var(--mixin-rfa2EcODadE-_text-transform);
  line-height: var(--mixin-rfa2EcODadE-_line-height);
  letter-spacing: var(--mixin-rfa2EcODadE-_letter-spacing);
  white-space: var(--mixin-rfa2EcODadE-_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-W8XkGcbp6dS2_color);
  font-weight: var(--mixin-W8XkGcbp6dS2_font-weight);
  font-size: var(--mixin-W8XkGcbp6dS2_font-size);
  line-height: var(--mixin-W8XkGcbp6dS2_line-height);
  letter-spacing: var(--mixin-W8XkGcbp6dS2_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-IMIe1APYTCwm_color);
  font-size: var(--mixin-IMIe1APYTCwm_font-size);
  font-weight: var(--mixin-IMIe1APYTCwm_font-weight);
  letter-spacing: var(--mixin-IMIe1APYTCwm_letter-spacing);
  line-height: var(--mixin-IMIe1APYTCwm_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-SjiHz5gz-_n9_color);
  text-decoration-line: var(--mixin-SjiHz5gz-_n9_text-decoration-line);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-BE4qCI3FZhr0_color);
  font-size: var(--mixin-BE4qCI3FZhr0_font-size);
  font-weight: var(--mixin-BE4qCI3FZhr0_font-weight);
  line-height: var(--mixin-BE4qCI3FZhr0_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-BXk17MhSozWK_color);
  font-size: var(--mixin-BXk17MhSozWK_font-size);
  font-weight: var(--mixin-BXk17MhSozWK_font-weight);
  line-height: var(--mixin-BXk17MhSozWK_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-5RJ1kZS_Hehd_font-family);
  border-radius: var(--mixin-5RJ1kZS_Hehd_border-top-left-radius)
    var(--mixin-5RJ1kZS_Hehd_border-top-right-radius)
    var(--mixin-5RJ1kZS_Hehd_border-bottom-right-radius)
    var(--mixin-5RJ1kZS_Hehd_border-bottom-left-radius);
  padding: var(--mixin-5RJ1kZS_Hehd_padding-top)
    var(--mixin-5RJ1kZS_Hehd_padding-right)
    var(--mixin-5RJ1kZS_Hehd_padding-bottom)
    var(--mixin-5RJ1kZS_Hehd_padding-left);
  border-top: var(--mixin-5RJ1kZS_Hehd_border-top-width)
    var(--mixin-5RJ1kZS_Hehd_border-top-style)
    var(--mixin-5RJ1kZS_Hehd_border-top-color);
  border-right: var(--mixin-5RJ1kZS_Hehd_border-right-width)
    var(--mixin-5RJ1kZS_Hehd_border-right-style)
    var(--mixin-5RJ1kZS_Hehd_border-right-color);
  border-bottom: var(--mixin-5RJ1kZS_Hehd_border-bottom-width)
    var(--mixin-5RJ1kZS_Hehd_border-bottom-style)
    var(--mixin-5RJ1kZS_Hehd_border-bottom-color);
  border-left: var(--mixin-5RJ1kZS_Hehd_border-left-width)
    var(--mixin-5RJ1kZS_Hehd_border-left-style)
    var(--mixin-5RJ1kZS_Hehd_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ACiTIK2grBHp_color);
  padding-left: var(--mixin-ACiTIK2grBHp_padding-left);
  border-left: var(--mixin-ACiTIK2grBHp_border-left-width)
    var(--mixin-ACiTIK2grBHp_border-left-style)
    var(--mixin-ACiTIK2grBHp_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-04nRkkzyTlYo_font-family);
  border-radius: var(--mixin-04nRkkzyTlYo_border-top-left-radius)
    var(--mixin-04nRkkzyTlYo_border-top-right-radius)
    var(--mixin-04nRkkzyTlYo_border-bottom-right-radius)
    var(--mixin-04nRkkzyTlYo_border-bottom-left-radius);
  padding: var(--mixin-04nRkkzyTlYo_padding-top)
    var(--mixin-04nRkkzyTlYo_padding-right)
    var(--mixin-04nRkkzyTlYo_padding-bottom)
    var(--mixin-04nRkkzyTlYo_padding-left);
  border-top: var(--mixin-04nRkkzyTlYo_border-top-width)
    var(--mixin-04nRkkzyTlYo_border-top-style)
    var(--mixin-04nRkkzyTlYo_border-top-color);
  border-right: var(--mixin-04nRkkzyTlYo_border-right-width)
    var(--mixin-04nRkkzyTlYo_border-right-style)
    var(--mixin-04nRkkzyTlYo_border-right-color);
  border-bottom: var(--mixin-04nRkkzyTlYo_border-bottom-width)
    var(--mixin-04nRkkzyTlYo_border-bottom-style)
    var(--mixin-04nRkkzyTlYo_border-bottom-color);
  border-left: var(--mixin-04nRkkzyTlYo_border-left-width)
    var(--mixin-04nRkkzyTlYo_border-left-style)
    var(--mixin-04nRkkzyTlYo_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-ah5RmjKDUo0x_display);
  flex-direction: var(--mixin-ah5RmjKDUo0x_flex-direction);
  align-items: var(--mixin-ah5RmjKDUo0x_align-items);
  justify-content: var(--mixin-ah5RmjKDUo0x_justify-content);
  list-style-position: var(--mixin-ah5RmjKDUo0x_list-style-position);
  padding-left: var(--mixin-ah5RmjKDUo0x_padding-left);
  position: var(--mixin-ah5RmjKDUo0x_position);
  list-style-type: var(--mixin-ah5RmjKDUo0x_list-style-type);
  flex-column-gap: var(--mixin-ah5RmjKDUo0x_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ORlyi-8Lfu7D_display);
  flex-direction: var(--mixin-ORlyi-8Lfu7D_flex-direction);
  align-items: var(--mixin-ORlyi-8Lfu7D_align-items);
  justify-content: var(--mixin-ORlyi-8Lfu7D_justify-content);
  list-style-position: var(--mixin-ORlyi-8Lfu7D_list-style-position);
  padding-left: var(--mixin-ORlyi-8Lfu7D_padding-left);
  position: var(--mixin-ORlyi-8Lfu7D_position);
  list-style-type: var(--mixin-ORlyi-8Lfu7D_list-style-type);
  flex-column-gap: var(--mixin-ORlyi-8Lfu7D_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-O_v0RwD8EwcV_color);
  font-size: var(--mixin-O_v0RwD8EwcV_font-size);
  font-weight: var(--mixin-O_v0RwD8EwcV_font-weight);
  line-height: var(--mixin-O_v0RwD8EwcV_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-obJHfqpK8uPk_color);
  font-size: var(--mixin-obJHfqpK8uPk_font-size);
  font-weight: var(--mixin-obJHfqpK8uPk_font-weight);
  line-height: var(--mixin-obJHfqpK8uPk_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-YIOacD4X3eMq_color);
  text-decoration-line: var(--mixin-YIOacD4X3eMq_text-decoration-line);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}

:where(.root_reset) a:where(.a):not(:hover),
a:where(.root_reset.a):not(:hover),
:where(.root_reset .__wab_expr_html_text) a:not(:hover),
:where(.root_reset_tags) a:not(:hover),
a:where(.root_reset_tags):not(:hover) {
}

:where(.root_reset) a:where(.a):active,
a:where(.root_reset.a):active,
:where(.root_reset .__wab_expr_html_text) a:active,
:where(.root_reset_tags) a:active,
a:where(.root_reset_tags):active {
}

:where(.root_reset) a:where(.a):focus,
a:where(.root_reset.a):focus,
:where(.root_reset .__wab_expr_html_text) a:focus,
:where(.root_reset_tags) a:focus,
a:where(.root_reset_tags):focus {
}

:where(.root_reset) a:where(.a):focus-visible,
a:where(.root_reset.a):focus-visible,
:where(.root_reset .__wab_expr_html_text) a:focus-visible,
:where(.root_reset_tags) a:focus-visible,
a:where(.root_reset_tags):focus-visible {
}

:where(.root_reset) a:where(.a):link,
a:where(.root_reset.a):link,
:where(.root_reset .__wab_expr_html_text) a:link,
:where(.root_reset_tags) a:link,
a:where(.root_reset_tags):link {
}
