.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  position: relative;
  justify-self: flex-start;
  row-gap: 0px;
  min-width: 0;
  border-radius: 20px;
  padding: 30px 0px 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 60px;
  color: #000000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  flex-shrink: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fafafa;
  box-shadow: 0px 4px 16px 0px var(--token-GH89f1fW2c80);
  row-gap: 20px;
  min-width: 0;
  border-radius: 20px;
  padding: 50px 30px 30px;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UiYSU5SKARrZ);
  color: var(--token-LlB3dvOZfuAV);
  text-align: center;
  min-width: 0;
}
