.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: auto;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 4px 16px 0px var(--token-GH89f1fW2c80);
  position: relative;
  justify-self: flex-start;
  background: #ffffff;
  row-gap: 20px;
  border-radius: 20px;
  padding: 40px 20px;
  border: 1px solid var(--token-GH89f1fW2c80);
}
.freeBox__xc2G6 {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-ii9HamUlZktr);
  border-radius: 90px;
  padding: 20px;
}
.freeBox__f9B7W {
  display: flex;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.svg___6Hpbr {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  color: #000000;
  height: 40px;
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  border-radius: 90px;
}
.img > picture > img {
  object-fit: cover;
}
.text__ullRr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-pHFUsVAOuPpQ);
  font-weight: 600;
  color: var(--token-LlB3dvOZfuAV);
  min-width: 0;
}
.text__dmhZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-lCn1ExrWgPG1);
  color: var(--token-Ul9vuJeMYcWv);
  min-width: 0;
}
