.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  justify-self: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 30px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__eWuby {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 0px;
}
.freeBox__eWuby > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__eWuby > :global(.__wab_flex-container) > *,
.freeBox__eWuby > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eWuby > :global(.__wab_flex-container) > picture > img,
.freeBox__eWuby
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  min-width: 0;
}
.h2__mGdy {
  font-size: 60px;
}
.freeBox__pnCwL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px;
}
.freeBox__pnCwL > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__pnCwL > :global(.__wab_flex-container) > *,
.freeBox__pnCwL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pnCwL > :global(.__wab_flex-container) > picture > img,
.freeBox__pnCwL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2___4XQvX {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-aZWTYPqSs5CF);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___4XQvX {
    font-size: var(--token-UiYSU5SKARrZ);
  }
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  color: var(--token-Ul9vuJeMYcWv);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    font-size: var(--token-lCn1ExrWgPG1);
  }
}
