.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  min-width: 0;
  border-radius: 10px;
  padding: var(--token-lGV6QY4vHg3c) 70px;
}
.slotTargetChildren {
  color: #ffffff;
}
