.navBar {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: brightness(100%);
  position: relative;
  row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-backdrop-filter: brightness(100%);
  padding: 10px;
  border-top: 1px solid var(--token-GH89f1fW2c80);
  border-bottom: 1px solid var(--token-GH89f1fW2c80);
}
@media (max-width: 1200px) {
  .navBar {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar {
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px 10px;
  }
}
.freeBox__iiH83 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: auto;
  overflow: hidden;
  flex-shrink: 1;
  column-gap: 16px;
  min-width: 0;
  padding: 20px;
  border-top: 1px solid var(--token-GH89f1fW2c80);
  border-bottom: 1px solid var(--token-GH89f1fW2c80);
}
@media (max-width: 1200px) {
  .freeBox__iiH83 {
    padding: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iiH83 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-width: 0px;
    border-bottom-width: 0px;
    column-gap: 16px;
    row-gap: 0px;
    padding: 0px;
  }
}
.link__n5Go {
  position: relative;
  display: flex;
}
.nataliaLogo {
  object-fit: cover;
  width: auto;
  height: 80px;
}
.nataliaLogo > picture > img {
  object-fit: cover;
}
.navigationDesktop {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  height: 100%;
  width: auto;
  column-gap: 20px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationDesktop {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 100%;
    row-gap: var(--token-_zYqzBNHbsXB);
    column-gap: 0px;
    min-height: 0;
    display: none;
  }
}
.navigationLink__txoez:global(.__wab_instance) {
  width: auto;
}
@media (max-width: 1200px) {
  .navigationLink__txoez:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__txoez:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__exOiF:global(.__wab_instance) {
  width: auto;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__exOiF:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__wcYfO:global(.__wab_instance) {
  width: auto;
}
@media (max-width: 1200px) {
  .navigationLink__wcYfO:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__wcYfO:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__q7NUy:global(.__wab_instance) {
  width: auto;
}
@media (max-width: 1200px) {
  .navigationLink__q7NUy:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__q7NUy:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__v5SRa:global(.__wab_instance) {
  width: auto;
}
@media (max-width: 1200px) {
  .navigationLink__v5SRa:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__v5SRa:global(.__wab_instance) {
    height: auto;
  }
}
.link__cg5Lw {
  display: none;
}
@media (max-width: 1200px) {
  .link__cg5Lw {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__cg5Lw {
    display: flex;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: #000000;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    color: #000000d9;
  }
}
.freeBox__dnmxV {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dnmxV {
    display: flex;
  }
}
@media (max-width: 1200px) {
  .freeBoxexpanded__dnmxVsCjkv {
    display: flex;
  }
}
.navigationMobile {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  row-gap: 20px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationMobile {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 100%;
    align-items: flex-end;
    row-gap: var(--token-_zYqzBNHbsXB);
    column-gap: 0px;
    min-height: 0;
    display: none;
  }
}
@media (max-width: 1200px) {
  .navigationMobileexpanded {
    display: flex;
  }
}
.navigationLink__nkNlY:global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__nkNlY:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__mvLYw:global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__mvLYw:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__tvZhk:global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__tvZhk:global(.__wab_instance) {
    height: auto;
  }
}
@media (max-width: 1200px) {
  .navigationLinkexpanded__tvZhksCjkv:global(.__wab_instance) {
    display: none;
  }
}
.navigationLink__lf1Ne:global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__lf1Ne:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__saAeZ:global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__saAeZ:global(.__wab_instance) {
    height: auto;
  }
}
.navigationLink__zl1H:global(.__wab_instance) {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationLink__zl1H:global(.__wab_instance) {
    height: auto;
  }
}
