.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  justify-self: flex-start;
  padding: 10px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.h1__g6ODq {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-LlB3dvOZfuAV);
  min-width: 0;
}
.h1___8FEr {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4 {
  text-align: center;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-lCn1ExrWgPG1);
  color: var(--token-q-c-dJ_9jSVB);
  min-width: 0;
}
