.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  justify-self: flex-start;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 10px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-LlB3dvOZfuAV);
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-lCn1ExrWgPG1);
  color: var(--token-Ul9vuJeMYcWv);
  min-width: 0;
}
