.body {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-A2aBjUuQlF3t);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  max-width: 2048px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
  margin: 0px auto;
}
.wrapper > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper > * {
    grid-column: 4;
  }
}
.presentation {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(1deg, #ffffff 7%, var(--token-enT25OLZl2uL) 100%);
  grid-row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 40px;
  padding: 80px 0px 61px;
  margin: 0px;
  border: 10px solid #ffffff;
}
.presentation > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .presentation {
    height: auto;
    padding: var(--token-bZk2plV-4boV) var(--token-bZk2plV-4boV) 2rem;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .presentation > * {
    grid-column: 4;
  }
}
.contact {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 100px;
  align-content: center;
  justify-items: center;
  justify-self: flex-start;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(180deg, #ffffff 26%, #f3f4f6 100%);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 0px;
  padding: 120px 0px;
  border: 0px solid #ffffff;
}
.contact > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact {
    padding: 50px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact > * {
    grid-column: 4;
  }
}
.freeBox__n86Zs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  row-gap: 40px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n86Zs {
    padding: 0px;
  }
}
.freeBox__xCRma {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 20px;
  min-width: 0;
  padding: 0px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 60px;
  text-align: left;
  color: var(--token-LlB3dvOZfuAV);
  font-weight: 500;
  user-select: none;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    width: 100%;
    max-width: 100%;
    font-size: 35px;
    text-align: center;
    min-width: 0;
  }
}
.text__fg86B {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-Ul9vuJeMYcWv);
  font-size: 18px;
  user-select: none;
  text-align: left;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fg86B {
    max-width: 100%;
    font-size: var(--token-lCn1ExrWgPG1);
  }
}
.mail {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  padding: 0px;
}
.svg__f7Sgb {
  object-fit: cover;
  max-width: auto;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.text__kWlE7 {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-LlB3dvOZfuAV);
  font-size: 18px;
  user-select: none;
  text-align: left;
  font-weight: 700;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kWlE7 {
    max-width: 100%;
    font-size: var(--token-lCn1ExrWgPG1);
  }
}
.tel {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  padding: 0px;
}
.svg__zxYm {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.text__a2OKi {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-LlB3dvOZfuAV);
  font-size: 18px;
  user-select: none;
  text-align: left;
  font-weight: 700;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__a2OKi {
    max-width: 100%;
    font-size: var(--token-lCn1ExrWgPG1);
  }
}
.formulaire {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 16px 0px var(--token-GH89f1fW2c80);
  background: var(--token-A2aBjUuQlF3t);
  row-gap: 20px;
  min-width: 0;
  border-radius: 20px;
  padding: 60px 40px;
  border: 1px solid var(--token-GH89f1fW2c80);
}
@media (min-width: 0px) and (max-width: 768px) {
  .formulaire {
    padding: 20px;
  }
}
.freeBox__k0HfF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.nomPrenom {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nomPrenom {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.prenom {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__hKo5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h3__oLkcg {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__oLkcg {
    font-size: 18px;
  }
}
.nom {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__m5N1W {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h3__jqHPp {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__jqHPp {
    font-size: 18px;
  }
}
.email {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text___2SsJe {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h3__yg7I {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__yg7I {
    font-size: 18px;
  }
}
.entreprise {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__n8AKt {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h3__un8K {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__un8K {
    font-size: 18px;
  }
}
.message {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__susZw {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h3__fiFia {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__fiFia {
    font-size: 18px;
  }
}
.inputText__pzbvg:global(.__wab_instance):global(.__wab_instance) {
  height: 112px;
  flex-shrink: 1;
  flex-grow: 1;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__mwBrh {
  position: relative;
  height: 1em;
}
.text__jEpe2 {
  white-space: pre;
  font-weight: 500;
  font-size: var(--token-UiYSU5SKARrZ);
}
.svg__zVuNg {
  position: relative;
  height: 1em;
}
.bigFooter:global(.__wab_instance) {
  position: relative;
  margin: 0px;
}
