.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-self: flex-start;
  row-gap: 20px;
  padding: 20px;
}
.svg {
  object-fit: cover;
  min-width: 100px;
  min-height: 100px;
  color: var(--token-enT25OLZl2uL);
  height: 1em;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    min-width: 75px;
    min-height: 75px;
  }
}
.svg_2 {
  min-width: 90px;
  min-height: 90px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg_2 {
    min-width: 70px;
    min-height: 70px;
  }
}
.text__wgL1D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-pHFUsVAOuPpQ);
  text-align: center;
  font-weight: 600;
  color: var(--token-LlB3dvOZfuAV);
  min-width: 0;
}
.text__ch5OM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-lCn1ExrWgPG1);
  text-align: center;
  color: var(--token-Ul9vuJeMYcWv);
  min-width: 0;
}
