.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  justify-self: flex-start;
  min-width: 0;
  border-radius: 20px;
  padding: 30px 0px 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 60px;
  color: #000000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  flex-shrink: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fafafa;
  box-shadow: 0px 4px 16px 0px var(--token-GH89f1fW2c80);
  min-width: 0;
  border-radius: 20px;
  padding: 50px 30px 30px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__tYCp {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UiYSU5SKARrZ);
  color: var(--token-LlB3dvOZfuAV);
  text-align: center;
  min-width: 0;
}
.text__w8BTs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-lCn1ExrWgPG1);
  color: var(--token-Ul9vuJeMYcWv);
  min-width: 0;
}
