.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  box-shadow: 0px 4px 16px 0px var(--token-GH89f1fW2c80);
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 20px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 3px;
}
@media (max-width: 1200px) {
  .root {
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 1200px) {
  .root > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
    min-height: 0;
  }
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 80px;
  margin-top: calc(0px + 3px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  max-height: 80px;
  background: var(--token-ii9HamUlZktr);
  min-height: 80px;
  min-width: 80px;
  border-radius: var(--token-ebjHh15HwWpQ);
  padding: 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.img {
  object-fit: cover;
  max-width: 40px;
}
.img > picture > img {
  object-fit: cover;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  text-align: center;
  align-self: center;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  letter-spacing: 0px;
  min-width: 0;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    font-size: 16px;
    left: auto;
    top: auto;
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-q-c-dJ_9jSVB);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    font-size: 14px;
  }
}
