._1 {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  justify-self: flex-start;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  ._1 {
    padding: 8px;
  }
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5 {
  font-size: var(--token-UiYSU5SKARrZ);
  color: var(--token-LlB3dvOZfuAV);
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5 {
    font-size: 16px;
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: var(--token-lCn1ExrWgPG1);
  color: var(--token-q-c-dJ_9jSVB);
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    font-size: 14px;
  }
}
