.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-rBBopEGtF4-U);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-_zYqzBNHbsXB);
  font-family: var(--token-HF38UOOMN7P5);
  font-size: var(--token-lCn1ExrWgPG1);
  line-height: var(--token-lHL2worukueC);
  outline-style: none;
  text-decoration-line: none;
  color: var(--token-rBBopEGtF4-U);
  justify-content: center;
  align-items: center;
  border-radius: var(--token-ebjHh15HwWpQ);
  padding: 10px 20px;
  border-width: 0px;
}
.root[data-hovered]:global(.__wab_instance) {
  background: #474b51;
}
.root[data-pressed]:global(.__wab_instance) {
  background: #9b9393;
}
.root[data-focus-visible]:global(.__wab_instance) {
  border: 2px solid #ffffff;
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  background: var(--token-_YlvzaAWV7H7);
}
.rootcolor_neutral:global(.__wab_instance) {
  background: none;
  color: var(--token-rBBopEGtF4-U);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-GH89f1fW2c80);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-xHc67yx8GOYO);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-JzJHE_3Ppbuz);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-hfIR4DHKFykS);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-NximLGmSk6-G);
  font-size: var(--token-ngDkrxL7BhNF);
  column-gap: var(--token-6ew92jJPyswG);
  row-gap: 0px;
  border-radius: var(--token-bZk2plV-4boV);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-ngDkrxL7BhNF);
  line-height: var(--token-NximLGmSk6-G);
  column-gap: var(--token-bZk2plV-4boV);
  row-gap: 0px;
  border-radius: var(--token-bZk2plV-4boV);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-UiYSU5SKARrZ);
  line-height: var(--token-XOJDr4OSYrSQ);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-UiYSU5SKARrZ);
  line-height: var(--token-XOJDr4OSYrSQ);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-R1_4-eGwrAdR);
  border-radius: var(--token-7nq9KFi95c0I);
}
.softBackgroundcolor_neutral {
  background: var(--token-y_FtelUOrSmI);
}
.softBackgroundcolor_muted {
  background: var(--token-FTURG8Hz9YpN);
}
.softBackgroundcolor_success {
  background: var(--token-TLY39z0Nh8Ih);
}
.softBackgroundcolor_warning {
  background: var(--token-nunNrxhsR3lj);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-_9V3SMqJPilr);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-7nq9KFi95c0I);
  border: 0px solid var(--token-bVMH4SjGp6TU);
}
.bordercolor_neutral {
  border-color: var(--token-U99MqmzUKh1N);
}
.bordercolor_muted {
  border-color: var(--token-WkXUMkQZ1NbJ);
}
.bordercolor_success {
  border-color: var(--token-oBn3c1uaZjsB);
}
.bordercolor_warning {
  border-color: var(--token-LqANoprWHKSb);
}
.bordercolor_errorDestructive {
  border-color: var(--token-5hUEFrzXv9ye);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-cZlm1avpSoGp);
}
.root[data-hovered] .interactionEffect {
  background: none;
}
.root[data-disabled] .interactionEffect {
  background: none;
}
.root[data-pressed] .interactionEffect {
  background: none;
}
.interactionEffectcolor_neutral {
  background: var(--token-enT25OLZl2uL);
  border-radius: var(--token-lGV6QY4vHg3c);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__pgN1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: var(--token-7nq9KFi95c0I) var(--token-cZlm1avpSoGp);
}
.freeBoxsize_extraSmall__pgN1K8Kod {
  padding: var(--token-bZk2plV-4boV) var(--token-7nq9KFi95c0I);
}
.freeBoxsize_small__pgN1LrSJq {
  padding: var(--token-7nq9KFi95c0I) var(--token-_zYqzBNHbsXB);
}
.freeBoxsize_large__pgN1PWpuu {
  padding-top: var(--token-bZk2plV-4boV);
  padding-bottom: var(--token-bZk2plV-4boV);
}
.freeBoxsize_extraLarge__pgN1Z1KrZ {
  padding-left: var(--token-z2mzL7cEVlS3);
  padding-right: var(--token-z2mzL7cEVlS3);
}
.freeBoxroundedFull__pgN17Mabr {
  padding-right: var(--token-z2mzL7cEVlS3);
  padding-left: var(--token-z2mzL7cEVlS3);
}
.freeBox__jcul {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__jculCupEm {
  display: flex;
}
.slotTargetStart {
  color: var(--token-P6hRRloIUAK0);
}
.slotTargetStartcolor_neutral {
  color: var(--token-UT64dUlT54NH);
}
.slotTargetStartcolor_muted {
  color: var(--token-Qibr8t_tk64_);
}
.slotTargetStartcolor_success {
  color: var(--token-nJdPZyCaPOBe);
}
.slotTargetStartcolor_warning {
  color: var(--token-NQKU8uis0_1W);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-1B7JM1D69yfh);
}
.slotTargetStarttype_soft {
  color: var(--token-BibvNlLTUPJc);
}
.slotTargetStarttype_bordered {
  color: var(--token-BibvNlLTUPJc);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-ngDkrxL7BhNF);
}
.slotTargetStartsize_small {
  font-size: var(--token-ngDkrxL7BhNF);
}
.slotTargetStartsize_large {
  font-size: var(--token-UiYSU5SKARrZ);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-UiYSU5SKARrZ);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-lDqO-Xll9oY7);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-lDqO-Xll9oY7);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-eVUmbR6oh0vU);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-eVUmbR6oh0vU);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-oMiLkQlRlp4N);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-oMiLkQlRlp4N);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-5VTH1GtNZdiV);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-5VTH1GtNZdiV);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-eUXq5J66Ds8-);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-eUXq5J66Ds8-);
}
.svg__cJ2Jj {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: #ffffff;
  font-size: var(--token-lCn1ExrWgPG1);
  white-space: pre;
}
.slotTargetLabelcolor_neutral {
  color: var(--token-UT64dUlT54NH);
}
.slotTargetLabelcolor_muted {
  color: var(--token-Qibr8t_tk64_);
}
.slotTargetLabelcolor_success {
  color: var(--token-nJdPZyCaPOBe);
}
.slotTargetLabelcolor_warning {
  color: var(--token-NQKU8uis0_1W);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-1B7JM1D69yfh);
}
.slotTargetLabeltype_soft {
  color: var(--token-BibvNlLTUPJc);
}
.slotTargetLabeltype_bordered {
  color: var(--token-BibvNlLTUPJc);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-lDqO-Xll9oY7);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-eVUmbR6oh0vU);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-lDqO-Xll9oY7);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-oMiLkQlRlp4N);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-eVUmbR6oh0vU);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-5VTH1GtNZdiV);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-oMiLkQlRlp4N);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-eUXq5J66Ds8-);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-5VTH1GtNZdiV);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-eUXq5J66Ds8-);
}
.text__eUboG {
  white-space: pre;
  font-weight: 500;
  font-size: var(--token-UiYSU5SKARrZ);
}
.freeBox___52H {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___52HjTy {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-P6hRRloIUAK0);
}
.slotTargetEndcolor_neutral {
  color: var(--token-UT64dUlT54NH);
}
.slotTargetEndcolor_muted {
  color: var(--token-Qibr8t_tk64_);
}
.slotTargetEndcolor_success {
  color: var(--token-nJdPZyCaPOBe);
}
.slotTargetEndcolor_warning {
  color: var(--token-NQKU8uis0_1W);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-1B7JM1D69yfh);
}
.slotTargetEndtype_soft {
  color: var(--token-BibvNlLTUPJc);
}
.slotTargetEndtype_bordered {
  color: var(--token-BibvNlLTUPJc);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-ngDkrxL7BhNF);
}
.slotTargetEndsize_small {
  font-size: var(--token-ngDkrxL7BhNF);
}
.slotTargetEndsize_large {
  font-size: var(--token-UiYSU5SKARrZ);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-UiYSU5SKARrZ);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-lDqO-Xll9oY7);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-lDqO-Xll9oY7);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-eVUmbR6oh0vU);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-eVUmbR6oh0vU);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-oMiLkQlRlp4N);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-oMiLkQlRlp4N);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-5VTH1GtNZdiV);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-5VTH1GtNZdiV);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-eUXq5J66Ds8-);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-eUXq5J66Ds8-);
}
.svg__r27MZ {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
