.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    width: auto;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
  }
}
.img__aqPsM {
  object-fit: cover;
  width: 100%;
  height: 40px;
  margin-right: 0px;
  margin-bottom: 0px;
  max-width: 40px;
  min-width: 0;
}
.img__aqPsM > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__aqPsM {
    align-self: center;
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    max-width: 30px;
  }
}
.imgwhite__aqPsMVXuk {
  opacity: 1;
}
.img__pds2F {
  object-fit: cover;
  width: 100%;
  height: 40px;
  margin-right: 0px;
  margin-bottom: 0px;
  max-width: 40px;
  min-width: 0;
}
.img__pds2F > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__pds2F {
    align-self: center;
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    max-width: 30px;
  }
}
.imgwhite__pds2FVXuk {
  opacity: 1;
}
.imgsmallLogo__pds2FzCvBq {
  max-width: 50px;
  display: none;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-J3mA70N-wqsu);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration-line: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text {
    font-size: var(--token-zGJggj0WBmcV);
    display: block;
  }
}
.textwhite {
  color: var(--token-o5QzyuxQjxLV);
}
.textsmallLogo {
  display: none;
}
