.caCetaitAvant {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-rxMWCxIuxqRu);
  grid-row-gap: 50px;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0px;
}
.caCetaitAvant > * {
  grid-column: 4;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
  min-width: 0;
  padding: 0px;
}
.h2 {
  height: 100%;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2 {
    text-align: center;
    font-size: var(--token-zGJggj0WBmcV);
  }
}
.cloudIamNavigationLinkPrimaryCta:global(.__wab_instance) {
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .cloudIamNavigationLinkPrimaryCta:global(.__wab_instance) {
    width: 310px;
  }
}
.text {
  font-family: "Montserrat", sans-serif;
  font-size: var(--token-wkzkOeC3ZWSV);
  font-weight: 700;
  font-style: normal;
  color: #1e3a8a;
  text-align: left;
  text-transform: none;
  line-height: var(--token-hk3LAvZuPnRb);
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
