.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  row-gap: 10px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
  border-width: 1px;
  border-color: var(--token-_LX8zWYksvaJ);
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    row-gap: 10px;
    column-gap: 0px;
    padding: 0px;
  }
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  column-gap: 20px;
  min-width: 0;
  padding: 0px;
}
.svg__jKNpf {
  object-fit: cover;
  width: 60px;
  height: 60px;
  color: var(--token-ruEH_kPMz8sH);
  flex-shrink: 0;
}
.h5 {
  position: relative;
  width: 100%;
  height: auto;
  text-align: left;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h5 {
    font-size: var(--token-dpUme9f3kxzo);
  }
}
.svg__sbHzh {
  object-fit: cover;
  height: 50px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__sbHzh {
    height: 40px;
  }
}
.svg__kLpIw {
  object-fit: cover;
  height: 50px;
}
.h6 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #1e3a8a;
  padding-bottom: 10px;
  line-height: 1;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h6 {
    font-size: var(--token-y8m-emOk2tJG);
  }
}
