.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  column-gap: 10px;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.svg__xPwga {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-_LX8zWYksvaJ);
  height: 30px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text {
    font-size: var(--token-dpUme9f3kxzo);
  }
}
