.root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  column-gap: var(--token-B2yHbkVn4nSC);
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    justify-content: center;
    align-items: center;
    height: 50px;
    column-gap: 0px;
    row-gap: 0px;
  }
}
.slotTargetLabel {
  color: var(--token-ruEH_kPMz8sH);
}
@media (min-width: 0px) and (max-width: 930px) {
  .slotTargetLabel {
    font-size: 12px;
    line-height: 12;
  }
}
.root:hover .slotTargetLabel {
  color: #eca200;
}
.root:active .slotTargetLabel {
  color: #d79501;
}
.text__ppH4N {
  white-space: pre;
  text-align: left;
  font-weight: 400;
  font-size: var(--token-y8m-emOk2tJG);
  color: var(--token-D5datrW5yy5e);
}
.svg__wklCq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-D5datrW5yy5e);
  height: 1em;
}
