.root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 544px;
  max-height: 563px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 544px;
  background: var(--token-o5QzyuxQjxLV);
  box-shadow: 4px 6px 50px 0px #d0d0d026;
  margin-right: 0px;
  margin-top: 0px;
  border-radius: 20px;
  padding: 166px 60px 108px 81px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox {
    padding: 50px 40px;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img {
    max-width: 50px;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 364px;
  padding-top: 52px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3 {
    font-size: 22px;
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 409px;
  padding-top: 32px;
  font-size: 18px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text {
    font-size: 18px;
  }
}
