.root {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  column-gap: 0px;
  position: relative;
  width: auto;
  height: auto;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.rootbackground_dark {
  background: #1c1c1e;
}
.rootbackground_gray {
  background: #f2f2f7;
}
.rootsize_fullContentWidth {
  padding-top: 0px;
}
.rootsize_fullContentGallery {
  padding: 64px 0px;
}
.rootsize_mobile {
  padding-left: 18px;
  padding-right: 18px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  background: none;
  padding: 0px;
}
.freeBoxsize_fullContentWidth {
  max-width: none;
}
.freeBoxsize_fullContentGallery {
  max-width: 100%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0;
}
.freeBoxsize_mobile {
  padding: 0px;
}
