.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 20px;
  width: 100%;
  position: relative;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    justify-content: center;
    column-gap: 0px;
  }
}
.freeBox___6DVle {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #1e3a8a;
  border-radius: 8px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___6DVle {
    justify-content: center;
    align-items: flex-start;
  }
}
.freeBoxjaune___6DVlehBdFa {
  background: var(--token-ruEH_kPMz8sH);
}
.svg__u2P5P {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox___6LSr8 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___9LC21 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 4px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___9LC21 {
    align-items: center;
    justify-content: flex-start;
  }
}
.text__zShe5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__zShe5 {
    text-align: center;
  }
}
.h5 {
  text-align: left;
  font-size: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h5 {
    font-size: var(--token-dpUme9f3kxzo);
    text-align: center;
    line-height: 20px;
  }
}
.text__kEoUp {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__kEoUp {
    text-align: center;
    font-size: var(--token-SJxn0KH5ERld);
  }
}
.buttonSecondary__xHh0I:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .buttonSecondary__xHh0I:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link {
  white-space: pre;
  color: var(--token-ruEH_kPMz8sH);
  text-align: left;
  font-weight: 600;
}
.buttonSecondary__oEvlu:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (min-width: 0px) and (max-width: 930px) {
  .buttonSecondary__oEvlu:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.text__ly30I {
  white-space: pre;
  color: var(--token-_LX8zWYksvaJ);
  text-align: left;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__ly30I {
    display: none;
  }
}
