.root:global(.__wab_instance) {
  position: relative;
  color: #030712;
  font-family: var(--token-iEpbA7s1dE2F);
  font-size: var(--token-YRLpiKJWMvDT);
  line-height: var(--token-aFhewT50aNqv);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-XSeuXk4h0rWJ);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-uKVS1HgZbpDC);
  line-height: var(--token-x3_5bCU4Udw4);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-wkzkOeC3ZWSV);
  line-height: var(--token-Wc7gymmVv9Ec);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: #6b7280;
  display: block;
}
.textrequirementIndicator_required {
  color: #dc2626;
  display: block;
}
