.caCetaitAvant {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-rxMWCxIuxqRu);
  grid-row-gap: 50px;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0px;
}
.caCetaitAvant > * {
  grid-column: 4;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
  min-width: 0;
  padding: 0px;
}
.h2 {
  height: 100%;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2 {
    text-align: center;
    font-size: var(--token-zGJggj0WBmcV);
  }
}
.link {
  display: flex;
}
.buttonPrimary:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__fvKcm {
  position: relative;
  height: 1em;
}
.text {
  white-space: pre;
  color: #eeeeee;
}
.svg__w2TCw {
  position: relative;
  height: 1em;
}
