.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #f2f2f7;
  width: 100%;
  min-width: 0;
  padding: 50px 0px;
  border-width: 1px;
  border-style: none;
}
.freeBox__zx4Xy {
  display: flex;
  position: relative;
  max-width: var(--token-g2ytubvyEq5L);
  flex-direction: row;
  width: 100%;
  column-gap: 30px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zx4Xy {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.logo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo {
    align-items: stretch;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: nowrap;
    align-content: stretch;
    column-gap: 0px;
  }
}
.logo__tbr6A:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
  left: auto;
  top: auto;
  right: auto;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo__tbr6A:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
    left: auto;
    top: auto;
    right: auto;
  }
}
.h6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h6 {
    text-align: center;
    font-size: var(--token-_vZcWegs4AvP);
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  align-self: center;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img {
    align-self: center;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .menu {
    row-gap: 0px;
    column-gap: 0px;
  }
}
.h4__f0Bzy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__f0Bzy {
    text-align: center;
    font-size: var(--token-h44X3KXzj2JM);
  }
}
.link__tGqw {
  align-self: flex-start;
  display: flex;
  font-size: 12px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__tGqw {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    column-gap: 0px;
  }
}
.text___4Uvn4 {
  white-space: pre;
  color: #1e3a8a;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___4Uvn4 {
    text-align: left;
    align-self: center;
    position: relative;
    left: auto;
    top: auto;
    z-index: 1;
  }
}
.link__kMnH {
  align-self: flex-start;
  display: flex;
  font-size: 12px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__kMnH {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    column-gap: 0px;
  }
}
.text__bQcoL {
  white-space: pre;
  color: #1e3a8a;
}
.link__j9EzO {
  align-self: flex-start;
  display: flex;
  font-size: 12px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__j9EzO {
    align-self: center;
  }
}
.text__sFjyl {
  white-space: pre;
  color: #1e3a8a;
  align-self: auto;
}
.entreprise {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .entreprise {
    row-gap: 0px;
    column-gap: 0px;
  }
}
.h4__ddLmx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__ddLmx {
    align-self: center;
    text-align: center;
    font-size: var(--token-h44X3KXzj2JM);
  }
}
.link__j2VOg {
  align-self: flex-start;
  display: flex;
  font-size: 12px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__j2VOg {
    align-self: center;
  }
}
.text__ubTab {
  white-space: pre;
  color: #1e3a8a;
}
.link__lAci {
  align-self: flex-start;
  display: flex;
  font-size: 12px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__lAci {
    align-self: center;
  }
}
.text__tjzjS {
  white-space: pre;
  color: #1e3a8a;
}
.freeBox__ygOnJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 50px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ygOnJ {
    padding-top: 30px;
  }
}
.text__dNsi0 {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__dNsi0 {
    font-size: var(--token-SJxn0KH5ERld);
  }
}
