.root:global(.__wab_instance) {
  position: relative;
  background: #ffb000;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-86D2BTODo9Hi);
  font-family: var(--token-iEpbA7s1dE2F);
  font-size: var(--token-YRLpiKJWMvDT);
  line-height: var(--token-aFhewT50aNqv);
  outline-style: none;
  border-radius: var(--token-B2yHbkVn4nSC);
  border-width: 0px;
}
.root[data-hovered]:global(.__wab_instance) {
  background:
    linear-gradient(var(--token-RiqiIFUOcJrT), var(--token-RiqiIFUOcJrT)),
    #ffb000;
}
.root[data-pressed]:global(.__wab_instance) {
  background: var(--token-gwII0HPdNfRO);
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #dbeafe;
  border-radius: var(--token-B2yHbkVn4nSC);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-B2yHbkVn4nSC);
  border: 0px solid #93c5fd;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-B2yHbkVn4nSC);
}
.freeBox__e5Yf0 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-B2yHbkVn4nSC);
  min-width: 0;
  min-height: 0;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__e5Yf0 {
    padding: 5px;
  }
}
.freeBox__weLwk {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.slotTargetStart {
  color: #f2f2f7;
}
.svg__u9Oa {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: #f2f2f7;
}
@media (min-width: 0px) and (max-width: 930px) {
  .slotTargetLabel {
    font-size: 12px;
  }
}
.text__jdghX {
  white-space: pre;
  color: #eeeeee;
}
.freeBox__ovre {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.slotTargetEnd {
  color: #f2f2f7;
}
.svg___98PBx {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
