.root {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 400px;
  background: var(--token-o5QzyuxQjxLV);
  position: relative;
  border-radius: 16px;
}
.rootprimary {
  border: 0px none var(--token-CmoQIerUO4z-);
}
.rootborders_flatLeft {
  border-radius: 20px;
}
.rootborders_flatRight {
  border-radius: 20px;
}
.rootborders_flatCenter {
  border-radius: 20px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 400px;
  align-self: center;
  min-width: 0;
  border-radius: 20px;
  padding: 8px 48px;
}
.freeBoxborders_flatLeft {
  background: #185adb;
  padding-left: 41px;
  padding-right: 41px;
}
.freeBoxborders_flatRight {
  padding-left: 41px;
  padding-right: 41px;
  border-radius: 20px;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  padding-top: 20px;
  min-width: 0;
}
.h4borders_flatLeft {
  color: var(--token-o5QzyuxQjxLV);
  font-size: 36px;
}
.h4borders_flatRight {
  font-size: 36px;
}
.h4borders_flatCenter {
  margin-top: 52px;
}
.text__je08V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 12px;
  min-width: 0;
}
.textprimary__je08VYsLpb {
  text-align: center;
}
.textborders_flatLeft__je08VT1J3X {
  color: var(--token-o5QzyuxQjxLV);
  text-align: center;
  font-size: 16px;
}
.textborders_flatRight__je08Vdod9 {
  text-align: center;
  font-size: 16px;
}
.textborders_flatCenter__je08VyCkZj {
  text-align: center;
}
.img__vc4YD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 32px;
  align-self: center;
}
.img__vc4YD > picture > img {
  object-fit: cover;
}
.columns__mqzLa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 32px 0px 0px;
}
.columns__mqzLa > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__mqzLa > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__mqzLa {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__mqzLa > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__mqzLa > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
  }
}
.columnsprimary__mqzLaYsLpb {
  --plsmc-rc-col-gap: 0px;
}
.column__bdEtW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__j6Mfk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__j6Mfk > picture > img {
  object-fit: cover;
}
.column___6Zvl5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___5CZIz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___5CZIz {
    width: 100%;
    min-width: 0;
  }
}
.textborders_flatLeft___5CZIzT1J3X {
  color: var(--token-o5QzyuxQjxLV);
  font-size: 14px;
}
.textborders_flatRight___5CZIzdod9 {
  font-size: 14px;
}
.columns__nB6Ce {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__nB6Ce > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__nB6Ce > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__nB6Ce {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__nB6Ce > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary__nB6CeYsLpb {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatLeft__nB6CeT1J3X {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatRight__nB6Cedod9 {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter__nB6CeyCkZj {
  display: none;
  --plsmc-rc-col-gap: 0px;
}
.column___9UuCr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__dwh8M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__dwh8M > picture > img {
  object-fit: cover;
}
.column__agKqI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__caVx2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__caVx2T1J3X {
  color: var(--token-o5QzyuxQjxLV);
  font-size: 14px;
}
.textborders_flatRight__caVx2Dod9 {
  font-size: 14px;
}
.columns__vGmCh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__vGmCh > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__vGmCh > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.columns__vGmCh > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__vGmCh {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
    display: none;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__vGmCh > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary__vGmChYsLpb {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatLeft__vGmCht1J3X {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter__vGmCHyCkZj {
  display: none;
  --plsmc-rc-col-gap: 0px;
}
.column__pBgdp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__tjDfN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__tjDfN > picture > img {
  object-fit: cover;
}
.column__ijRW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___8Mq4K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___8Mq4K {
    font-size: 12px;
  }
}
.textborders_flatLeft___8Mq4Kt1J3X {
  color: var(--token-o5QzyuxQjxLV);
  font-size: 14px;
}
.column__oocal {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__oocal {
    display: none;
  }
}
.columnprimary__oocalYsLpb {
  display: none;
}
.columnborders_flatLeft__oocalt1J3X {
  display: none;
}
.columnborders_flatRight__oocaLdod9 {
  display: none;
}
.columns___3ZuNs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns___3ZuNs > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns___3ZuNs > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___3ZuNs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___3ZuNs > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary___3ZuNsYsLpb {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatLeft___3ZuNsT1J3X {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter___3ZuNsyCkZj {
  display: none;
  --plsmc-rc-col-gap: 0px;
}
.column__svsc2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__rfDyk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__rfDyk > picture > img {
  object-fit: cover;
}
.column__yU3TS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__pM4Lp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__pM4LpT1J3X {
  color: var(--token-o5QzyuxQjxLV);
  font-size: 14px;
}
.columns__n4JrJ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__n4JrJ > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__n4JrJ > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__n4JrJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__n4JrJ > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary__n4JrJYsLpb {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter__n4JrJyCkZj {
  display: flex;
  --plsmc-rc-col-gap: 0px;
}
.column__e19EQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__pLlkr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__pLlkr > picture > img {
  object-fit: cover;
}
.column__vfduF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__wCebu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns__z6RIb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__z6RIb > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__z6RIb > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__z6RIb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__z6RIb > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary__z6RIbYsLpb {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter__z6RIbyCkZj {
  display: flex;
  --plsmc-rc-col-gap: 0px;
}
.column__xn4P0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___2RPB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img___2RPB > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___2RPB {
    width: 16px;
  }
}
.column__yuncN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zqI4K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns__muagi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__muagi > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__muagi > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__muagi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__muagi > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary__muagiYsLpb {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter__muagiyCkZj {
  display: flex;
  --plsmc-rc-col-gap: 0px;
}
.column___4E8Gm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___2ZBdN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img___2ZBdN > picture > img {
  object-fit: cover;
}
.column__u3Fd5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__eoIgN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns__fskc8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__fskc8 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__fskc8 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__fskc8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__fskc8 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary__fskc8YsLpb {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter__fskc8YCkZj {
  display: flex;
  --plsmc-rc-col-gap: 0px;
}
.column___8Obms {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__xwh8B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__xwh8B > picture > img {
  object-fit: cover;
}
.column__ywM55 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__xh5Xr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.img__ys5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 32px;
}
.img__ys5 > picture > img {
  object-fit: cover;
}
.text___8Ob5Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-o5QzyuxQjxLV);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  align-self: center;
  padding-top: 52px;
  min-width: 0;
}
.textborders_flatLeft___8Ob5YT1J3X {
  display: block;
}
.textborders_flatRight___8Ob5Ydod9 {
  color: var(--token-sAPe79HG-sw3);
  display: block;
}
.textborders_flatCenter___8Ob5YyCkZj {
  color: var(--token-sAPe79HG-sw3);
  display: block;
}
.text__bkdAm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 12px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__bkdAmt1J3X {
  color: var(--token-o5QzyuxQjxLV);
  font-size: 16px;
}
.textborders_flatRight__bkdAMdod9 {
  width: 100%;
  text-align: center;
  max-width: none;
  font-size: 16px;
  min-width: 0;
}
.link {
  margin-top: 52px;
  margin-bottom: 52px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__g7G2T {
  position: relative;
  height: 1em;
}
.text__tKMy {
  white-space: pre;
  color: #eeeeee;
}
.textborders_flatLeft__tKMyT1J3X {
  color: #185adb;
}
.svg___2K7G5 {
  position: relative;
  height: 1em;
}
