.body {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding-bottom: 0px;
  padding-right: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
}
.wrapper {
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: var(--token-o5QzyuxQjxLV);
  overflow: hidden;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
  max-width: 2048px;
  flex-direction: column;
  min-width: 0;
  padding: 0px 32px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .wrapper {
    padding-left: 18px;
    padding-right: 18px;
    left: auto;
    top: auto;
    right: auto;
  }
}
.navbar:global(.__wab_instance) {
  transition-property: all;
  transition-duration: 1s;
  margin-top: 0px;
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navbar:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    height: 100%;
    min-height: 0;
    margin: auto;
  }
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: none;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox__jbRtt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 30px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  line-height: 50px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2 {
    font-size: var(--token-zGJggj0WBmcV);
    line-height: 30px;
  }
}
.freeBox__yiAqC {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  column-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__yiAqC {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.freeBox__h9Pbd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h4__iMgll {
  width: auto;
  height: auto;
  text-align: center;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__iMgll {
    font-size: var(--token-h44X3KXzj2JM);
  }
}
.h4___4RCiG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4___4RCiG {
    font-size: var(--token-h44X3KXzj2JM);
  }
}
.iframe:global(.__wab_instance) {
  width: 100%;
  height: 800px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  border-width: 0px;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__l9Mn8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 52px;
  min-width: 0;
  --plsmc-rc-col-gap: 52px;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 52px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___5IKwl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__xqsg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__qOdB7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard___75CuB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard___75CuB:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__kqOj {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text {
    top: 85px;
    font-size: 14px;
  }
}
.column___6Kfz8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__eeMSb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__eeMSb:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
