.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 16px;
  width: 100%;
  position: relative;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    justify-self: flex-start;
    column-gap: 0px;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__vXoe0 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-_LX8zWYksvaJ);
  border-radius: 8px;
  padding: 8px;
}
.freeBoxjaune__vXoe0LGSqO {
  background: var(--token-ruEH_kPMz8sH);
}
.svg__q9UiH {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox__ub9P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.h6 {
  line-height: 28px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 0px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h6 {
    text-align: center;
    font-size: var(--token-_vZcWegs4AvP);
    line-height: 20px;
  }
}
.text {
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text {
    text-align: center;
    font-size: var(--token-SJxn0KH5ERld);
  }
}
