.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-XSeuXk4h0rWJ);
  min-width: 0;
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px #d1d5db;
  width: 100%;
  font-size: var(--token-YRLpiKJWMvDT);
  line-height: var(--token-aFhewT50aNqv);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-B2yHbkVn4nSC);
  padding: var(--token-B2yHbkVn4nSC) var(--token-mcokZt0Y-DNa)
    var(--token-B2yHbkVn4nSC) var(--token-WDJX9045qGJQ);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-mcokZt0Y-DNa);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-mcokZt0Y-DNa);
  flex-shrink: 0;
  border-radius: var(--token-B2yHbkVn4nSC);
  border: 1px none black;
}
.svg {
  width: var(--token-4pekwEDtstRv);
  height: var(--token-4pekwEDtstRv);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__bw5PC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
