@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Roboto%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700&display=swap");

.plasmic_tokens {
  --token-g2ytubvyEq5L: 1140px;
  --plasmic-token-content-max-width: var(--token-g2ytubvyEq5L);
  --token-o5QzyuxQjxLV: #ffffff;
  --plasmic-token-color-white: var(--token-o5QzyuxQjxLV);
  --token-zPPUih1PFGmA: 1240px;
  --plasmic-token-max-width-navbar: var(--token-zPPUih1PFGmA);
  --token-86D2BTODo9Hi: 0.5rem;
  --plasmic-token-size-8: var(--token-86D2BTODo9Hi);
  --token-iEpbA7s1dE2F: Inter;
  --plasmic-token-sans-serif: var(--token-iEpbA7s1dE2F);
  --token-YRLpiKJWMvDT: 1rem;
  --plasmic-token-font-md: var(--token-YRLpiKJWMvDT);
  --token-aFhewT50aNqv: 1.25;
  --plasmic-token-line-height-md: var(--token-aFhewT50aNqv);
  --token-B2yHbkVn4nSC: 0.375rem;
  --plasmic-token-size-6: var(--token-B2yHbkVn4nSC);
  --token-4PvIMNP3ZOre: #374151;
  --plasmic-token-neutral-neutral: var(--token-4PvIMNP3ZOre);
  --token-XSeuXk4h0rWJ: 0.25rem;
  --plasmic-token-size-4: var(--token-XSeuXk4h0rWJ);
  --token-uKVS1HgZbpDC: 0.75rem;
  --plasmic-token-font-sm: var(--token-uKVS1HgZbpDC);
  --token-x3_5bCU4Udw4: 1;
  --plasmic-token-line-height-sm: var(--token-x3_5bCU4Udw4);
  --token-wkzkOeC3ZWSV: 1.25rem;
  --plasmic-token-font-lg: var(--token-wkzkOeC3ZWSV);
  --token-Wc7gymmVv9Ec: 1.4;
  --plasmic-token-line-height-lg: var(--token-Wc7gymmVv9Ec);
  --token-yGhyYhMfsgax: 0.125rem;
  --plasmic-token-size-2: var(--token-yGhyYhMfsgax);
  --token-nNfqe_6peegt: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-nNfqe_6peegt);
  --token-bmIqpLdjBZv6: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-bmIqpLdjBZv6);
  --token-_PnNvvQms_S8: #00000040;
  --plasmic-token-interaction-hovered: var(--token-_PnNvvQms_S8);
  --token-R86Fcc--yADx: #ffffff00;
  --plasmic-token-interaction-disabled: var(--token-R86Fcc--yADx);
  --token-91pDReQKdhKi: #00000033;
  --plasmic-token-interaction-pressed: var(--token-91pDReQKdhKi);
  --token-WDJX9045qGJQ: 0.625rem;
  --plasmic-token-size-10: var(--token-WDJX9045qGJQ);
  --token-UvRkiW4t0-yi: 0.75rem;
  --plasmic-token-size-12: var(--token-UvRkiW4t0-yi);
  --token-vENM1hgx-J1Q: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-vENM1hgx-J1Q);
  --token-uoy7R7T15s6W: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-uoy7R7T15s6W);
  --token-mcokZt0Y-DNa: 2rem;
  --plasmic-token-size-32: var(--token-mcokZt0Y-DNa);
  --token-4pekwEDtstRv: 1rem;
  --plasmic-token-size-16: var(--token-4pekwEDtstRv);
  --token-9MRTySzI7xYw: 1.25rem;
  --plasmic-token-size-20: var(--token-9MRTySzI7xYw);
  --token-nS9yv8fQlvxy: 40px;
  --plasmic-token-h-2: var(--token-nS9yv8fQlvxy);
  --token-D5datrW5yy5e: #252729;
  --plasmic-token-color-police-titre: var(--token-D5datrW5yy5e);
  --token-MY9IbH5m2ITf: 1px;
  --plasmic-token-size-28: var(--token-MY9IbH5m2ITf);
  --token-jsoxkY4uzex7: #374161;
  --plasmic-token-color-police-grey: var(--token-jsoxkY4uzex7);
  --token-_pSbmbuhjtvt: 24px;
  --plasmic-token-h-3: var(--token-_pSbmbuhjtvt);
  --token-RRTGM6n0B8sr: 0.25rem;
  --plasmic-token-primitive-spacing-50: var(--token-RRTGM6n0B8sr);
  --token-q6xoUjynP1IL: 0.5rem;
  --plasmic-token-gap-icon-headline: var(--token-q6xoUjynP1IL);
  --token-_mt46frnUBmE: 0.875rem;
  --plasmic-token-body-tiny: var(--token-_mt46frnUBmE);
  --token-LJRN0ZKQDf5t: Instrument Sans;
  --plasmic-token-body: var(--token-LJRN0ZKQDf5t);
  --token-hk3LAvZuPnRb: 1.6;
  --plasmic-token-line-height-400: var(--token-hk3LAvZuPnRb);
  --token-U8xg5B8PKgZY: 0.5rem;
  --plasmic-token-radius-button: var(--token-U8xg5B8PKgZY);
  --token-SvdkBmJdYcDC: 1rem;
  --plasmic-token-padding-cta-v-m: var(--token-SvdkBmJdYcDC);
  --token-d7Cy5NRbgAny: 0.75rem;
  --plasmic-token-padding-cta-v-s: var(--token-d7Cy5NRbgAny);
  --token-5beiCiv05PJs: 2em;
  --plasmic-token-vertical-spacing: var(--token-5beiCiv05PJs);
  --token-sqFQxrsK3edk: 52px;
  --plasmic-token-h-1: var(--token-sqFQxrsK3edk);
  --token-_LX8zWYksvaJ: #5c39ee;
  --plasmic-token-color-primary: var(--token-_LX8zWYksvaJ);
  --token-ruEH_kPMz8sH: #b041f0;
  --plasmic-token-color-secondary: var(--token-ruEH_kPMz8sH);
  --token-rxMWCxIuxqRu: #f2f2f7;
  --plasmic-token-color-background-2: var(--token-rxMWCxIuxqRu);
  --token-J3mA70N-wqsu: 35px;
  --plasmic-token-h-1-mobile: var(--token-J3mA70N-wqsu);
  --token-y8m-emOk2tJG: 16px;
  --plasmic-token-txtmobile: var(--token-y8m-emOk2tJG);
  --token-zGJggj0WBmcV: 28px;
  --plasmic-token-h-2-mobile: var(--token-zGJggj0WBmcV);
  --token-ImuKG_SE9Y3b: 16px;
  --plasmic-token-unnamed-style-token-4: var(--token-ImuKG_SE9Y3b);
  --token-_vZcWegs4AvP: 14px;
  --plasmic-token-h-6-mobile: var(--token-_vZcWegs4AvP);
  --token-h44X3KXzj2JM: 16px;
  --plasmic-token-h-4-mobile: var(--token-h44X3KXzj2JM);
  --token-LGGSwgaNLz8J: 18px;
  --plasmic-token-h-3-mobile: var(--token-LGGSwgaNLz8J);
  --token-dpUme9f3kxzo: 14px;
  --plasmic-token-h-5-mobile: var(--token-dpUme9f3kxzo);
  --token-SJxn0KH5ERld: 12px;
  --plasmic-token-subtxtmobile: var(--token-SJxn0KH5ERld);
  --token-4KRNC7sgByoy: #5c39ee33;
  --plasmic-token-color-secondary-20: var(--token-4KRNC7sgByoy);
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_tokens {
    --token-MY9IbH5m2ITf: 2rem;
    --token-_mt46frnUBmE: 0.85rem;
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-1GBcDzznu_OG_font-family: "Inter", sans-serif;
  --mixin-1GBcDzznu_OG_font-size: 18px;
  --mixin-1GBcDzznu_OG_font-weight: 500;
  --mixin-1GBcDzznu_OG_font-style: normal;
  --mixin-1GBcDzznu_OG_color: var(--token-jsoxkY4uzex7);
  --mixin-1GBcDzznu_OG_text-align: left;
  --mixin-1GBcDzznu_OG_text-transform: none;
  --mixin-1GBcDzznu_OG_line-height: 1.5;
  --mixin-1GBcDzznu_OG_letter-spacing: normal;
  --mixin-1GBcDzznu_OG_white-space: pre-wrap;
  --mixin-1GBcDzznu_OG_user-select: text;
  --mixin-1GBcDzznu_OG_text-decoration-line: none;
  --mixin-1GBcDzznu_OG_text-overflow: clip;
  --mixin-uaZpfULcOgUd_color: var(--token-o5QzyuxQjxLV);
  --mixin-uaZpfULcOgUd_text-decoration-line: none;
  --mixin-uaZpfULcOgUd_white-space: pre-wrap;
  --mixin-mS8IQmvCte9N_font-family: "Montserrat", sans-serif;
  --mixin-mS8IQmvCte9N_color: var(--token-D5datrW5yy5e);
  --mixin-mS8IQmvCte9N_font-size: 56px;
  --mixin-mS8IQmvCte9N_font-weight: 700;
  --mixin-mS8IQmvCte9N_line-height: 60px;
  --mixin-mS8IQmvCte9N_white-space: pre-wrap;
  --mixin-rkdQpMW7diHv_font-family: "Inter", sans-serif;
  --mixin-rkdQpMW7diHv_color: var(--token-D5datrW5yy5e);
  --mixin-rkdQpMW7diHv_font-size: 28px;
  --mixin-rkdQpMW7diHv_font-weight: 700;
  --mixin-rkdQpMW7diHv_line-height: 43px;
  --mixin-rkdQpMW7diHv_text-align: center;
  --mixin-rkdQpMW7diHv_white-space: pre-wrap;
  --mixin-sWoap2FWWYK2_font-family: "Inter", sans-serif;
  --mixin-sWoap2FWWYK2_color: var(--token-D5datrW5yy5e);
  --mixin-sWoap2FWWYK2_font-size: 26px;
  --mixin-sWoap2FWWYK2_font-weight: 700;
  --mixin-sWoap2FWWYK2_letter-spacing: -0.5px;
  --mixin-sWoap2FWWYK2_line-height: 1.3;
  --mixin-sWoap2FWWYK2_white-space: pre-wrap;
  --mixin-sWCnnk-XczTF_font-family: "Inter", sans-serif;
  --mixin-sWCnnk-XczTF_color: var(--token-jsoxkY4uzex7);
  --mixin-sWCnnk-XczTF_font-size: 20px;
  --mixin-sWCnnk-XczTF_font-weight: 700;
  --mixin-sWCnnk-XczTF_line-height: 29px;
  --mixin-sWCnnk-XczTF_text-align: center;
  --mixin-sWCnnk-XczTF_white-space: pre-wrap;
  --mixin-8lqwj-YfSVEA_font-family: "Inter", sans-serif;
  --mixin-8lqwj-YfSVEA_color: var(--token-jsoxkY4uzex7);
  --mixin-8lqwj-YfSVEA_font-size: 18px;
  --mixin-8lqwj-YfSVEA_font-weight: 300;
  --mixin-8lqwj-YfSVEA_line-height: 1.2;
  --mixin-8lqwj-YfSVEA_white-space: pre-wrap;
  --mixin-ob3l9fETZI4r_border-left-color: #dddddd;
  --mixin-ob3l9fETZI4r_border-left-style: solid;
  --mixin-ob3l9fETZI4r_border-left-width: 3px;
  --mixin-ob3l9fETZI4r_color: #888888;
  --mixin-ob3l9fETZI4r_padding-left: 10px;
  --mixin-ob3l9fETZI4r_white-space: pre-wrap;
  --mixin-p4FcucA0PA7V_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-p4FcucA0PA7V_border-bottom-color: #dddddd;
  --mixin-p4FcucA0PA7V_border-bottom-style: solid;
  --mixin-p4FcucA0PA7V_border-bottom-width: 1px;
  --mixin-p4FcucA0PA7V_border-left-color: #dddddd;
  --mixin-p4FcucA0PA7V_border-left-style: solid;
  --mixin-p4FcucA0PA7V_border-left-width: 1px;
  --mixin-p4FcucA0PA7V_border-right-color: #dddddd;
  --mixin-p4FcucA0PA7V_border-right-style: solid;
  --mixin-p4FcucA0PA7V_border-right-width: 1px;
  --mixin-p4FcucA0PA7V_border-top-color: #dddddd;
  --mixin-p4FcucA0PA7V_border-top-style: solid;
  --mixin-p4FcucA0PA7V_border-top-width: 1px;
  --mixin-p4FcucA0PA7V_border-bottom-left-radius: 3px;
  --mixin-p4FcucA0PA7V_border-bottom-right-radius: 3px;
  --mixin-p4FcucA0PA7V_border-top-left-radius: 3px;
  --mixin-p4FcucA0PA7V_border-top-right-radius: 3px;
  --mixin-p4FcucA0PA7V_font-family: "Inconsolata";
  --mixin-p4FcucA0PA7V_padding-bottom: 1px;
  --mixin-p4FcucA0PA7V_padding-left: 4px;
  --mixin-p4FcucA0PA7V_padding-right: 4px;
  --mixin-p4FcucA0PA7V_padding-top: 1px;
  --mixin-p4FcucA0PA7V_white-space: pre-wrap;
  --mixin-Bwu_195T2Jgx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Bwu_195T2Jgx_border-bottom-color: #dddddd;
  --mixin-Bwu_195T2Jgx_border-bottom-style: solid;
  --mixin-Bwu_195T2Jgx_border-bottom-width: 1px;
  --mixin-Bwu_195T2Jgx_border-left-color: #dddddd;
  --mixin-Bwu_195T2Jgx_border-left-style: solid;
  --mixin-Bwu_195T2Jgx_border-left-width: 1px;
  --mixin-Bwu_195T2Jgx_border-right-color: #dddddd;
  --mixin-Bwu_195T2Jgx_border-right-style: solid;
  --mixin-Bwu_195T2Jgx_border-right-width: 1px;
  --mixin-Bwu_195T2Jgx_border-top-color: #dddddd;
  --mixin-Bwu_195T2Jgx_border-top-style: solid;
  --mixin-Bwu_195T2Jgx_border-top-width: 1px;
  --mixin-Bwu_195T2Jgx_border-bottom-left-radius: 3px;
  --mixin-Bwu_195T2Jgx_border-bottom-right-radius: 3px;
  --mixin-Bwu_195T2Jgx_border-top-left-radius: 3px;
  --mixin-Bwu_195T2Jgx_border-top-right-radius: 3px;
  --mixin-Bwu_195T2Jgx_font-family: "Inconsolata";
  --mixin-Bwu_195T2Jgx_padding-bottom: 3px;
  --mixin-Bwu_195T2Jgx_padding-left: 6px;
  --mixin-Bwu_195T2Jgx_padding-right: 6px;
  --mixin-Bwu_195T2Jgx_padding-top: 3px;
  --mixin-Bwu_195T2Jgx_white-space: pre-wrap;
  --mixin-T6OEgwO_8R9f_display: flex;
  --mixin-T6OEgwO_8R9f_flex-direction: column;
  --mixin-T6OEgwO_8R9f_align-items: stretch;
  --mixin-T6OEgwO_8R9f_justify-content: flex-start;
  --mixin-T6OEgwO_8R9f_list-style-position: outside;
  --mixin-T6OEgwO_8R9f_padding-left: 40px;
  --mixin-T6OEgwO_8R9f_position: relative;
  --mixin-T6OEgwO_8R9f_list-style-type: decimal;
  --mixin-T6OEgwO_8R9f_white-space: pre-wrap;
  --mixin-WaDUQg6MkFEJ_display: flex;
  --mixin-WaDUQg6MkFEJ_flex-direction: column;
  --mixin-WaDUQg6MkFEJ_align-items: stretch;
  --mixin-WaDUQg6MkFEJ_justify-content: flex-start;
  --mixin-WaDUQg6MkFEJ_list-style-position: outside;
  --mixin-WaDUQg6MkFEJ_padding-left: 40px;
  --mixin-WaDUQg6MkFEJ_position: relative;
  --mixin-WaDUQg6MkFEJ_list-style-type: disc;
  --mixin-WaDUQg6MkFEJ_white-space: pre-wrap;
  --mixin-678NdrVQtyTs_color: var(--token-D5datrW5yy5e);
  --mixin-678NdrVQtyTs_font-family: "Inter", sans-serif;
  --mixin-678NdrVQtyTs_font-size: 40px;
  --mixin-678NdrVQtyTs_font-weight: 800;
  --mixin-678NdrVQtyTs_line-height: 40px;
  --mixin-678NdrVQtyTs_text-align: center;
  --mixin-678NdrVQtyTs_white-space: pre-wrap;
  --mixin-I8qPGBhh_Vjp_white-space: pre-wrap;
  --mixin--8BKX8KnWx_z_color: var(--token-ruEH_kPMz8sH);
  --mixin--8BKX8KnWx_z_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-1GBcDzznu_OG_font-size: 16px;
    --mixin-1GBcDzznu_OG_line-height: 27px;
    --mixin-1GBcDzznu_OG_white-space: pre-wrap;
    --mixin-mS8IQmvCte9N_font-size: 40px;
    --mixin-mS8IQmvCte9N_line-height: 48px;
    --mixin-mS8IQmvCte9N_white-space: pre-wrap;
    --mixin-678NdrVQtyTs_font-size: 28px;
    --mixin-678NdrVQtyTs_line-height: 34px;
    --mixin-678NdrVQtyTs_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-HxiRToXCdJXy_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-HxiRToXCdJXy_white-space);
  --mixin-5O2W44mcVXsI_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-5O2W44mcVXsI_box-shadow
  );
  --mixin-5O2W44mcVXsI_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-5O2W44mcVXsI_white-space
  );
  --mixin-BpKIvUbhUk_c_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-BpKIvUbhUk_c_white-space);
  --mixin-h5T4IyG9DRMh_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-h5T4IyG9DRMh_white-space
  );
  --mixin-4kF8oIY5mnvd_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-4kF8oIY5mnvd_white-space
  );
  --mixin-CEc6_5n5pnO7_white-space: pre-wrap;
  --plasmic-mixin-label_white-space: var(--mixin-CEc6_5n5pnO7_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-1GBcDzznu_OG_font-family);
  font-size: var(--mixin-1GBcDzznu_OG_font-size);
  font-weight: var(--mixin-1GBcDzznu_OG_font-weight);
  font-style: var(--mixin-1GBcDzznu_OG_font-style);
  color: var(--mixin-1GBcDzznu_OG_color);
  text-align: var(--mixin-1GBcDzznu_OG_text-align);
  text-transform: var(--mixin-1GBcDzznu_OG_text-transform);
  line-height: var(--mixin-1GBcDzznu_OG_line-height);
  letter-spacing: var(--mixin-1GBcDzznu_OG_letter-spacing);
  white-space: var(--mixin-1GBcDzznu_OG_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-uaZpfULcOgUd_color);
  text-decoration-line: var(--mixin-uaZpfULcOgUd_text-decoration-line);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-mS8IQmvCte9N_font-family);
  color: var(--mixin-mS8IQmvCte9N_color);
  font-size: var(--mixin-mS8IQmvCte9N_font-size);
  font-weight: var(--mixin-mS8IQmvCte9N_font-weight);
  line-height: var(--mixin-mS8IQmvCte9N_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-rkdQpMW7diHv_font-family);
  color: var(--mixin-rkdQpMW7diHv_color);
  font-size: var(--mixin-rkdQpMW7diHv_font-size);
  font-weight: var(--mixin-rkdQpMW7diHv_font-weight);
  line-height: var(--mixin-rkdQpMW7diHv_line-height);
  text-align: var(--mixin-rkdQpMW7diHv_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-sWoap2FWWYK2_font-family);
  color: var(--mixin-sWoap2FWWYK2_color);
  font-size: var(--mixin-sWoap2FWWYK2_font-size);
  font-weight: var(--mixin-sWoap2FWWYK2_font-weight);
  letter-spacing: var(--mixin-sWoap2FWWYK2_letter-spacing);
  line-height: var(--mixin-sWoap2FWWYK2_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-sWCnnk-XczTF_font-family);
  color: var(--mixin-sWCnnk-XczTF_color);
  font-size: var(--mixin-sWCnnk-XczTF_font-size);
  font-weight: var(--mixin-sWCnnk-XczTF_font-weight);
  line-height: var(--mixin-sWCnnk-XczTF_line-height);
  text-align: var(--mixin-sWCnnk-XczTF_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-8lqwj-YfSVEA_font-family);
  color: var(--mixin-8lqwj-YfSVEA_color);
  font-size: var(--mixin-8lqwj-YfSVEA_font-size);
  font-weight: var(--mixin-8lqwj-YfSVEA_font-weight);
  line-height: var(--mixin-8lqwj-YfSVEA_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ob3l9fETZI4r_color);
  padding-left: var(--mixin-ob3l9fETZI4r_padding-left);
  border-left: var(--mixin-ob3l9fETZI4r_border-left-width)
    var(--mixin-ob3l9fETZI4r_border-left-style)
    var(--mixin-ob3l9fETZI4r_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-p4FcucA0PA7V_font-family);
  border-radius: var(--mixin-p4FcucA0PA7V_border-top-left-radius)
    var(--mixin-p4FcucA0PA7V_border-top-right-radius)
    var(--mixin-p4FcucA0PA7V_border-bottom-right-radius)
    var(--mixin-p4FcucA0PA7V_border-bottom-left-radius);
  padding: var(--mixin-p4FcucA0PA7V_padding-top)
    var(--mixin-p4FcucA0PA7V_padding-right)
    var(--mixin-p4FcucA0PA7V_padding-bottom)
    var(--mixin-p4FcucA0PA7V_padding-left);
  border-top: var(--mixin-p4FcucA0PA7V_border-top-width)
    var(--mixin-p4FcucA0PA7V_border-top-style)
    var(--mixin-p4FcucA0PA7V_border-top-color);
  border-right: var(--mixin-p4FcucA0PA7V_border-right-width)
    var(--mixin-p4FcucA0PA7V_border-right-style)
    var(--mixin-p4FcucA0PA7V_border-right-color);
  border-bottom: var(--mixin-p4FcucA0PA7V_border-bottom-width)
    var(--mixin-p4FcucA0PA7V_border-bottom-style)
    var(--mixin-p4FcucA0PA7V_border-bottom-color);
  border-left: var(--mixin-p4FcucA0PA7V_border-left-width)
    var(--mixin-p4FcucA0PA7V_border-left-style)
    var(--mixin-p4FcucA0PA7V_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Bwu_195T2Jgx_font-family);
  border-radius: var(--mixin-Bwu_195T2Jgx_border-top-left-radius)
    var(--mixin-Bwu_195T2Jgx_border-top-right-radius)
    var(--mixin-Bwu_195T2Jgx_border-bottom-right-radius)
    var(--mixin-Bwu_195T2Jgx_border-bottom-left-radius);
  padding: var(--mixin-Bwu_195T2Jgx_padding-top)
    var(--mixin-Bwu_195T2Jgx_padding-right)
    var(--mixin-Bwu_195T2Jgx_padding-bottom)
    var(--mixin-Bwu_195T2Jgx_padding-left);
  border-top: var(--mixin-Bwu_195T2Jgx_border-top-width)
    var(--mixin-Bwu_195T2Jgx_border-top-style)
    var(--mixin-Bwu_195T2Jgx_border-top-color);
  border-right: var(--mixin-Bwu_195T2Jgx_border-right-width)
    var(--mixin-Bwu_195T2Jgx_border-right-style)
    var(--mixin-Bwu_195T2Jgx_border-right-color);
  border-bottom: var(--mixin-Bwu_195T2Jgx_border-bottom-width)
    var(--mixin-Bwu_195T2Jgx_border-bottom-style)
    var(--mixin-Bwu_195T2Jgx_border-bottom-color);
  border-left: var(--mixin-Bwu_195T2Jgx_border-left-width)
    var(--mixin-Bwu_195T2Jgx_border-left-style)
    var(--mixin-Bwu_195T2Jgx_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-T6OEgwO_8R9f_display);
  flex-direction: var(--mixin-T6OEgwO_8R9f_flex-direction);
  align-items: var(--mixin-T6OEgwO_8R9f_align-items);
  justify-content: var(--mixin-T6OEgwO_8R9f_justify-content);
  list-style-position: var(--mixin-T6OEgwO_8R9f_list-style-position);
  padding-left: var(--mixin-T6OEgwO_8R9f_padding-left);
  position: var(--mixin-T6OEgwO_8R9f_position);
  list-style-type: var(--mixin-T6OEgwO_8R9f_list-style-type);
  column-gap: var(--mixin-T6OEgwO_8R9f_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-WaDUQg6MkFEJ_display);
  flex-direction: var(--mixin-WaDUQg6MkFEJ_flex-direction);
  align-items: var(--mixin-WaDUQg6MkFEJ_align-items);
  justify-content: var(--mixin-WaDUQg6MkFEJ_justify-content);
  list-style-position: var(--mixin-WaDUQg6MkFEJ_list-style-position);
  padding-left: var(--mixin-WaDUQg6MkFEJ_padding-left);
  position: var(--mixin-WaDUQg6MkFEJ_position);
  list-style-type: var(--mixin-WaDUQg6MkFEJ_list-style-type);
  column-gap: var(--mixin-WaDUQg6MkFEJ_column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-678NdrVQtyTs_color);
  font-family: var(--mixin-678NdrVQtyTs_font-family);
  font-size: var(--mixin-678NdrVQtyTs_font-size);
  font-weight: var(--mixin-678NdrVQtyTs_font-weight);
  line-height: var(--mixin-678NdrVQtyTs_line-height);
  text-align: var(--mixin-678NdrVQtyTs_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin--8BKX8KnWx_z_color);
}
