.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  row-gap: 20px;
  justify-self: flex-start;
  background: none;
  flex-wrap: nowrap;
  align-content: stretch;
  width: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 20px;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    justify-self: flex-start;
    height: auto;
    row-gap: 5px;
    column-gap: 0px;
    min-width: 0;
  }
}
.root:hover {
  transform: scale3d(1.05, 1.05, 1);
}
.slotTargetChildren {
  text-align: left;
}
.svg__kA0F {
  object-fit: cover;
  height: 200px;
  color: var(--token-ruEH_kPMz8sH);
  flex-shrink: 0;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-rxMWCxIuxqRu);
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4 {
    font-size: var(--token-h44X3KXzj2JM);
    text-align: center;
  }
}
.h6 {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  white-space: pre-wrap;
  color: var(--token-rxMWCxIuxqRu);
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h6 {
    font-size: var(--token-SJxn0KH5ERld);
    text-align: center;
  }
}
