.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  column-gap: 16px;
  height: auto;
  justify-self: flex-start;
  background: #ffffff4d;
  filter: none;
  backdrop-filter: blur(9px);
  min-width: 0;
  -webkit-backdrop-filter: blur(9px);
  padding: 15px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navBar {
    width: 100%;
    justify-self: flex-start;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    height: auto;
    row-gap: 0px;
    min-width: 0;
    padding: 20px;
  }
}
.logoContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3px;
    padding-bottom: 0px;
    height: 60px;
    justify-content: center;
    row-gap: 10px;
    max-height: none;
    max-width: none;
    width: auto;
    column-gap: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 230px;
  height: 32px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    width: auto;
    height: 100%;
    min-height: 0;
  }
}
.linksContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .linksContainer {
    align-items: flex-end;
    justify-content: flex-start;
    width: auto;
    display: none;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  column-gap: 32px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.link__hcoir {
  display: flex;
  font-size: 1rem;
}
.link__s3UmX {
  display: flex;
  font-size: 1rem;
}
.link__mByEv {
  display: flex;
  font-size: 1rem;
}
.link__ofwkK {
  display: flex;
  font-size: 1rem;
}
.actionContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .actionContainer {
    display: none;
  }
}
.link__jKymZ {
  display: flex;
}
.buttonPrimary:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__kgkje {
  position: relative;
  height: 1em;
}
.text {
  white-space: pre;
  color: #eeeeee;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__geiH8 {
  position: relative;
  height: 1em;
}
.menuBurger:global(.__wab_instance) {
  position: fixed;
  width: 100%;
  height: auto;
  left: auto;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 930px) {
  .menuBurger:global(.__wab_instance) {
    display: flex;
  }
}
.actionBurger {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: flex-end;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .actionBurger {
    display: flex;
  }
}
.svg {
  object-fit: cover;
  color: var(--token-ruEH_kPMz8sH);
  height: 60px;
  width: 100%;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg {
    display: block;
  }
}
