.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: var(--token-jgohepLVeKvh);
  overflow: hidden;
  row-gap: 64px;
  margin-bottom: 0px;
  width: auto;
  height: auto;
  padding: 0px 32px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  align-self: auto;
  transition-property: all;
  transition-duration: 1s;
  height: 11.48%;
  margin-top: 0px;
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navbar:global(.__wab_instance) {
    align-self: auto;
    position: relative;
    left: auto;
    top: auto;
  }
}
.contact {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 100px;
  align-content: center;
  justify-items: center;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(180deg, #ffffff 26%, #f3f4f6 100%);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 0px;
  padding: 21px 0px 38px;
  border: 0px solid #ffffff;
}
.contact > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .contact {
    padding: 0px 20px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .contact > * {
    grid-column: 4;
  }
}
.freeBox__hpadh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  row-gap: 40px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hpadh {
    margin-bottom: 0px;
    align-items: center;
    justify-content: flex-start;
    height: 1200px;
    padding: 0px;
  }
}
.freeBox__uDHkh {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 20px;
  min-width: 0;
  padding: 0px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 60px;
  text-align: center;
  color: var(--token-okZqvxZ_nx_g);
  font-weight: 500;
  user-select: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h1 {
    width: 100%;
    max-width: 100%;
    font-size: 35px;
    text-align: center;
    min-width: 0;
  }
}
.text__nOqb0 {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-okZqvxZ_nx_g);
  font-size: 18px;
  user-select: none;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__nOqb0 {
    max-width: 100%;
    font-size: var(--token-YRLpiKJWMvDT);
  }
}
.mail {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  padding: 0px;
}
.svg__fyjlN {
  object-fit: cover;
  max-width: auto;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.text__gnLqc {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-okZqvxZ_nx_g);
  font-size: 18px;
  user-select: none;
  text-align: left;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__gnLqc {
    max-width: 100%;
    font-size: var(--token-YRLpiKJWMvDT);
  }
}
.tel {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  padding: 0px;
}
.svg__wOGzw {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.text__lqI31 {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-okZqvxZ_nx_g);
  font-size: 18px;
  user-select: none;
  text-align: left;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__lqI31 {
    max-width: 100%;
    font-size: var(--token-YRLpiKJWMvDT);
  }
}
.formulaire {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 16px 0px var(--token-91pDReQKdhKi);
  background: none;
  row-gap: 20px;
  min-width: 0;
  border-radius: 20px;
  padding: 60px 40px;
  border: 1px solid var(--token-91pDReQKdhKi);
}
@media (min-width: 0px) and (max-width: 930px) {
  .formulaire {
    margin-bottom: 348px;
    padding: 20px;
  }
}
.freeBox__o6Lhc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.nomPrenom {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .nomPrenom {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.prenom {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__gJOcE {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h3__p6ISy {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--token-okZqvxZ_nx_g);
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3__p6ISy {
    font-size: 18px;
    text-align: center;
  }
}
.nom {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__m41Ho {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h3__sEsN {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--token-okZqvxZ_nx_g);
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3__sEsN {
    font-size: 18px;
    text-align: center;
  }
}
.email {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text___5Iiw2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h3__l8E9 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--token-okZqvxZ_nx_g);
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3__l8E9 {
    font-size: 18px;
    text-align: center;
  }
}
.entreprise {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__kfUet {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h3___82Dda {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--token-okZqvxZ_nx_g);
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3___82Dda {
    font-size: 18px;
    text-align: center;
  }
}
.message {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__dmuCq {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.h3___19Vys {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--token-okZqvxZ_nx_g);
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3___19Vys {
    font-size: 18px;
    text-align: center;
  }
}
.inputText___29JQw:global(.__wab_instance):global(.__wab_instance) {
  height: 112px;
  flex-shrink: 1;
  flex-grow: 1;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__qmpS {
  position: relative;
  height: 1em;
}
.text__pgVm0 {
  white-space: pre;
  font-weight: 500;
  font-size: var(--token-wkzkOeC3ZWSV);
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__xjNgn {
  position: relative;
  height: 1em;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__l9Mn8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 52px;
  min-width: 0;
  --plsmc-rc-col-gap: 52px;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 52px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___5IKwl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__xqsg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__qOdB7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard___75CuB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard___75CuB:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__kqOj {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text___2DoNh {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___2DoNh {
    top: 85px;
    font-size: 14px;
  }
}
.column___6Kfz8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__eeMSb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__eeMSb:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
