.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: var(--token-jgohepLVeKvh);
  overflow: hidden;
  row-gap: 64px;
  margin-bottom: 0px;
  width: auto;
  height: auto;
  padding: 0px 32px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  align-self: auto;
  transition-property: all;
  transition-duration: 1s;
  height: 40%;
  margin-top: 0px;
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navbar:global(.__wab_instance) {
    align-self: auto;
    position: relative;
    left: auto;
    top: auto;
    height: 100%;
    min-height: 0;
    margin: auto;
  }
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 488px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  margin-bottom: 0px;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.formField__myxq9:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__bWa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__avT0L:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__gxpp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__pnvdJ:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input___3Bk4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__pPrGp:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: left;
  display: block;
  align-self: center;
  color: var(--token-k7H7DCWvDgvK);
  background: var(--token-k7H7DCWvDgvK);
}
.text__nnBob {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: #00000080;
  min-width: 0;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__l9Mn8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 52px;
  min-width: 0;
  --plsmc-rc-col-gap: 52px;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 52px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___5IKwl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__xqsg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__qOdB7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard___75CuB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard___75CuB:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__kqOj {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text___2DoNh {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___2DoNh {
    top: 85px;
    font-size: 14px;
  }
}
.column___6Kfz8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__eeMSb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__eeMSb:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
