.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.4s;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
}
.headerverticalScrolled {
  background: var(--token-o5QzyuxQjxLV);
}
.mobileOverlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--token-D5datrW5yy5e);
  left: 0px;
  top: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .mobileOverlay {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .mobileOverlaymobileNav {
    display: block;
  }
}
.headerContent {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 5rem;
  z-index: 1;
  background: none;
  column-gap: var(--token-iq_VfozZ8fco);
  padding-left: var(--token-qFZfEnLGlDaF);
  padding-right: var(--token-qFZfEnLGlDaF);
  max-width: var(--token-kz68LxaTlXc_);
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerContent {
    display: flex;
    flex-direction: column;
    height: 4rem;
    column-gap: 0px;
    flex-shrink: 0;
  }
}
.headerContentstartMode_dark {
  background: none;
}
.logoBurger {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-iq_VfozZ8fco);
}
@media (min-width: 0px) and (max-width: 930px) {
  .logoBurger {
    width: 100%;
    height: 4rem;
    min-width: 0;
    flex-shrink: 0;
  }
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.logo:global(.__wab_instance) {
  animation: none;
  width: 230px;
  height: 1.75rem;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    animation: none;
    width: auto;
    height: 100%;
    min-height: 0;
  }
}
.iconMenuContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 930px) {
  .iconMenuContainer {
    display: flex;
  }
}
.icnShowMenu {
  object-fit: cover;
  color: var(--token-D5datrW5yy5e);
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .icnShowMenu {
    display: block;
  }
}
.icnShowMenustartMode_light {
  color: var(--token-D5datrW5yy5e);
}
@media (min-width: 0px) and (max-width: 930px) {
  .icnShowMenumobileNav {
    color: var(--token-D5datrW5yy5e);
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .icnShowMenuverticalScrolled {
    color: var(--token-D5datrW5yy5e);
  }
}
.icnClose {
  object-fit: cover;
  color: var(--token-D5datrW5yy5e);
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}
.icnClosestartMode_light {
  color: var(--token-D5datrW5yy5e);
}
@media (min-width: 0px) and (max-width: 930px) {
  .icnClosemobileNav {
    color: var(--token-D5datrW5yy5e);
    display: block;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-JAUtRLpxVCUh);
  min-width: 0;
  padding: var(--token-uu3EE38u7RKa);
}
@media (min-width: 0px) and (max-width: 930px) {
  .nav {
    background: none;
    max-width: none;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 4rem;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;
    row-gap: var(--token-Ygg3tPtOLeXt);
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .navmobileNav {
    padding-bottom: var(--token-uu3EE38u7RKa);
    display: flex;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-q6xoUjynP1IL);
}
@media (min-width: 0px) and (max-width: 930px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    column-gap: 0px;
  }
}
.product:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .product:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.keycloak {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25rem;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-8n9vPbEdRgRF);
}
@media (min-width: 0px) and (max-width: 930px) {
  .keycloak {
    width: 100%;
  }
}
.span__bLjD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-D5datrW5yy5e);
  font-family: var(--token-LJRN0ZKQDf5t);
  font-size: var(--token-ujkqhWuaeF0j);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: var(--token-EN1scN7tDQ0w);
  letter-spacing: 0.04rem;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: var(--token-d7Cy5NRbgAny);
}
.submenuLink:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__w2TSh {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.text__jijKs {
  padding-right: 0px;
}
.submenuLink2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fkYxq {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.support:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.freeBox__kxm7G {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25rem;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-8n9vPbEdRgRF);
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__kxm7G {
    width: 100%;
    min-width: 0;
  }
}
.submenuLink14:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mutSp {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.text__mZeY {
  padding-top: 0px;
}
.text__cl1A {
  padding-right: 0px;
}
.submenuLink11:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__j3HeM {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.submenuLink10:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__doywa {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.submenuLink12:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__h0Mx0 {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.resources:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.freeBox__wX2P8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 26rem;
  height: auto;
  column-gap: var(--token-p-uvrDjK3y7G);
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__wX2P8 {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--token-p-uvrDjK3y7G);
    column-gap: 0px;
    min-width: 0;
  }
}
.freeBox__aaKd1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.submenuLink5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cdl8R {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.submenuLink6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dLAsM {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.submenuLink7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ynMl {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.submenuLink8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sCziy {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.mainResources {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .mainResources {
    width: 100%;
  }
}
.span__iZbOq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-D5datrW5yy5e);
  font-family: var(--token-LJRN0ZKQDf5t);
  font-size: var(--token-ujkqhWuaeF0j);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: var(--token-EN1scN7tDQ0w);
  letter-spacing: 0.04rem;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: var(--token-d7Cy5NRbgAny);
}
.submenuLink3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zn765 {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.submenuLink4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bi2Q6 {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.text___92Wk {
  padding-right: 0px;
}
.submenuLink9:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__o5Z5R {
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
}
.text__cDPtX {
  padding-right: 0px;
}
.freeBox__kvIv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-q6xoUjynP1IL);
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__kvIv {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: var(--token-q6xoUjynP1IL);
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBoxmobileNav__kvIv12HoX {
    padding-bottom: 5.5rem;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBoxmobileNav_verticalScrolled__kvIv12HoXHhm81 {
    padding-right: 0px;
  }
}
.logIn:global(.__wab_instance) {
  max-width: 100%;
}
.designKitNavigationLinkPrimaryCta:global(.__wab_instance) {
  max-width: 100%;
}
