.body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
.wrapper {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  max-width: 2048px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.wrapper > * {
  grid-column: 4;
}
.navbar:global(.__wab_instance) {
  transition-property: all;
  transition-duration: 1s;
  margin-top: 0px;
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navbar:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    height: 100%;
    min-height: 0;
    margin: auto auto 0px;
  }
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.section > * {
  grid-column: 4;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: var(--token-o5QzyuxQjxLV);
  overflow: hidden;
  row-gap: 64px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
    left: auto;
    top: auto;
    right: auto;
  }
}
.img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  filter: blur(0px);
  min-width: 0;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img {
    height: 145px;
    flex-shrink: 0;
  }
}
.douleur:global(.__wab_instance) {
  position: relative;
}
.cetaitAvant:global(.__wab_instance) {
  position: relative;
}
.reponseInstantanee:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
}
.compatibilite:global(.__wab_instance) {
  position: relative;
}
.casDusage:global(.__wab_instance) {
  position: relative;
}
.callToAction:global(.__wab_instance) {
  position: relative;
}
.youTube:global(.__wab_instance) {
  width: 640px;
  height: 372px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  align-self: center;
  display: none;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__bSbmw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 52px;
  min-width: 0;
  --plsmc-rc-col-gap: 52px;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 52px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tpFqn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__zeBlb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__ezUeC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__natff:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__natff:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__rj3Xl {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text {
    top: 85px;
    font-size: 14px;
  }
}
.column__fyYd8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard___9EUi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard___9EUi:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
