.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: none;
  position: relative;
  row-gap: 20px;
  transform: none;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 200ms;
  border-radius: 30px;
  padding: 30px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 0px;
    padding: 15px;
  }
}
.root:hover {
  transform: scaleX(1.05) scaleY(1.05) scaleZ(1.05);
  box-shadow: 0px 12px 28px 0px var(--token-_PnNvvQms_S8);
  transform-style: preserve-3d;
}
.root:hover * {
  transform-style: preserve-3d;
}
.svg__h52WO {
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  color: var(--token-ruEH_kPMz8sH);
  flex-shrink: 0;
}
.h4 {
  font-weight: 600;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: var(--token-jsoxkY4uzex7);
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4 {
    text-align: left;
    font-size: var(--token-LGGSwgaNLz8J);
    white-space: pre-wrap;
    width: 100%;
    line-height: 15px;
    min-width: 0;
  }
}
.freeBox__fYh9X {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__cJDgu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__cJDgu {
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
  }
}
.text {
  height: auto;
  color: var(--token-jsoxkY4uzex7);
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text {
    font-size: var(--token-h44X3KXzj2JM);
    white-space: pre-wrap;
    width: 100%;
    line-height: 1.1;
    text-align: left;
    font-weight: 300;
    min-width: 0;
  }
}
