.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  row-gap: 16px;
  position: relative;
  justify-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    align-items: center;
    justify-content: flex-start;
    row-gap: 0px;
    height: 100%;
    column-gap: 0px;
    min-height: 0;
  }
}
.freeBox__r8JsP {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  align-self: auto;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__r8JsP {
    width: auto;
    height: auto;
  }
}
.img__pFUxh {
  object-fit: cover;
  height: 100%;
}
.img__pFUxh > picture > img {
  object-fit: cover;
}
.freeBox__bDeMi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 0px;
}
.h4 {
  height: auto;
  color: var(--token-ruEH_kPMz8sH);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: underline;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4 {
    font-size: var(--token-_vZcWegs4AvP);
    text-transform: none;
    white-space: pre-wrap;
  }
}
.text__hXpj {
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__hXpj {
    font-size: var(--token-SJxn0KH5ERld);
  }
}
.text__qvvIl {
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__qvvIl {
    font-size: var(--token-SJxn0KH5ERld);
  }
}
