.douleur {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 30px;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0px;
}
.douleur > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .douleur > * {
    grid-column: 4;
  }
}
.freeBox__cAhId {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__cAhId {
    margin-bottom: 0px;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.h2 {
  position: relative;
  width: 100%;
  color: #1e3a8a;
  font-size: 48px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2 {
    font-size: var(--token-zGJggj0WBmcV);
  }
}
.perte {
  max-width: var(--token-g2ytubvyEq5L);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: none;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 930px) {
  .perte {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
.text__bDsYn {
  position: relative;
  height: auto;
  text-align: center;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__bDsYn {
    padding-top: 0px;
    font-size: var(--token-h44X3KXzj2JM);
  }
}
.text___1CpNt {
  position: relative;
  height: auto;
  text-align: center;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___1CpNt {
    padding-top: 0px;
    font-size: var(--token-h44X3KXzj2JM);
  }
}
.chiffres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 930px) {
  .chiffres {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text___8AuK7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3 {
  text-align: center;
  height: auto;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3 {
    font-size: var(--token-zGJggj0WBmcV);
    padding: 0px;
  }
}
.freeBox__aiwTd {
  display: flex;
  width: 100%;
  height: auto;
  background: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aiwTd {
    padding-left: 0px;
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 10px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    min-height: 0;
  }
}
.perte__vxNxi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .perte__vxNxi:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.perte__fjuNj:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .perte__fjuNj:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.perte__qqQaY:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .perte__qqQaY:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.perte__evAwy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .perte__evAwy:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.perte___425SY:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .perte___425SY:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox___188Ns {
  width: 1140px;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  display: none;
  padding: 12px 8px 29px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___188Ns {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 0px;
    display: none;
  }
}
.freeBox___9S6Jh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 180px;
  height: auto;
  max-width: 100%;
  position: relative;
  row-gap: 12px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  padding: 8px 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___9S6Jh {
    left: auto;
    top: auto;
  }
}
.img__xhBkB {
  object-fit: cover;
  max-width: 45%;
}
.img__xhBkB > picture > img {
  object-fit: cover;
}
.freeBox___9Z4Pq {
  position: relative;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.text__qDi5 {
  font-weight: 600;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #000000d9;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h4__unRy {
  padding-bottom: 0px;
  font-size: 28px;
}
.freeBox__cqD9D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__h9VVu {
  color: #8e8e93;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
}
.freeBox__lsx1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 180px;
  height: auto;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  row-gap: 12px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lsx1 {
    left: auto;
    top: auto;
  }
}
.img__paB1J {
  object-fit: cover;
  max-width: 50%;
}
.img__paB1J > picture > img {
  object-fit: cover;
}
.freeBox__a3TYu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__puvNe {
  font-weight: 600;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #000000d9;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h4__xjkEu {
  font-size: 28px;
}
.freeBox___5Rumk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__pzPqh {
  color: #8e8e93;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__hLwh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 180px;
  height: auto;
  max-width: 100%;
  position: relative;
  row-gap: 12px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hLwh {
    left: auto;
    top: auto;
  }
}
.img__pWNlj {
  object-fit: cover;
  max-width: 50%;
}
.img__pWNlj > picture > img {
  object-fit: cover;
}
.freeBox__gT43A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text___9BgFw {
  font-weight: 600;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #000000d9;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
}
.h4__vtzBe {
  font-size: 28px;
}
.freeBox__eMt0O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text___6MFJt {
  color: #8e8e93;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
