.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.rootfullWidth {
  width: 100%;
  min-width: 0;
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 2.75rem;
  max-width: 100%;
  background: none;
  cursor: pointer;
  box-shadow: none;
  transform: none;
  transition-property: all;
  transition-duration: 0.3s;
  color: var(--token-D5datrW5yy5e);
  backdrop-filter: blur(4px);
  overflow: hidden;
  flex-shrink: 0;
  -webkit-backdrop-filter: blur(4px);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  border-radius: var(--token-U8xg5B8PKgZY);
  padding: var(--token-SvdkBmJdYcDC);
  border: 1px solid var(--token-_LX8zWYksvaJ);
}
.linkisSmall {
  height: 2.25rem;
  flex-shrink: 0;
  padding: var(--token-d7Cy5NRbgAny);
}
.linkcolorMode_dark {
  background: none;
  box-shadow: none;
  border-color: var(--token-D5datrW5yy5e);
}
.linkfullWidth {
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.root:hover .link {
  transform: scale3d(1.05, 1.05, 1);
  box-shadow: 0px 0px 0px 0px var(--token-a7gMe6fM223d);
}
.root:active .link {
  box-shadow: 0px 0px 0px 0px var(--token-a7gMe6fM223d);
  transform: scale3d(0.95, 0.9, 1);
}
.freeBox {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #1147ac14;
  transform: scale3d(0, 0, 0);
  transition-property: all;
  transition-duration: 0.3s;
  filter: none;
  opacity: 0;
  transform-style: preserve-3d;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  border-radius: var(--token-U8xg5B8PKgZY);
}
.freeBox * {
  transform-style: preserve-3d;
}
.freeBoxcolorMode_light {
  transform-style: preserve-3d;
}
.freeBoxcolorMode_light * {
  transform-style: preserve-3d;
}
.freeBoxcolorMode_dark {
  background: #ffffff1f;
  transform-style: preserve-3d;
}
.freeBoxcolorMode_dark * {
  transform-style: preserve-3d;
}
.root:hover .freeBox {
  transform: none;
  opacity: 1;
  border-radius: var(--token-U8xg5B8PKgZY);
}
.root:active .freeBox {
  transform: none;
  filter: none;
  opacity: 1;
}
.span {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.spanfullWidth {
  justify-content: center;
}
.slotTargetChildren {
  font-size: var(--token-_mt46frnUBmE);
  font-weight: 400;
  color: var(--token-_LX8zWYksvaJ);
}
.slotTargetChildrencolorMode_dark {
  color: var(--token-D5datrW5yy5e);
}
