.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 16px;
  width: 100%;
  row-gap: 10px;
  position: relative;
  min-width: 0;
}
.h6 {
  align-self: center;
  margin: 0px;
}
.text {
  color: #1e3a8a;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
