.cadre {
  display: inline-flex;
  width: auto;
  height: 100%;
  position: relative;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
  justify-self: flex-start;
  min-height: 0;
  border-radius: 20px;
  padding: 0px 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .cadre {
    width: 100%;
    row-gap: 8px;
    column-gap: 0px;
    min-width: 0;
    padding: 0px 20px;
  }
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  border-radius: 8px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .icon {
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.freeBox___1IMvW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--token-4KRNC7sgByoy);
  min-width: 0;
  min-height: 0;
  border-radius: 2000px;
  padding: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___1IMvW {
    padding: 10px;
  }
}
.slotTargetChildren {
  color: #ffb000;
}
.img__cn613 {
  object-fit: cover;
  max-width: 100%;
}
.img__cn613 > picture > img {
  object-fit: cover;
}
.texte {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
  left: auto;
  top: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .texte {
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
    min-width: 0;
  }
}
.h4 {
  line-height: 28px;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-_LX8zWYksvaJ);
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4 {
    font-size: var(--token-dpUme9f3kxzo);
    text-align: center;
    line-height: 20px;
    white-space: pre-wrap;
    width: 100%;
    min-width: 0;
  }
}
.h6 {
  height: auto;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h6 {
    font-size: var(--token-SJxn0KH5ERld);
  }
}
.freeBox__j3Hc {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  border-radius: 8px;
  padding: 0px;
}
.svg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
