.body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
.wrapper {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  max-width: 2048px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.wrapper > * {
  grid-column: 4;
}
.navbar:global(.__wab_instance) {
  transition-property: all;
  transition-duration: 1s;
  margin-top: 0px;
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navbar:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    height: 100%;
    min-height: 0;
    margin: auto auto 0px;
  }
}
.hero {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
  margin: 0px;
}
.hero > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .hero {
    padding: 50px 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .hero > * {
    grid-column: 4;
  }
}
.freeBox__ziSm9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: none;
  overflow: hidden;
  margin-bottom: 0px;
  width: 100%;
  column-gap: 50px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ziSm9 {
    left: auto;
    top: auto;
    right: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    column-gap: 0px;
  }
}
.freeBox___1VdNy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  row-gap: 20px;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___1VdNy {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 802px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    column-gap: 0px;
    min-width: 0;
    min-height: 0;
  }
}
.h1__nc4Lx {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h1__nc4Lx {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    font-size: var(--token-J3mA70N-wqsu);
    line-height: 40px;
    min-width: 0;
  }
}
.text__fUiXl {
  position: relative;
  color: #1e3a8a;
  font-weight: 400;
  text-align: left;
  left: auto;
  top: auto;
  box-shadow: none;
  transition-property: all;
  transition-duration: 1s;
  line-height: 2em;
  white-space: pre-wrap;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__fUiXl {
    width: auto;
    font-size: var(--token-y8m-emOk2tJG);
    text-align: center;
    align-self: flex-start;
    line-height: 20px;
    padding: 0px;
  }
}
.link {
  display: flex;
  cursor: pointer;
}
.buttonPrimary:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__l9M4H {
  position: relative;
  height: 1em;
}
.text__nraPm {
  white-space: pre;
  color: #eeeeee;
  cursor: pointer;
}
.svg__yVv3O {
  position: relative;
  height: 1em;
}
.freeBox__adEtn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__adEtn {
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.img__xk0M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(0px);
  min-width: 0;
  min-height: 0;
}
.img__xk0M > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__xk0M {
    height: 100%;
    min-height: 0;
  }
}
.douleur {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 60px;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.douleur > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .douleur {
    justify-items: center;
    align-content: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .douleur > * {
    grid-column: 4;
  }
}
.chiffres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 930px) {
  .chiffres {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text__jSmK5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3__s73Up {
  text-align: center;
  height: auto;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3__s73Up {
    font-size: var(--token-LGGSwgaNLz8J);
    line-height: 20px;
    padding: 0px;
  }
}
.freeBox__cLxQv {
  width: 1140px;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  display: none;
  padding: 12px 8px 29px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__cLxQv {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 0px;
    display: none;
  }
}
.freeBox__d0Yr7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 180px;
  height: auto;
  max-width: 100%;
  position: relative;
  row-gap: 12px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  padding: 8px 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__d0Yr7 {
    left: auto;
    top: auto;
  }
}
.img__ySf1I {
  object-fit: cover;
  max-width: 45%;
}
.img__ySf1I > picture > img {
  object-fit: cover;
}
.freeBox__xnV0X {
  position: relative;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.text___4RsIa {
  font-weight: 600;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #000000d9;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h4__wBt9D {
  padding-bottom: 0px;
  font-size: 28px;
}
.freeBox__vw8Ga {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__wqkBf {
  color: #8e8e93;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
}
.freeBox__tUfob {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 180px;
  height: auto;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  row-gap: 12px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__tUfob {
    left: auto;
    top: auto;
  }
}
.img__zicoN {
  object-fit: cover;
  max-width: 50%;
}
.img__zicoN > picture > img {
  object-fit: cover;
}
.freeBox___8XSYn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__qk3LA {
  font-weight: 600;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #000000d9;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h4__r3KpC {
  font-size: 28px;
}
.freeBox__ixIjM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__ulGv7 {
  color: #8e8e93;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___2RvR {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 180px;
  height: auto;
  max-width: 100%;
  position: relative;
  row-gap: 12px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___2RvR {
    left: auto;
    top: auto;
  }
}
.img__afEaG {
  object-fit: cover;
  max-width: 50%;
}
.img__afEaG > picture > img {
  object-fit: cover;
}
.freeBox___2Kkbw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__oPeB {
  font-weight: 600;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #000000d9;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
}
.h4___5Liwm {
  font-size: 28px;
}
.freeBox__kr9Rm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text___9F2HZ {
  color: #8e8e93;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__oVehJ {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: none;
  width: 100%;
  row-gap: 40px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__oVehJ {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-self: center;
    column-gap: 0px;
    padding: 0px;
  }
}
.h2__r5YGf {
  height: auto;
}
.freeBox__dinZb {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: auto;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dinZb {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}
.avantage__eaFu3:global(.__wab_instance) {
  max-width: 100%;
}
.img__x2Cl {
  object-fit: cover;
  height: 80px;
}
.img__x2Cl > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__x2Cl {
    height: 50px;
  }
}
.avantage___1IdIr:global(.__wab_instance) {
  max-width: 100%;
}
.img__dVy2G {
  object-fit: cover;
  height: 80px;
}
.img__dVy2G > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__dVy2G {
    height: 50px;
  }
}
.avantage__oCrEd:global(.__wab_instance) {
  max-width: 100%;
}
.img__ugUBa {
  object-fit: cover;
  height: 80px;
}
.img__ugUBa > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ugUBa {
    height: 50px;
  }
}
.avantage__xwRdg:global(.__wab_instance) {
  max-width: 100%;
}
.img__ky2Ph {
  object-fit: cover;
  height: 80px;
}
.img__ky2Ph > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ky2Ph {
    height: 50px;
  }
}
.foreground2 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 960px;
  column-gap: 32px;
  display: none;
}
@media (min-width: 0px) and (max-width: 930px) {
  .foreground2 {
    flex-direction: column;
    column-gap: 0px;
  }
}
.columns__xfZsw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 32px;
  min-width: 0;
  --plsmc-rc-col-gap: 16px;
}
.columns__xfZsw > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__xfZsw > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__xfZsw {
    position: relative;
    left: auto;
    top: auto;
    --plsmc-rc-col-gap: 16px;
  }
}
.column__prR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__aiGzn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  column-gap: 16px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 1px 1px #0000001a;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aiGzn {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.freeBox__ka8M7 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.img__lt1G {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__lt1G > picture > img {
  object-fit: cover;
}
.freeBox__ifbv {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg___8Gs8U {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__bhPpD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__bhPpD {
    align-items: center;
    justify-content: flex-start;
  }
}
.text__hdvh {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #1e3a8a;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__xrcLl {
  height: auto;
  color: #1e3a8a;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column___7NQ6S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__bbNzH {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  column-gap: 16px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 1px 1px #0000001a;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__bbNzH {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.freeBox__fmD9T {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.img__g5T6X {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__g5T6X > picture > img {
  object-fit: cover;
}
.freeBox__lzMDm {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__k6Dc {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__qwMde {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__kc361 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #1e3a8a;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__hepN {
  color: #1e3a8a;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__ySwI6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__qkWgg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  column-gap: 16px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 1px 1px #0000001a;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__qkWgg {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.freeBox___8BnBa {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.img__ckd5 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__ckd5 > picture > img {
  object-fit: cover;
}
.freeBox__t7P5H {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__n5Hxl {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___21U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__ol9B6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #1e3a8a;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__d8NtK {
  height: auto;
  color: #1e3a8a;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__s8Yx0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__oLjOh {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  column-gap: 16px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 1px 1px #0000001a;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__oLjOh {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.freeBox__wrJlG {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.img__yvjis {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__yvjis > picture > img {
  object-fit: cover;
}
.freeBox__iqrlK {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__jn8So {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___1Fcgh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__nmV4Z {
  height: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #1e3a8a;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__s0Fe4 {
  color: #1e3a8a;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__hfDpU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3__ov5ZK {
    font-size: var(--token-LGGSwgaNLz8J);
    line-height: 20px;
  }
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.section > * {
  grid-column: 4;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: var(--token-o5QzyuxQjxLV);
  overflow: hidden;
  row-gap: 64px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
    left: auto;
    top: auto;
    right: auto;
  }
}
.cetaitAvant:global(.__wab_instance) {
  position: relative;
}
.solutions {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 30px;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0px;
}
.solutions > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .solutions {
    padding: 50px 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .solutions > * {
    grid-column: 4;
  }
}
.freeBox___0EyGu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 40px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___0EyGu {
    padding: 0px;
  }
}
.h2__lpfEh {
  position: relative;
  width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__lpfEh {
    font-size: var(--token-zGJggj0WBmcV);
  }
}
.solution__reLx:global(.__wab_instance) {
  position: relative;
}
.svg__nNbst {
  animation: none;
  object-fit: cover;
  width: 150px;
  height: 150px;
  color: #ffb000;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__nNbst {
    width: 150px;
    height: 150px;
  }
}
.solution__qg2An:global(.__wab_instance) {
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
}
.svg__yb2Pf {
  animation: none;
  object-fit: cover;
  width: 150px;
  height: 150px;
  color: #ffb000;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__yb2Pf {
    width: 150px;
    height: 150px;
  }
}
.solution__sVuZi:global(.__wab_instance) {
  position: relative;
}
.svg__cdRBu {
  animation: none;
  object-fit: cover;
  width: 150px;
  height: 150px;
  color: #ffb000;
}
.solution__jwFl0:global(.__wab_instance) {
  position: relative;
}
.svg___8P7RP {
  animation: none;
  object-fit: cover;
  width: 150px;
  height: 150px;
  color: #ffb000;
}
.columns___4XoI {
  position: relative;
  width: 1140px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___4XoI > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___4XoI > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___4XoI {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___4XoI > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ooFjz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 42px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__ooFjz {
    padding-left: 23px;
  }
}
.h1__y9Ijh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #1e3a8ad9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__eB8W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #1e3a8a;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__uOsTz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__uwX9R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 16px;
}
.img__uwX9R > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__uwX9R {
    width: 299px;
  }
}
.column__hvHtX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__hvHtX {
    display: none;
  }
}
.img__b14LV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 16px;
}
.img__b14LV > picture > img {
  object-fit: cover;
}
.column__pwD6S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 42px;
}
.h1__vS5Mq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #1e3a8ad9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__yr7G4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #1e3a8a;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.img__bw5CB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 300px;
  border-radius: 16px;
}
.img__bw5CB > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__bw5CB {
    display: none;
  }
}
.columns___9S1Wy {
  position: relative;
  width: 1140px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___9S1Wy > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___9S1Wy > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___9S1Wy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___9S1Wy > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__etP31 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 42px;
}
.h1__jLljY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #1e3a8ad9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__hNw45 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #1e3a8a;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__k0A9A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ySgU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 16px;
}
.img__ySgU > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ySgU {
    display: none;
  }
}
.column__wb3C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__sB01X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 16px;
}
.img__sB01X > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__sB01X {
    width: 299px;
  }
}
.column__y2SrI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 42px;
}
.h1__vcJrD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #1e3a8ad9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h1__vcJrD {
    font-size: 44px;
  }
}
.text__ctMsO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #1e3a8a;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.outilsMetiers {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-rxMWCxIuxqRu);
  grid-row-gap: 30px;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.outilsMetiers > * {
  grid-column: 4;
}
.freeBox___5RopH {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: none;
  justify-self: flex-start;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 20px;
  margin-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5RopH {
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    row-gap: 20px;
    justify-content: flex-start;
    column-gap: 0px;
    padding: 50px 0px;
    margin: 0px;
  }
}
.nextlane {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 500px;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .nextlane {
    width: auto;
  }
}
.img___7Byxd {
  object-fit: fill;
  max-width: 50%;
  height: 30%;
}
.img___7Byxd > picture > img {
  object-fit: fill;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___7Byxd {
    height: 150px;
    max-width: none;
    flex-shrink: 0;
  }
}
.cdKglobal {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.img__kyl3T {
  object-fit: cover;
  max-width: 100%;
  height: 350px;
  width: 491px;
  flex-shrink: 0;
}
.img__kyl3T > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__kyl3T {
    width: auto;
    height: 150px;
    margin-top: 0px;
    flex-shrink: 0;
  }
}
.dcSnet {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.img__hXsDd {
  object-fit: cover;
  max-width: 100%;
}
.img__hXsDd > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__hXsDd {
    height: 150px;
    flex-shrink: 0;
  }
}
.bee2Link {
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  top: 0px;
  left: 0px;
  align-self: auto;
  padding: 0px 77px 0px 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .bee2Link {
    align-items: center;
    justify-content: flex-start;
    padding-right: 2px;
  }
}
.img__xfHm {
  object-fit: cover;
  max-width: 100%;
  width: 107.22%;
  height: 100%;
  margin-right: 10px;
}
.img__xfHm > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__xfHm {
    max-width: 100%;
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    margin: 0px;
  }
}
.columns__jLpjh {
  position: relative;
  width: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 24px;
  background: #f2f2f7;
  height: auto;
  min-width: 0;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 8px 0px;
}
.columns__jLpjh > :nth-child(5n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__jLpjh > :nth-child(5n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__jLpjh > :nth-child(5n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__jLpjh > :nth-child(5n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__jLpjh > :nth-child(5n + 5) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jLpjh {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jLpjh > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__klnWd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
.img__cTqK {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 8px;
  height: 70%;
}
.img__cTqK > picture > img {
  object-fit: cover;
}
.column__ya0CD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__fqMdH {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.img__fqMdH > picture > img {
  object-fit: cover;
}
.column__cRG1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___6Yuj {
  object-fit: cover;
  max-width: 100%;
}
.img___6Yuj > picture > img {
  object-fit: cover;
}
.column__lQMdf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__geJxL {
  object-fit: cover;
  max-width: 50%;
}
.img__geJxL > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__geJxL {
    max-width: 40%;
  }
}
.column__tRx9S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__dlSjq {
  object-fit: cover;
  max-width: 100%;
  align-self: auto;
  position: sticky;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
}
.img__dlSjq > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__dlSjq {
    max-width: 90%;
  }
}
.casUsage {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0;
}
.casUsage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .casUsage {
    padding: 44px 0px 20px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .casUsage > * {
    grid-column: 4;
  }
}
.freeBox__wpX4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  row-gap: 64px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__wpX4 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .titre {
    position: relative;
    left: auto;
    top: auto;
  }
}
.h2__ieNzy {
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__ieNzy {
    font-size: var(--token-zGJggj0WBmcV);
  }
}
.text__moJJ {
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__moJJ {
    text-align: center;
    font-size: var(--token-h44X3KXzj2JM);
    line-height: 20px;
  }
}
.freeBox__j9Pf8 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__j9Pf8 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}
.casDusageNew__wkl4H:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dzXfp {
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  color: var(--token-jsoxkY4uzex7);
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__dzXfp {
    height: 50px;
  }
}
.casDusageNew__yfFVg:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kgcVl {
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  color: var(--token-jsoxkY4uzex7);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__kgcVl {
    height: 50px;
  }
}
.casDusageNew__fwJla:global(.__wab_instance) {
  max-width: 100%;
}
.svg___03DoX {
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  color: var(--token-jsoxkY4uzex7);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg___03DoX {
    height: 50px;
  }
}
.casDusageNew__pozq4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__eTnr6 {
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  color: var(--token-jsoxkY4uzex7);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__eTnr6 {
    height: 50px;
  }
}
.casOld {
  position: relative;
  width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 930px) {
  .casOld {
    position: relative;
    left: auto;
    top: auto;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-auto-rows: 20px;
    column-gap: 0px;
  }
}
.casDusageOld__glry:global(.__wab_instance) {
  position: relative;
}
.svg__t9Xse {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.casDusageOld__ql18V:global(.__wab_instance) {
  position: relative;
}
.svg__dutvm {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.casDusageOld___2U7Jh:global(.__wab_instance) {
  position: relative;
}
.svg__qc7Ux {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.casDusageOld___4UbrH:global(.__wab_instance) {
  position: relative;
}
.svg__c4F3N {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.callToAction:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .callToAction:global(.__wab_instance) {
    height: 175px;
  }
}
.youTube:global(.__wab_instance) {
  width: 640px;
  height: 372px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  align-self: center;
  display: none;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__gBf2B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__xhY1V {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 52px;
  min-width: 0;
  --plsmc-rc-col-gap: 52px;
  padding: 0px;
}
.columns__xhY1V > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__xhY1V > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__xhY1V > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__xhY1V {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 52px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__xhY1V > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___0LPiW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard___6PjkS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__dxs3J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__t0Vmk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__t0Vmk:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__kUxea {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__eLl1I {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__eLl1I {
    top: 85px;
    font-size: 14px;
  }
}
.column__czlKy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__qyHzn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__qyHzn:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
