.body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  padding-right: 0px;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  max-width: 2048px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--token-o5QzyuxQjxLV);
  min-width: 0;
}
.headerHero {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.headerHero > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHero {
    grid-row-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHero > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance) {
  align-self: auto;
  transition-property: all;
  transition-duration: 1s;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navbar:global(.__wab_instance) {
    align-self: auto;
    position: relative;
    left: auto;
    top: auto;
    height: 100%;
    min-height: 0;
    margin: auto auto 0px;
  }
}
.presentation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 200px 0px 100px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .presentation {
    margin-top: 0px;
    width: 100%;
    justify-self: flex-start;
    height: 100%;
    justify-content: space-between;
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
    min-height: 0;
    padding: 0px;
  }
}
.intro {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  column-gap: 80px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0px;
    height: 100%;
    row-gap: 20px;
    column-gap: 0px;
    min-width: 0;
    min-height: 0;
    padding: 31px 0px 0px;
  }
}
.texte {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  row-gap: 40px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .texte {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    row-gap: 20px;
    column-gap: 0px;
    min-width: 0;
  }
}
.titre2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .titre2 {
    margin-top: 0px;
    align-items: center;
    justify-content: flex-start;
  }
}
.h1 {
  width: 100%;
  height: auto;
  max-width: none;
  text-align: left;
  line-height: 80px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h1 {
    width: auto;
    max-width: 100%;
    text-align: center;
    padding-top: 0px;
    font-size: var(--token-J3mA70N-wqsu);
    line-height: 50px;
    color: var(--token-_LX8zWYksvaJ);
  }
}
.h2__jvT5U {
  width: auto;
  text-align: left;
  line-height: 55px;
  background: linear-gradient(
      135deg,
      var(--token-_LX8zWYksvaJ) 0%,
      var(--token-ruEH_kPMz8sH) 100%
    )
    0% 0% / 100% 100% repeat padding-box /* clip: text **/;
  isolation: isolate;
  font-size: var(--token-sqFQxrsK3edk);
  font-family: "Montserrat", sans-serif;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__jvT5U {
    font-size: 25px;
    text-align: center;
    line-height: 40px;
  }
}
.h4 {
  position: relative;
  padding-top: 0%;
  left: auto;
  top: auto;
  box-shadow: none;
  transition-property: all;
  transition-duration: 1s;
  padding-left: 0px;
  padding-right: 0px;
  white-space: pre-wrap;
  line-height: 1.5;
  text-align: left;
  color: var(--token-D5datrW5yy5e);
  font-weight: 400;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4 {
    width: auto;
    font-size: var(--token-h44X3KXzj2JM);
    text-align: center;
    align-self: flex-start;
    line-height: 1.3;
    padding: 0px;
  }
}
.advent {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  column-gap: 40px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .advent {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    column-gap: 0px;
  }
}
.advent__ivegC:global(.__wab_instance) {
  width: auto;
  flex-shrink: 0;
}
.svg__a00KI {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ruEH_kPMz8sH);
  height: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__a00KI {
    height: 20px;
  }
}
.advent__s6Dl6:global(.__wab_instance) {
  width: auto;
  flex-shrink: 0;
}
.svg__ofuH1 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ruEH_kPMz8sH);
  height: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__ofuH1 {
    height: 20px;
  }
}
.advent__teyQx:global(.__wab_instance) {
  width: auto;
  flex-shrink: 0;
}
.svg__oYTgx {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ruEH_kPMz8sH);
  height: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__oYTgx {
    height: 20px;
  }
}
.bouton {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 0px;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .bouton {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    align-content: center;
    column-gap: 20px;
    row-gap: 16px;
    min-width: 0;
    margin: 0px;
  }
}
.link__vwlhd {
  display: flex;
}
.buttonPrimary__pypsl:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__lPln8 {
  position: relative;
  height: 1em;
}
.text___3Z3JP {
  font-size: 20px;
}
.svg__wkk1Y {
  position: relative;
  height: 1em;
}
.animation {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.message:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.produit {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  grid-row-gap: 50px;
  background: var(--token-rxMWCxIuxqRu);
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 50px;
  padding: 100px 0px;
  margin: 0px;
}
.produit > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .produit {
    grid-row-gap: 10px;
    width: 100%;
    margin-bottom: 0px;
    min-width: 0;
    padding: 30px 20px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .produit > * {
    grid-column: 4;
  }
}
.titre3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .titre3 {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
  }
}
.h2__cDbCq {
  width: auto;
  text-align: left;
  line-height: 55px;
  background: linear-gradient(
      135deg,
      var(--token-_LX8zWYksvaJ) 0%,
      var(--token-ruEH_kPMz8sH) 100%
    )
    0% 0% / 100% 100% repeat padding-box /* clip: text **/;
  isolation: isolate;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__cDbCq {
    font-size: var(--token-zGJggj0WBmcV);
  }
}
.text__fnN4I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: 1.4;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__fnN4I {
    font-size: var(--token-h44X3KXzj2JM);
    text-align: center;
  }
}
.details {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: none;
  column-gap: 80px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
  border-radius: 20px;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .details {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    height: auto;
    column-gap: 0px;
    margin: 0px;
  }
}
.photo {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.assistante {
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-height: 0;
  border-radius: 20px;
}
.assistante > picture > img {
  object-fit: cover;
}
.freeBox__n18F {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  row-gap: 20px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__n18F {
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    min-height: 0;
  }
}
.detail {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .detail {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
  }
}
.mission__l1Tci:global(.__wab_instance) {
  position: relative;
}
.svg__iEiGg {
  object-fit: cover;
  height: 40px;
  color: var(--token-ruEH_kPMz8sH);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__iEiGg {
    height: 40px;
  }
}
.mission__c6N9:global(.__wab_instance) {
  position: relative;
}
.svg__qPiUn {
  object-fit: cover;
  height: 40px;
  color: var(--token-ruEH_kPMz8sH);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__qPiUn {
    height: 40px;
  }
}
.mission__iY6Eo:global(.__wab_instance) {
  position: relative;
}
.svg__sfdvD {
  object-fit: cover;
  height: 40px;
  color: var(--token-ruEH_kPMz8sH);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__sfdvD {
    height: 40px;
  }
}
.link__nc0Q3 {
  position: absolute;
  top: 370px;
  left: -610px;
  z-index: 1;
  display: flex;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__nc0Q3 {
    top: auto;
    left: auto;
    position: relative;
    justify-content: center;
    align-items: center;
  }
}
.buttonPrimary__dd3L:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 930px) {
  .buttonPrimary__dd3L:global(.__wab_instance):global(.__wab_instance) {
    align-self: flex-start;
    position: relative;
    left: auto;
    top: auto;
    margin: 0px;
  }
}
.svg__cu3Rj {
  position: relative;
  height: 1em;
}
.text__eTcCy {
  white-space: pre;
  color: #eeeeee;
}
.svg__uqGrV {
  position: relative;
  height: 1em;
}
.solution {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: none;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 50px;
  padding: 100px 0px;
}
.solution > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .solution {
    width: 100%;
    min-width: 0;
    padding: 50px 20px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .solution > * {
    grid-column: 4;
  }
}
.freeBox__dgeng {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  width: 100%;
  row-gap: 50px;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dgeng {
    row-gap: 20px;
    width: 100%;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
.titre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 30px;
  width: auto;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .titre {
    position: relative;
    left: auto;
    top: auto;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.freeBox__d7Pc6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2__dJa95 {
  line-height: 40px;
  color: var(--token-D5datrW5yy5e);
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__dJa95 {
    font-size: var(--token-zGJggj0WBmcV);
    line-height: 25px;
    width: auto;
    flex-shrink: 1;
    flex-grow: 0;
  }
}
.h2__jt5Bj {
  width: auto;
  text-align: left;
  line-height: 55px;
  background: linear-gradient(
      135deg,
      var(--token-_LX8zWYksvaJ) 0%,
      var(--token-ruEH_kPMz8sH) 100%
    )
    0% 0% / 100% 100% repeat padding-box /* clip: text **/;
  isolation: isolate;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__jt5Bj {
    font-size: var(--token-zGJggj0WBmcV);
    line-height: 40px;
    text-align: center;
  }
}
.text__qoav {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__qoav {
    font-size: var(--token-h44X3KXzj2JM);
  }
}
.secteurs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  row-gap: 48px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .secteurs {
    position: relative;
    left: auto;
    top: auto;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.section {
  position: relative;
  width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 0px;
  grid-column-gap: 80px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  overflow: visible;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .section {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
}
.automobile {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.svg__skiVs {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  color: var(--token-_LX8zWYksvaJ);
  width: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__skiVs {
    height: 30px;
  }
}
.buttonSecondary__hCcRx:global(.__wab_instance) {
  max-width: 100%;
}
.text__ucmrQ {
  white-space: pre;
  color: var(--token-ruEH_kPMz8sH);
  text-align: left;
  font-weight: 600;
}
.svg__ucTb5 {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  color: var(--token-D5datrW5yy5e);
}
.industriePme {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
  padding: 0px;
}
.svg__nn8Xj {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  color: var(--token-ruEH_kPMz8sH);
  width: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__nn8Xj {
    height: 30px;
  }
}
.buttonSecondary___7GYtQ:global(.__wab_instance) {
  max-width: 100%;
}
.text__jmuph {
  white-space: pre;
  color: var(--token-ruEH_kPMz8sH);
  text-align: left;
  font-weight: 600;
}
.svg__pL78C {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
}
.hotline {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.svg__yo3EF {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  color: var(--token-_LX8zWYksvaJ);
  width: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__yo3EF {
    height: 30px;
  }
}
._:global(.__wab_instance) {
  max-width: 100%;
}
.text__qjMu4 {
  white-space: pre;
  text-align: left;
  font-weight: 600;
}
.svg__iOuJp {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  color: var(--token-D5datrW5yy5e);
}
.callCenter {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.svg__ib2G {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  color: var(--token-_LX8zWYksvaJ);
  width: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__ib2G {
    height: 30px;
  }
}
.buttonSecondary__dBqQn:global(.__wab_instance) {
  max-width: 100%;
}
.text__r91No {
  white-space: pre;
  color: var(--token-D5datrW5yy5e);
  text-align: left;
  font-weight: 600;
}
.svg__wtDlN {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  color: var(--token-D5datrW5yy5e);
}
.banqueAssurance {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  display: none;
  padding: 0px;
}
.svg__n44Wk {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ruEH_kPMz8sH);
  width: 30px;
  height: 30px;
}
.buttonSecondary__nTJvU:global(.__wab_instance) {
  max-width: 100%;
}
.text__zFdv {
  white-space: pre;
  color: var(--token-ruEH_kPMz8sH);
  text-align: left;
  font-weight: 600;
}
.svg__rbJ {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
}
.servicePublic {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
  padding: 0px;
}
.svg___416Yb {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  color: var(--token-ruEH_kPMz8sH);
  width: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg___416Yb {
    height: 30px;
  }
}
.buttonSecondary__fBaC0:global(.__wab_instance) {
  max-width: 100%;
}
.text__kcNo {
  white-space: pre;
  color: var(--token-ruEH_kPMz8sH);
  text-align: left;
  font-weight: 600;
}
.svg__t9QM {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
}
.modernShine2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .modernShine2 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.callCenter2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.automobile3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.hotline2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.industriel {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
  padding: 0px;
}
.banqueAssurance2 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
  padding: 0px;
}
.servicePublic2 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
  padding: 0px;
}
.text___8QhpY {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___8QhpY {
    font-size: var(--token-h44X3KXzj2JM);
  }
}
.link__cwKcM {
  color: var(--token-4KRNC7sgByoy);
}
.raisons {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-rxMWCxIuxqRu);
  grid-row-gap: 40px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 50px;
  padding: 100px 0px;
}
.raisons > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .raisons {
    width: 100%;
    min-width: 0;
    padding: 30px 20px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .raisons > * {
    grid-column: 4;
  }
}
.freeBox___4RTgl {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 40px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___4RTgl {
    row-gap: 10px;
    width: 100%;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__mgqdJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2__eg1Lt {
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 0px;
  width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__eg1Lt {
    line-height: 1.5;
    font-size: var(--token-zGJggj0WBmcV);
  }
}
.h2___5141E {
  width: auto;
  text-align: left;
  line-height: 55px;
  background: linear-gradient(
      135deg,
      var(--token-_LX8zWYksvaJ) 0%,
      var(--token-ruEH_kPMz8sH) 100%
    )
    0% 0% / 100% 100% repeat padding-box /* clip: text **/;
  isolation: isolate;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2___5141E {
    font-size: var(--token-zGJggj0WBmcV);
    line-height: 40px;
    text-align: center;
  }
}
.freeBox__aRsDk {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aRsDk {
    width: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    min-width: 0;
  }
}
.raison___22QXc:global(.__wab_instance) {
  position: relative;
}
.freeBox__dpDsV {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  background: linear-gradient(
      120deg,
      var(--token-_LX8zWYksvaJ) 0%,
      var(--token-ruEH_kPMz8sH) 100%
    )
    0% 0% / 100% 100% repeat;
  border-radius: 20px;
  padding: 10px;
}
.svg___3XZD {
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  color: var(--token-o5QzyuxQjxLV);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg___3XZD {
    height: 30px;
  }
}
.raison__ezDk3:global(.__wab_instance) {
  position: relative;
}
.freeBox__nEjU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  background: linear-gradient(
      120deg,
      var(--token-_LX8zWYksvaJ) 0%,
      var(--token-ruEH_kPMz8sH) 100%
    )
    0% 0% / 100% 100% repeat;
  border-radius: 20px;
  padding: 10px;
}
.svg___5IZ3Y {
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  color: var(--token-o5QzyuxQjxLV);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg___5IZ3Y {
    height: 30px;
  }
}
.raison__eacfc:global(.__wab_instance) {
  position: relative;
}
.freeBox___3EJy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  background: linear-gradient(
      120deg,
      var(--token-_LX8zWYksvaJ) 0%,
      var(--token-ruEH_kPMz8sH) 100%
    )
    0% 0% / 100% 100% repeat;
  border-radius: 20px;
  padding: 10px;
}
.svg__iqPgq {
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  color: var(--token-o5QzyuxQjxLV);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__iqPgq {
    height: 30px;
  }
}
.raison__pg37A:global(.__wab_instance) {
  position: relative;
}
.freeBox__vVvlK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  background: linear-gradient(
      120deg,
      var(--token-_LX8zWYksvaJ) 0%,
      var(--token-ruEH_kPMz8sH) 100%
    )
    0% 0% / 100% 100% repeat;
  border-radius: 20px;
  padding: 10px;
}
.svg__jiXpj {
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  color: var(--token-o5QzyuxQjxLV);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__jiXpj {
    height: 30px;
  }
}
.avantages2 {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  margin-top: 0px;
  height: auto;
  background: none;
  grid-row-gap: 40px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 0px;
}
.avantages2 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .avantages2 {
    grid-row-gap: 20px;
    padding: 30px 10px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .avantages2 > * {
    grid-column: 4;
  }
}
.freeBox__oLc9R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  row-gap: 40px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__oLc9R {
    row-gap: 20px;
    width: 100%;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__xUXxL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2__virEq {
  line-height: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__virEq {
    font-size: var(--token-zGJggj0WBmcV);
  }
}
.h2___9Qyym {
  width: auto;
  text-align: left;
  line-height: 55px;
  background: linear-gradient(
      135deg,
      var(--token-_LX8zWYksvaJ) 0%,
      var(--token-ruEH_kPMz8sH) 100%
    )
    0% 0% / 100% 100% repeat padding-box /* clip: text **/;
  isolation: isolate;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2___9Qyym {
    font-size: var(--token-zGJggj0WBmcV);
    line-height: 40px;
  }
}
.text__uvKqM {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__uvKqM {
    font-size: var(--token-h44X3KXzj2JM);
  }
}
.freeBox__gbtNm {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__gbtNm {
    row-gap: 20px;
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    height: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    column-gap: 0px;
    min-width: 0;
    min-height: 0;
  }
}
.img__ubTDu {
  object-fit: cover;
  width: auto;
  height: 50px;
  transform: translateX(0px) translateY(0px) translateZ(0px) translateX(0px)
    translateY(0px) translateZ(0px);
}
.img__ubTDu > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ubTDu {
    height: 30px;
  }
}
.img___2Qx2B {
  object-fit: cover;
  width: auto;
  height: 50px;
}
.img___2Qx2B > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___2Qx2B {
    height: 30px;
  }
}
.img__kec2Q {
  object-fit: cover;
  width: auto;
  height: 50px;
}
.img__kec2Q > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__kec2Q {
    height: 30px;
  }
}
.img__j4Ash {
  object-fit: cover;
  height: 50px;
  width: auto;
}
.img__j4Ash > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__j4Ash {
    height: 30px;
  }
}
.img__zRiXp {
  object-fit: cover;
  height: 50px;
  width: auto;
}
.img__zRiXp > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__zRiXp {
    height: 30px;
  }
}
.img__p4G8G {
  object-fit: cover;
  width: auto;
  height: 50px;
}
.img__p4G8G > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__p4G8G {
    height: 30px;
  }
}
.old3 {
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 960px;
  row-gap: 32px;
  display: none;
}
@media (min-width: 0px) and (max-width: 930px) {
  .old3 {
    flex-direction: column;
    column-gap: 0px;
    display: none;
  }
}
.columns__yfSk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 32px;
  min-width: 0;
  --plsmc-rc-col-gap: 16px;
}
.columns__yfSk > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__yfSk > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__yfSk {
    position: relative;
    left: auto;
    top: auto;
    padding-top: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    --plsmc-rc-col-gap: 16px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__yfSk > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xjuLf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__u6Rep {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  column-gap: 16px;
  width: 100%;
  height: 100%;
  background: var(--token-o5QzyuxQjxLV);
  box-shadow: 0px 1px 1px 1px #ffb000;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__u6Rep {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-left: 16px;
    column-gap: 0px;
  }
}
.freeBox__hHkhU {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  width: 20%;
  border-radius: 8px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hHkhU {
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 40%;
  }
}
.img__u7NEt {
  object-fit: cover;
  max-width: 100%;
}
.img__u7NEt > picture > img {
  object-fit: cover;
}
.freeBox___3Vuxg {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__pLl7L {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__kzQgF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  row-gap: 4px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__kzQgF {
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
  }
}
.text__gn8SK {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__e4Ztw {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column___6BzVl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox___51V2Z {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  column-gap: 16px;
  width: 100%;
  height: 100%;
  background: var(--token-o5QzyuxQjxLV);
  box-shadow: 0px 1px 1px 1px #ffb000;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___51V2Z {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.freeBox__rKrYz {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  width: 20%;
  border-radius: 8px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rKrYz {
    align-self: center;
    width: 40%;
  }
}
.img__yxxLc {
  object-fit: cover;
  max-width: 100%;
}
.img__yxxLc > picture > img {
  object-fit: cover;
}
.freeBox__fE4Ok {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg___8Qqgx {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___1K3Js {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__uOcb7 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__vcD31 {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__y7IeJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__rpUCt {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  column-gap: 16px;
  width: 100%;
  height: 100%;
  background: var(--token-o5QzyuxQjxLV);
  box-shadow: 0px 1px 1px 1px #ffb000;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rpUCt {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-left: 16px;
    column-gap: 0px;
  }
}
.freeBox__w6UI {
  display: flex;
  background: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 20%;
  border-radius: 8px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__w6UI {
    align-self: center;
    width: 40%;
  }
}
.img___0YFeE {
  object-fit: cover;
  max-width: 100%;
}
.img___0YFeE > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___0YFeE {
    max-width: 120%;
  }
}
.freeBox__c7Gyq {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__hi4JL {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__laoTa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__y2FeW {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___1AeHr {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__f7E6E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__diDyz {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  column-gap: 16px;
  width: 100%;
  height: 100%;
  background: var(--token-o5QzyuxQjxLV);
  box-shadow: 0px 1px 1px 1px #ffb000;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__diDyz {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.freeBox__gxqE4 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  width: 20%;
  border-radius: 8px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__gxqE4 {
    align-self: center;
    width: 40%;
  }
}
.img__xnbH1 {
  object-fit: cover;
  max-width: 100%;
}
.img__xnbH1 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__xnbH1 {
    max-width: 120%;
  }
}
.freeBox___9ZOi4 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__cQatK {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__c4IjX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__rEqU5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__rEqU5 {
    align-self: flex-start;
  }
}
.text__ahb4 {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__ckgz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__pveVk {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  column-gap: 16px;
  width: 100%;
  height: 100%;
  background: var(--token-o5QzyuxQjxLV);
  box-shadow: 0px 1px 1px 1px #ffb000;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__pveVk {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-left: 16px;
    column-gap: 0px;
  }
}
.freeBox__ibRro {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  width: 20%;
  border-radius: 8px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ibRro {
    align-self: center;
    width: 40%;
  }
}
.img__liN {
  object-fit: cover;
  max-width: 100%;
}
.img__liN > picture > img {
  object-fit: cover;
}
.freeBox___4APf6 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__twNMj {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__ia1Ff {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__qvTKa {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___2GrP {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__ndgy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  overflow: visible;
}
.freeBox___5RT5V {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  column-gap: 16px;
  width: 100%;
  height: 100%;
  background: var(--token-o5QzyuxQjxLV);
  box-shadow: 0px 1px 1px 1px #ffb000;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5RT5V {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.freeBox__eYrk {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  width: 20%;
  border-radius: 8px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__eYrk {
    align-self: center;
    width: 40%;
  }
}
.img__oqCmA {
  object-fit: cover;
  max-width: 100%;
}
.img__oqCmA > picture > img {
  object-fit: cover;
}
.freeBox___0S13W {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 8px;
  padding: 0px;
}
.svg__jhcRm {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__sd56G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text___0PqKx {
  height: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__drd02 {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.modernShine3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 0px;
}
.cardWithBackground2__v0IqX:global(.__wab_instance) {
  max-width: 100%;
}
.cardWithBackground2__dcNt1:global(.__wab_instance) {
  max-width: 100%;
}
.cardWithBackground2__f2R1Q:global(.__wab_instance) {
  max-width: 100%;
}
.cardWithBackground2__ifaHx:global(.__wab_instance) {
  max-width: 100%;
}
.cardWithBackground2__oRiW:global(.__wab_instance) {
  max-width: 100%;
}
.cardWithBackground2__yF72N:global(.__wab_instance) {
  max-width: 100%;
}
.miseenplace {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  background: none;
  grid-row-gap: 40px;
  transition-property: all;
  transition-duration: 1s;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 50px;
  padding: 100px;
  margin: 0px;
}
.miseenplace > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .miseenplace {
    grid-row-gap: 10px;
    width: 100%;
    min-width: 0;
    padding: 20px;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .miseenplace > * {
    grid-column: 4;
  }
}
.cadre2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  background:
    linear-gradient(
        120deg,
        var(--token-_LX8zWYksvaJ) 0%,
        var(--token-ruEH_kPMz8sH) 100%
      )
      0% 0% / 100% 100% repeat,
    var(--token-_LX8zWYksvaJ);
  overflow: hidden;
  row-gap: 40px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  border-radius: 50px;
  padding: 80px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .cadre2 {
    row-gap: 10px;
    height: 100%;
    width: 100%;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
    padding: 30px 20px;
  }
}
.h2__mbTi {
  width: 100%;
  background: none;
  color: var(--token-rxMWCxIuxqRu);
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__mbTi {
    text-align: center;
    font-size: var(--token-zGJggj0WBmcV);
  }
}
.freeBox__aj8U8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 48px;
  width: 100%;
  background: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aj8U8 {
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    column-gap: 0px;
    min-height: 0;
  }
}
.freeBox__gEq0L {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 48px;
  display: none;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__gEq0L {
    flex-direction: column;
    row-gap: 48px;
    column-gap: 0px;
    display: none;
  }
}
.mepOld__fopiv:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.mepOld__dquF1:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.mepOld__imHeI:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.mepOld__tfJ8H:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.freeBox__afLfu {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__afLfu {
    flex-direction: row;
    column-gap: 10px;
    align-items: stretch;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}
.svg___5BLPe {
  object-fit: cover;
  height: 100px;
  color: var(--token-rxMWCxIuxqRu);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg___5BLPe {
    height: 60px;
    color: var(--token-rxMWCxIuxqRu);
  }
}
.mepNew___6UIt4:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .mepNew___6UIt4:global(.__wab_instance) {
    left: auto;
    top: auto;
    position: relative;
  }
}
.svg__mezby {
  object-fit: cover;
  height: 100px;
  color: var(--token-rxMWCxIuxqRu);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__mezby {
    height: 60px;
  }
}
.svg__sorJl {
  object-fit: cover;
  height: 100px;
  color: var(--token-rxMWCxIuxqRu);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__sorJl {
    height: 60px;
  }
}
.mepNew__bPmEr:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .mepNew__bPmEr:global(.__wab_instance) {
    left: auto;
    top: auto;
    position: relative;
  }
}
.svg__pa6Y6 {
  object-fit: cover;
  height: 100px;
  color: var(--token-rxMWCxIuxqRu);
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__pa6Y6 {
    height: 60px;
  }
}
.callToAction {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 50px;
  background:
    radial-gradient(
        ellipse 40% 80% at 50% 80%,
        #ce9fff59 0%,
        var(--token-R86Fcc--yADx) 100%
      )
      0% 0% / 100% 100% repeat,
    #ffffff;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.callToAction > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .callToAction {
    grid-row-gap: 20px;
    padding: 50px 20px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .callToAction > * {
    grid-column: 4;
  }
}
.h2__c9VxK {
  position: relative;
  width: 100%;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__c9VxK {
    width: 100%;
    font-size: var(--token-zGJggj0WBmcV);
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.link__yytHd {
  display: flex;
}
.buttonPrimary__aUaV:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__jnPpC {
  position: relative;
  height: 1em;
}
.text__fcy9 {
  white-space: pre;
  color: var(--token-o5QzyuxQjxLV);
  font-size: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__fcy9 {
    font-size: var(--token-h44X3KXzj2JM);
  }
}
.svg__avJuU {
  position: relative;
  height: 1em;
}
.footerSection:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.youTube:global(.__wab_instance) {
  width: 640px;
  height: 372px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  flex-shrink: 0;
  display: none;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__tatWn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns___9ABDs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 52px;
  min-width: 0;
  --plsmc-rc-col-gap: 52px;
  padding: 0px;
}
.columns___9ABDs > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___9ABDs > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___9ABDs > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___9ABDs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 52px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___9ABDs > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__vzOvg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__xCN:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__kKnoH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__xa2G8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__xa2G8:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox___3Ygf2 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__yxjow {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__yxjow {
    top: 85px;
    font-size: 14px;
  }
}
.column__q7JjV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard___3Ye58:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard___3Ye58:global(.__wab_instance) {
    margin-top: 30px;
  }
}
