.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  column-gap: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.rootrevers {
  flex-direction: row-reverse;
  row-gap: 0px;
}
.freeBox__pwmNk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__pwmNk {
    align-items: center;
    justify-content: flex-start;
  }
}
.h4 {
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4 {
    text-align: center;
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text {
    max-width: none;
    width: auto;
    text-align: center;
  }
}
.freeBox__we24G {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg___0Gpny {
  animation: none;
  object-fit: cover;
  width: 200px;
  height: 200px;
  color: #ffb000;
  flex-shrink: 0;
}
