.casUsage {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0;
}
.casUsage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .casUsage {
    padding: 20px 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .casUsage > * {
    grid-column: 4;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  row-gap: 64px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .titre {
    position: relative;
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2 {
    font-size: var(--token-zGJggj0WBmcV);
  }
}
.h4 {
  line-height: 28px;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4 {
    text-align: center;
    font-size: var(--token-h44X3KXzj2JM);
    line-height: 20px;
  }
}
.cas {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .cas {
    position: relative;
    left: auto;
    top: auto;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-auto-rows: 20px;
    column-gap: 0px;
  }
}
.cas__hlUwk:global(.__wab_instance) {
  position: relative;
}
.svg__voJ47 {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.cas__qEywF:global(.__wab_instance) {
  position: relative;
}
.svg__pfcGz {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.cas__a3RpQ:global(.__wab_instance) {
  position: relative;
}
.svg__v7OOn {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.cas__wSbmG:global(.__wab_instance) {
  position: relative;
}
.svg__nZuxe {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
