.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  column-gap: 16px;
  min-width: 0;
  padding: 0px 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 32px;
  }
}
.freeBox__en1El {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--token-zPPUih1PFGmA);
  height: 100%;
  max-height: 62px;
  column-gap: 16px;
  min-width: 0;
  min-height: 0;
  padding: 35px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__en1El {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 0px;
    max-height: 500px;
    height: 100%;
    row-gap: 16px;
    column-gap: 0px;
    min-height: 0;
  }
}
.logo:global(.__wab_instance) {
  width: 230px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    width: 158px;
  }
}
.freeBox__d2AI8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__d2AI8 {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.link__s3UmX {
  display: flex;
  font-size: 1rem;
}
.text__nUjR5 {
  white-space: pre;
  color: #eeeeee;
  font-size: 20px;
}
.link__r3BUr {
  display: flex;
  font-size: 1rem;
}
.text__ltatw {
  white-space: pre;
  color: #eeeeee;
  height: auto;
  font-size: 20px;
}
.link__mByEv {
  display: flex;
  font-size: 1rem;
}
.text__hzD5B {
  white-space: pre;
  color: #eeeeee;
  font-size: 20px;
}
.link__ofwkK {
  display: flex;
  font-size: 1rem;
}
.text__ucjd {
  white-space: pre;
  color: #eeeeee;
  font-size: 20px;
}
.freeBox___5LSqc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  column-gap: 32px;
}
.cloudIamNavigationLinkPrimaryCta:global(.__wab_instance) {
  max-width: 100%;
  width: 200px;
  flex-shrink: 0;
}
.text__guiS {
  font-family: "Montserrat", sans-serif;
  font-size: var(--token-_mt46frnUBmE);
  font-weight: 700;
  font-style: normal;
  color: var(--token-DmTKZhDCarcy);
  text-align: left;
  text-transform: none;
  line-height: var(--token-hk3LAvZuPnRb);
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
