.compatibilite {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-rxMWCxIuxqRu);
  grid-row-gap: 30px;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 70px 0px;
}
.compatibilite > * {
  grid-column: 4;
}
.freeBox__yooJd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.h3 {
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3 {
    font-size: var(--token-LGGSwgaNLz8J);
    line-height: 30px;
  }
}
.freeBox__tRq3G {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: none;
  justify-self: flex-start;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__tRq3G {
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    row-gap: 0px;
  }
}
.nextlane {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.img__fxxVx {
  object-fit: cover;
  max-width: 100%;
  height: 70%;
}
.img__fxxVx > picture > img {
  object-fit: cover;
}
.cdKglobal {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.img__d8PyN {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.img__d8PyN > picture > img {
  object-fit: cover;
}
.mecaplanning {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.img___1QYi {
  object-fit: cover;
  max-width: 100%;
}
.img___1QYi > picture > img {
  object-fit: cover;
}
.dcSnet {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.img___7LlI2 {
  object-fit: cover;
  max-width: 50%;
}
.img___7LlI2 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___7LlI2 {
    max-width: 40%;
  }
}
.bee2Link {
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  top: 0px;
  left: 0px;
  align-self: auto;
  padding: 0px;
  margin: 0px;
}
.img__iL7P9 {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: auto;
}
.img__iL7P9 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__iL7P9 {
    max-width: 90%;
  }
}
.columns {
  position: relative;
  width: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 24px;
  background: #f2f2f7;
  height: auto;
  min-width: 0;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 8px 0px;
}
.columns > :nth-child(5n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(5n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(5n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(5n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(5n + 5) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___7KLlX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
.img__rFbRc {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 8px;
  height: 70%;
}
.img__rFbRc > picture > img {
  object-fit: cover;
}
.column___2YcDr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__a9MGp {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.img__a9MGp > picture > img {
  object-fit: cover;
}
.column__l1Ig9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___09WLw {
  object-fit: cover;
  max-width: 100%;
}
.img___09WLw > picture > img {
  object-fit: cover;
}
.column__bO5WZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__xqYw4 {
  object-fit: cover;
  max-width: 50%;
}
.img__xqYw4 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__xqYw4 {
    max-width: 40%;
  }
}
.column__n3Sj1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___42BTx {
  object-fit: cover;
  max-width: 100%;
  align-self: auto;
  position: sticky;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
}
.img___42BTx > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___42BTx {
    max-width: 90%;
  }
}
