.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  padding-bottom: var(--token-RRTGM6n0B8sr);
  justify-self: flex-start;
  position: relative;
  padding-top: var(--token-RRTGM6n0B8sr);
  transform: scaleX(1) scaleY(1) scaleZ(1);
  cursor: pointer;
  column-gap: var(--token-q6xoUjynP1IL);
}
.root:hover {
  max-width: none;
}
.freeBox__mv7IO {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  display: none;
}
.freeBoxiconLeft__mv7IOzM9Dy {
  display: flex;
}
.img__kuAb {
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.img__kuAb > picture > img {
  object-fit: cover;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-_mt46frnUBmE);
  color: #1c2c4f;
  font-weight: 600;
  transition-property: all;
  transition-duration: 0.25s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.25s;
}
.textcolorMode_dark {
  color: #ffffff;
}
.root:hover .text {
  padding-right: var(--token-RRTGM6n0B8sr);
}
.svg {
  object-fit: cover;
  color: #1c2c4f;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgcolorMode_dark {
  color: #ffffff;
}
.freeBox__eJDeg {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  max-width: 100%;
  left: 0;
  top: auto;
  background: #1c2c4f;
  transform: scaleX(0) scaleY(1) scaleZ(1);
  bottom: 0;
  transform-origin: 0% 0%;
  transition-property: transform;
  transition-duration: 0.25s;
  min-width: 0;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.25s;
  margin: auto;
}
.freeBoxcolorMode_dark__eJDegc1Oxr {
  background: #ffffff;
}
.root:hover .freeBox__eJDeg {
  transform: scaleX(1) scaleY(1) scaleZ(1);
}
