.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--token-7XGqWuzxLLAG);
  width: 100%;
  min-width: 0;
  padding: 16px 25px;
  border-width: 1px;
  border-style: none;
}
.freeBox__zx4Xy {
  display: flex;
  position: relative;
  max-width: var(--token-g2ytubvyEq5L);
  flex-direction: row;
  width: 100%;
  column-gap: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zx4Xy {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    column-gap: 0px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__r8Ejx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__r8Ejx {
    justify-content: center;
  }
}
.freeBox__ovC1A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 120%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
  left: auto;
  top: auto;
  right: auto;
  width: 200px;
  height: 100%;
  min-height: 0;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: flex-end;
    margin-top: 0px;
  }
}
.text__qfTeP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__qfTeP {
    text-align: center;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  align-self: center;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img {
    align-self: center;
  }
}
.column__xhZty {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__xhZty {
    justify-content: center;
    align-items: center;
  }
}
.h4__f0Bzy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__f0Bzy {
    text-align: center;
  }
}
.link__tGqw {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__tGqw {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    column-gap: 0px;
  }
}
.text___4Uvn4 {
  white-space: pre;
  color: var(--token-okZqvxZ_nx_g);
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___4Uvn4 {
    text-align: left;
    align-self: center;
    position: relative;
    left: auto;
    top: auto;
    z-index: 1;
  }
}
.link__kMnH {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__kMnH {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    column-gap: 0px;
  }
}
.text__bQcoL {
  white-space: pre;
  color: var(--token-okZqvxZ_nx_g);
}
.link__j9EzO {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__j9EzO {
    align-self: center;
  }
}
.text__sFjyl {
  white-space: pre;
  color: var(--token-okZqvxZ_nx_g);
  align-self: auto;
}
.column___18EiR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___18EiR {
    justify-content: center;
  }
}
.h4__ddLmx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__ddLmx {
    align-self: center;
    text-align: center;
  }
}
.link__j2VOg {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__j2VOg {
    align-self: center;
  }
}
.text__ubTab {
  white-space: pre;
  color: var(--token-okZqvxZ_nx_g);
}
.link__lAci {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__lAci {
    align-self: center;
  }
}
.text__tjzjS {
  white-space: pre;
  color: var(--token-okZqvxZ_nx_g);
}
