.body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  padding-right: 0px;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: var(--token-o5QzyuxQjxLV);
  overflow: hidden;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
  max-width: 2048px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .wrapper {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  align-self: auto;
  transition-property: all;
  transition-duration: 1s;
  height: 100%;
  margin-top: 0px;
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navbar:global(.__wab_instance) {
    align-self: auto;
    position: relative;
    left: auto;
    top: auto;
    height: 100%;
    min-height: 0;
    margin: auto;
  }
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0;
}
.section > * {
  grid-column: 4;
}
.freeBox__axbu {
  display: flex;
  flex-direction: column;
  background: none;
  width: 100%;
  row-gap: 30px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0;
  margin: 0;
}
.titre {
  display: flex;
  flex-direction: column;
  background: none;
  box-shadow: none;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
}
.h1 {
  background: linear-gradient(
      90deg,
      var(--token-_LX8zWYksvaJ) 0%,
      var(--token-ruEH_kPMz8sH) 100%
    )
    0% 0% / 100% 100% repeat padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 0;
  margin: 0;
}
.freeBox__sMkZh {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__sMkZh {
    width: 100%;
    max-width: 367px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.nePasToucher {
  display: grid;
  flex-direction: column;
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  padding: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .nePasToucher {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    flex-shrink: 1;
    max-width: 352px;
    width: 100%;
    grid-row-gap: 20px;
    grid-column-gap: 0px;
    transform: none;
    flex-grow: 0;
    position: relative;
    left: auto;
    top: auto;
    z-index: 1;
    align-self: auto;
    opacity: 1;
    order: 0;
    min-width: 0;
    margin: 0px;
  }
}
.freeBox__g2Qz5 {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 40px;
  margin: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__g2Qz5 {
    grid-row-start: 1;
    grid-column-start: 1;
  }
}
.h2___8Ekwy {
  font-family: "Roboto", sans-serif;
  color: #1e3a8a;
  line-height: 1.6;
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 30px;
}
.freeBox__mbxvS {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 25px;
}
.label___3Jhqo {
  display: block;
  flex-direction: column;
  padding: 0;
  margin: 0 0 8px;
}
.span__fElJb {
  font-family: "Roboto", sans-serif;
  color: var(--token-jsoxkY4uzex7);
  line-height: 1.6;
  font-weight: 500;
  font-size: 14px;
}
.freeBox__u06QG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 0;
  margin: 0;
}
.textbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  padding: 12px 60px 12px 16px;
  margin: 0;
}
.span__kJ6Wk {
  font-family: "-apple-system,BlinkMacSystemFont," Segoe UI ",Roboto," Helvetica
    Neue ",Arial,sans-serif";
  color: #718096;
  line-height: 1.6;
  position: absolute;
  right: 16px;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.freeBox__sLzQ2 {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 25px;
}
.label__qr1Io {
  display: block;
  flex-direction: column;
  padding: 0;
  margin: 0 0 8px;
}
.span__ppmi7 {
  font-family: "Roboto", sans-serif;
  color: var(--token-jsoxkY4uzex7);
  line-height: 1.6;
  font-weight: 500;
  font-size: 14px;
}
.freeBox___9XPzk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 0;
  margin: 0;
}
.textbox2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  padding: 12px 60px 12px 16px;
  margin: 0;
}
.span__ljFwT {
  font-family: "-apple-system,BlinkMacSystemFont," Segoe UI ",Roboto," Helvetica
    Neue ",Arial,sans-serif";
  color: #718096;
  line-height: 1.6;
  position: absolute;
  right: 16px;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.freeBox__ak6IU {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 25px;
}
.label___9RwA {
  display: block;
  flex-direction: column;
  padding: 0;
  margin: 0 0 8px;
}
.span__eevw7 {
  font-family: "Roboto", sans-serif;
  color: var(--token-jsoxkY4uzex7);
  line-height: 1.6;
  font-weight: 500;
  font-size: 14px;
}
.freeBox__oKcS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 0;
  margin: 0;
}
.textbox3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  padding: 12px 60px 12px 16px;
  margin: 0;
}
.span__dcS9Z {
  font-family: "-apple-system,BlinkMacSystemFont," Segoe UI ",Roboto," Helvetica
    Neue ",Arial,sans-serif";
  color: #718096;
  line-height: 1.6;
  position: absolute;
  right: 16px;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.freeBox__lQ9U {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 25px;
}
.label__qsTw {
  display: block;
  flex-direction: column;
  padding: 0;
  margin: 0 0 8px;
}
.span__ao4D3 {
  font-family: "Roboto", sans-serif;
  color: var(--token-jsoxkY4uzex7);
  line-height: 1.6;
  font-weight: 500;
  font-size: 14px;
}
.freeBox__dbYRa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 0;
  margin: 0;
}
.textbox4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  padding: 12px 60px 12px 16px;
  margin: 0;
}
.span__qav2A {
  font-family: "-apple-system,BlinkMacSystemFont," Segoe UI ",Roboto," Helvetica
    Neue ",Arial,sans-serif";
  color: #718096;
  line-height: 1.6;
  position: absolute;
  right: 16px;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.freeBox__zufmo {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 25px;
}
.label__nwHn {
  display: block;
  flex-direction: column;
  padding: 0;
  margin: 0 0 8px;
}
.span__lnfoB {
  font-family: "Roboto", sans-serif;
  color: var(--token-jsoxkY4uzex7);
  line-height: 1.6;
  font-weight: 500;
  font-size: 14px;
}
.freeBox__a04Xf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 0;
  margin: 0;
}
.textbox5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  padding: 12px 60px 12px 16px;
  margin: 0;
}
.span__q0CVh {
  font-family: "-apple-system,BlinkMacSystemFont," Segoe UI ",Roboto," Helvetica
    Neue ",Arial,sans-serif";
  color: #718096;
  line-height: 1.6;
  position: absolute;
  right: 16px;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.freeBox__irVw {
  display: grid;
  flex-direction: column;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 0;
  margin: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__irVw {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-right: 0px;
  }
}
.freeBox__e0Yfg {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 30px;
  margin: 0;
}
.freeBox__jp8Yy {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 15px;
}
.span___6VmTz {
  font-family: "-apple-system,BlinkMacSystemFont," Segoe UI ",Roboto," Helvetica
    Neue ",Arial,sans-serif";
  color: #2d3748;
  line-height: 1.6;
  text-align: center;
  font-size: 40px;
}
.freeBox__dvzSw {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 10px;
}
.span__qqTf4 {
  font-family: "Roboto", sans-serif;
  color: var(--token-jsoxkY4uzex7);
  line-height: 1.6;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.freeBox__pWLq5 {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.span__cRnU0 {
  font-family: "Roboto", sans-serif;
  color: var(--token-D5datrW5yy5e);
  line-height: 1.6;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.freeBox__go6Sc {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 30px;
  margin: 0;
}
.freeBox__x4Hb5 {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 15px;
}
.span__kPluY {
  font-family: "-apple-system,BlinkMacSystemFont," Segoe UI ",Roboto," Helvetica
    Neue ",Arial,sans-serif";
  color: #2d3748;
  line-height: 1.6;
  text-align: center;
  font-size: 40px;
}
.freeBox___0EAu7 {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 10px;
}
.span__aDwv {
  font-family: "Roboto", sans-serif;
  color: var(--token-jsoxkY4uzex7);
  line-height: 1.6;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.freeBox__ppkb {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.span__og9Zv {
  font-family: "Roboto", sans-serif;
  color: var(--token-D5datrW5yy5e);
  line-height: 1.6;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.freeBox__hc2Nx {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 30px;
  margin: 0;
}
.freeBox__kryZ {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 15px;
}
.span__iEaZm {
  font-family: "-apple-system,BlinkMacSystemFont," Segoe UI ",Roboto," Helvetica
    Neue ",Arial,sans-serif";
  color: #2d3748;
  line-height: 1.6;
  text-align: center;
  font-size: 40px;
}
.freeBox__pzVfv {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 10px;
}
.span__m4RQh {
  font-family: "Roboto", sans-serif;
  color: var(--token-jsoxkY4uzex7);
  line-height: 1.6;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.freeBox__yPhPo {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.span__a6Ymq {
  font-family: "Roboto", sans-serif;
  color: var(--token-D5datrW5yy5e);
  line-height: 1.6;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.freeBox__q7Skk {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    var(--token-_LX8zWYksvaJ) 0%,
    var(--token-ruEH_kPMz8sH) 100%
  );
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  padding: 30px;
  margin: 0;
}
.freeBox__jrj2 {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 15px;
}
.span__r2E7T {
  font-family: "-apple-system,BlinkMacSystemFont," Segoe UI ",Roboto," Helvetica
    Neue ",Arial,sans-serif";
  color: white;
  line-height: 1.6;
  text-align: center;
  font-size: 40px;
}
.freeBox__nl8KP {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 10px;
}
.span__h83W0 {
  font-family: "Roboto", sans-serif;
  color: var(--token-o5QzyuxQjxLV);
  line-height: 1.6;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.freeBox__z1YsB {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  padding: 0;
  margin: 0;
}
.span__ds65M {
  font-family: "Roboto", sans-serif;
  color: var(--token-o5QzyuxQjxLV);
  line-height: 1.6;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.span__yEvan {
  font-family: "Roboto", sans-serif;
  color: var(--token-o5QzyuxQjxLV);
  line-height: 1.6;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.span__eua6A {
  background: var(--token-_LX8zWYksvaJ);
  display: inline-block;
  line-height: 1.6;
  text-align: center;
  color: var(--token-o5QzyuxQjxLV);
  font-weight: 600;
  font-size: 16px;
  font-family: "-apple-system,BlinkMacSystemFont," Segoe UI ",Roboto," Helvetica
    Neue ",Arial,sans-serif";
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0 0 0 10px;
}
.codeCalculateur:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: block;
}
.freeBox__vfaAh {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.08);
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
  border-radius: 16px;
  padding: 50px;
  margin: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vfaAh {
    position: relative;
    left: auto;
    top: auto;
  }
}
.h2__fob2G {
  padding: 0;
  margin: 0px;
}
.text__d4XCh {
  padding: 0;
  margin: 0px;
}
.link {
  display: flex;
  flex-direction: column;
  background: none;
  cursor: pointer;
  width: auto;
  align-self: center;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-height: 0;
  border-radius: 8px;
}
.buttonPrimary:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__zszyq {
  position: relative;
  height: 1em;
}
.text__zTIqY {
  white-space: pre;
  color: #eeeeee;
}
.svg__rkPpd {
  position: relative;
  height: 1em;
}
.footer:global(.__wab_instance) {
  position: relative;
}
