.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    width: auto;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
  }
}
.img {
  object-fit: cover;
  width: 100%;
  height: 40px;
  margin-right: 0px;
  margin-bottom: 0px;
  max-width: 40px;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img {
    align-self: center;
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    max-width: 30px;
  }
}
.img_50Opaque {
  opacity: 0.5;
}
.imgsmallLogo {
  max-width: 50px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-J3mA70N-wqsu);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text {
    font-size: var(--token-zGJggj0WBmcV);
  }
}
