.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
  justify-content: center;
  row-gap: 20px;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  border-radius: 20px;
  padding: 30px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    justify-self: flex-start;
    column-gap: 0px;
    min-width: 0;
    min-height: 0;
  }
}
.root:hover {
  box-shadow: 0px 12px 28px 0px var(--token-_PnNvvQms_S8);
  transform: scale3d(1.05, 1.05, 1.05);
  transform-style: preserve-3d;
}
.root:hover * {
  transform-style: preserve-3d;
}
.freeBox__vXoe0 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: linear-gradient(
    135deg,
    var(--token-_LX8zWYksvaJ) 0%,
    var(--token-ruEH_kPMz8sH) 100%
  );
  border-radius: 200px;
  padding: 10px;
}
.freeBoxjaune__vXoe0LGSqO {
  background: var(--token-ruEH_kPMz8sH);
}
.svg__q9UiH {
  object-fit: cover;
  color: #ffffff;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.freeBox__ub9P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.h4 {
  line-height: 28px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 0px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4 {
    text-align: center;
    font-size: var(--token-_vZcWegs4AvP);
    line-height: 20px;
  }
}
.text {
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-weight: 300;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text {
    text-align: center;
    font-size: var(--token-SJxn0KH5ERld);
  }
}
