.cadre {
  display: inline-flex;
  width: auto;
  height: 100%;
  position: relative;
  background: var(--token-o5QzyuxQjxLV);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
  justify-self: flex-start;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 250ms;
  border-radius: 20px;
  padding: 30px;
  border: 1px solid var(--token-pyhDq7s0RTkz);
}
@media (min-width: 0px) and (max-width: 930px) {
  .cadre {
    width: 100%;
    row-gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0px;
    min-width: 0;
    padding: 15px;
  }
}
.cadre:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  box-shadow: 0px 12px 28px 0px var(--token-_PnNvvQms_S8);
  transform-style: preserve-3d;
}
.cadre:hover * {
  transform-style: preserve-3d;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  border-radius: 8px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .icon {
    justify-content: center;
    align-items: center;
    align-self: auto;
    width: auto;
  }
}
.freeBox___1IMvW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--token-4KRNC7sgByoy);
  min-width: 0;
  min-height: 0;
  border-radius: 2000px;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___1IMvW {
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }
}
.slotTargetChildren {
  color: #ffb000;
}
.img__cn613 {
  object-fit: cover;
  max-width: 100%;
  height: 50px;
}
.img__cn613 > picture > img {
  object-fit: cover;
}
.texte {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 4px;
  left: auto;
  top: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .texte {
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
    min-width: 0;
  }
}
.h4 {
  line-height: 28px;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-D5datrW5yy5e);
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4 {
    font-size: var(--token-LGGSwgaNLz8J);
    text-align: left;
    line-height: 20px;
    white-space: pre-wrap;
    width: 100%;
    min-width: 0;
  }
}
.h6 {
  height: auto;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h6 {
    font-size: var(--token-h44X3KXzj2JM);
    text-align: left;
  }
}
.freeBox__j3Hc {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  border-radius: 8px;
  padding: 0px;
}
.svg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
