.body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  padding-right: 0px;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  min-height: 0;
}
.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: var(--token-o5QzyuxQjxLV);
  overflow: hidden;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
  max-width: 2425px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .wrapper {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  align-self: auto;
  transition-property: all;
  transition-duration: 1s;
  height: 13.71%;
  margin-top: 0px;
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navbar:global(.__wab_instance) {
    align-self: auto;
    position: relative;
    left: auto;
    top: auto;
    height: 100%;
    min-height: 0;
    margin: auto;
  }
}
.histoire {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  background: none;
  grid-row-gap: 20px;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-5beiCiv05PJs) 0;
}
.histoire > * {
  grid-column: 4;
}
.freeBox__ia7Dz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.h2__hWlcM {
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__hWlcM {
    font-size: var(--token-zGJggj0WBmcV);
  }
}
.text__zJ6DL {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__zJ6DL {
    font-size: var(--token-y8m-emOk2tJG);
  }
}
.equipe {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: none;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 20px;
  padding: var(--token-5beiCiv05PJs) 0;
}
.equipe > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .equipe {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .equipe > * {
    grid-column: 4;
  }
}
.freeBox__dQmSy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-rxMWCxIuxqRu);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 20px;
  padding: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dQmSy {
    padding: 20px;
  }
}
.freeBox__g3Bsc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  row-gap: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__g3Bsc {
    width: 100%;
    row-gap: 20px;
    column-gap: 0px;
    min-width: 0;
  }
}
.titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
}
.h2__hy9SA {
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__hy9SA {
    font-size: var(--token-zGJggj0WBmcV);
    text-align: center;
  }
}
.text__hjF2L {
  color: var(--token-_LX8zWYksvaJ);
  line-height: 26px;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__hjF2L {
    font-size: var(--token-y8m-emOk2tJG);
    line-height: 20px;
  }
}
.freeBox___5FYf7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5FYf7 {
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.equipe___3IFcZ:global(.__wab_instance) {
  position: relative;
}
.link__gVGou {
  display: flex;
}
.img__pTnFn {
  object-fit: cover;
  height: 100%;
  border-radius: 200px;
}
.img__pTnFn > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__pTnFn {
    height: 80px;
  }
}
.equipe__n5Fz5:global(.__wab_instance) {
  position: relative;
}
.link__ue7Ch {
  display: flex;
}
.img__y4HJ {
  object-fit: cover;
  height: 100%;
  border-radius: 200px;
}
.img__y4HJ > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__y4HJ {
    height: 80px;
  }
}
.equipe___8EZra:global(.__wab_instance) {
  position: relative;
}
.link__pcDp8 {
  display: flex;
}
.img__ybDx {
  object-fit: cover;
  height: 100%;
  border-radius: 200px;
}
.img__ybDx > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ybDx {
    height: 80px;
  }
}
.freeBox__y6O1T {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__y6O1T {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.equipe__psLfk:global(.__wab_instance) {
  position: relative;
}
.link__nFt7A {
  display: flex;
}
.img__u8Fau {
  object-fit: cover;
  height: 100%;
  border-radius: 210px;
}
.img__u8Fau > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__u8Fau {
    height: 80px;
  }
}
.equipe__soEn:global(.__wab_instance) {
  position: relative;
}
.link___1THwx {
  display: flex;
}
.img___47KIz {
  object-fit: cover;
  height: 100%;
  border-radius: 200px;
}
.img___47KIz > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___47KIz {
    height: 80px;
  }
}
.equipe___5DNdD:global(.__wab_instance) {
  position: relative;
}
.link__kwKx2 {
  display: flex;
}
.img__nInoP {
  object-fit: cover;
  height: 100%;
  border-radius: 200px;
}
.img__nInoP > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__nInoP {
    height: 80px;
  }
}
.chronologie {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #ffffff;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-5beiCiv05PJs) 0;
}
.chronologie > * {
  grid-column: 4;
}
.freeBox__zVsa9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zVsa9 {
    margin-top: 70px;
  }
}
.h2___5GD4E {
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2___5GD4E {
    max-width: auto;
    width: 100%;
    font-size: var(--token-zGJggj0WBmcV);
    text-align: center;
    min-width: 0;
  }
}
.text___0AhEa {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 0px;
  color: var(--token-O5FVPUzEQMyt);
  text-align: left;
  padding-right: 0px;
  padding-bottom: 24px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___0AhEa {
    text-align: center;
    font-size: 14px;
  }
}
.ul__ewo4N {
  display: flex;
  flex-direction: column;
}
.li___6AAi {
  text-align: left;
}
.li__eIznQ {
  text-align: left;
}
.ul__fif2B {
  display: flex;
  flex-direction: column;
}
.li__mCnT {
  text-align: left;
}
.ul__gKC {
  display: flex;
  flex-direction: column;
}
.li__yFdNa {
  text-align: left;
}
.ul__rDbea {
  display: flex;
  flex-direction: column;
}
.li__bdoE2 {
  text-align: left;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__xiXbS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 52px;
  min-width: 0;
  --plsmc-rc-col-gap: 52px;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 52px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hcfi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__g2Zrl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__bxuqM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__zw2Cd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__zw2Cd:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox___5IzU1 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__kEfdL {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__kEfdL {
    top: 85px;
    font-size: 14px;
  }
}
.column__juw9S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__pmm0G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__pmm0G:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
