.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--token-jsoxkY4uzex7);
  width: 100%;
  min-width: 0;
  padding: 50px 0px;
  border-width: 1px;
  border-style: none;
}
.freeBox__zx4Xy {
  display: flex;
  position: relative;
  max-width: var(--token-g2ytubvyEq5L);
  flex-direction: row;
  width: 100%;
  column-gap: 30px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zx4Xy {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.logo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: nowrap;
    align-content: stretch;
    column-gap: 0px;
  }
}
.logo__tbr6A:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo__tbr6A:global(.__wab_instance) {
    width: auto;
  }
}
.text__qfTeP {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-o5QzyuxQjxLV);
  font-size: 12px;
  font-weight: 300;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__qfTeP {
    text-align: center;
    font-size: var(--token-_vZcWegs4AvP);
  }
}
.img {
  object-fit: cover;
  width: 100px;
  align-self: auto;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img {
    align-self: center;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .menu {
    row-gap: 0px;
    column-gap: 0px;
  }
}
.h4__f0Bzy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__f0Bzy {
    text-align: center;
    font-size: var(--token-h44X3KXzj2JM);
    line-height: 27px;
  }
}
.link__tGqw {
  align-self: flex-start;
  display: flex;
  color: var(--token-o5QzyuxQjxLV);
  font-weight: 400;
  font-size: 12px;
  text-decoration-line: none;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__tGqw {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___4Uvn4 {
    text-align: left;
    align-self: center;
    position: relative;
    left: auto;
    top: auto;
    z-index: 1;
  }
}
.link__hNjmc {
  align-self: flex-start;
  display: flex;
  font-size: 12px;
  color: var(--token-o5QzyuxQjxLV);
  text-decoration-line: none;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__hNjmc {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    column-gap: 0px;
  }
}
.text__b4I9Q {
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__b4I9Q {
    text-align: left;
    align-self: center;
    position: relative;
    left: auto;
    top: auto;
    z-index: 1;
  }
}
.link___6G0Hy {
  align-self: flex-start;
  display: flex;
  font-size: 12px;
  color: var(--token-o5QzyuxQjxLV);
  text-decoration-line: none;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link___6G0Hy {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    column-gap: 0px;
  }
}
.text__qlFbv {
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__qlFbv {
    text-align: left;
    align-self: center;
    position: relative;
    left: auto;
    top: auto;
    z-index: 1;
  }
}
.link__j9EzO {
  align-self: flex-start;
  display: flex;
  font-size: 12px;
  color: var(--token-o5QzyuxQjxLV);
  text-decoration-line: none;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__j9EzO {
    align-self: center;
  }
}
.text__sFjyl {
  align-self: auto;
  font-weight: 400;
}
.entreprise {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .entreprise {
    row-gap: 0px;
    column-gap: 0px;
  }
}
.h4__ddLmx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__ddLmx {
    align-self: center;
    text-align: center;
    font-size: var(--token-h44X3KXzj2JM);
    line-height: 27px;
  }
}
.link__j2VOg {
  align-self: flex-start;
  display: flex;
  font-size: 12px;
  color: var(--token-o5QzyuxQjxLV);
  text-decoration-line: none;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__j2VOg {
    align-self: center;
  }
}
.text__ubTab {
  font-weight: 400;
}
.link__lAci {
  align-self: flex-start;
  display: flex;
  font-size: 12px;
  color: var(--token-o5QzyuxQjxLV);
  text-decoration-line: none;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__lAci {
    align-self: center;
  }
}
.text__tjzjS {
  font-weight: 400;
}
.link___0L5HV {
  align-self: flex-start;
  display: flex;
  font-size: 12px;
  text-decoration-line: none;
  color: var(--token-o5QzyuxQjxLV);
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link___0L5HV {
    align-self: center;
  }
}
.text__uWxMm {
  font-weight: 400;
}
.freeBox__ygOnJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 50px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ygOnJ {
    padding-top: 30px;
  }
}
.text__dNsi0 {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  color: var(--token-o5QzyuxQjxLV);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__dNsi0 {
    font-size: var(--token-SJxn0KH5ERld);
  }
}
