.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  justify-self: flex-start;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.lottieAsync:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
