.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
  max-width: 156px;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img {
    align-self: center;
    position: relative;
    left: auto;
    top: auto;
  }
}
.img_50Opaque {
  opacity: 0.5;
}
.imgsmallLogo {
  max-width: 50px;
}
