.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-k7H7DCWvDgvK);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-86D2BTODo9Hi);
  font-family: var(--token-iEpbA7s1dE2F);
  font-size: var(--token-YRLpiKJWMvDT);
  line-height: var(--token-aFhewT50aNqv);
  outline-style: none;
  text-decoration-line: none;
  color: var(--token-RCHtrvCh7WuO);
  justify-content: center;
  align-items: center;
  border-radius: var(--token-ndMaUJfK9i9j);
  padding: 10px 20px;
  border-width: 0px;
}
.root[data-hovered]:global(.__wab_instance) {
  background: #474b51;
}
.root[data-pressed]:global(.__wab_instance) {
  background: #9b9393;
}
.root[data-focus-visible]:global(.__wab_instance) {
  border: 2px solid #ffffff;
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  background: var(--token-_PnNvvQms_S8);
}
.rootcolor_neutral:global(.__wab_instance) {
  background: none;
  color: var(--token-RCHtrvCh7WuO);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-91pDReQKdhKi);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-BEsUMSl6y_Lb);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-jO-1sFA2ZrOc);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-mU9jzS9MI7OC);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-x3_5bCU4Udw4);
  font-size: var(--token-uKVS1HgZbpDC);
  column-gap: var(--token-yGhyYhMfsgax);
  row-gap: 0px;
  border-radius: var(--token-XSeuXk4h0rWJ);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-uKVS1HgZbpDC);
  line-height: var(--token-x3_5bCU4Udw4);
  column-gap: var(--token-XSeuXk4h0rWJ);
  row-gap: 0px;
  border-radius: var(--token-XSeuXk4h0rWJ);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-wkzkOeC3ZWSV);
  line-height: var(--token-Wc7gymmVv9Ec);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-wkzkOeC3ZWSV);
  line-height: var(--token-Wc7gymmVv9Ec);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-N-BjEmyzoIib);
  border-radius: var(--token-B2yHbkVn4nSC);
}
.softBackgroundcolor_neutral {
  background: var(--token-nNfqe_6peegt);
}
.softBackgroundcolor_muted {
  background: var(--token-ZmkmpzD2IgMM);
}
.softBackgroundcolor_success {
  background: var(--token-Id0iNLsnguYv);
}
.softBackgroundcolor_warning {
  background: var(--token-dUxRO8h7xNbz);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-jLoZufcIBwQa);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-B2yHbkVn4nSC);
  border: 0px solid var(--token-Y4BeVuCwzJdg);
}
.bordercolor_neutral {
  border-color: var(--token-bmIqpLdjBZv6);
}
.bordercolor_muted {
  border-color: var(--token-WQaE5jialOoW);
}
.bordercolor_success {
  border-color: var(--token-Fx1CSsm_zIk7);
}
.bordercolor_warning {
  border-color: var(--token-s3rUhAVi0nO-);
}
.bordercolor_errorDestructive {
  border-color: var(--token-ebTltS0lim8H);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-WDJX9045qGJQ);
}
.root[data-hovered] .interactionEffect {
  background: none;
}
.root[data-disabled] .interactionEffect {
  background: none;
}
.root[data-pressed] .interactionEffect {
  background: none;
}
.interactionEffectcolor_neutral {
  background: var(--token-NbExc-UM8dh_);
  border-radius: var(--token-j7iMrRiBda-A);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__yp0E {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: var(--token-B2yHbkVn4nSC) var(--token-WDJX9045qGJQ);
}
.freeBoxsize_extraSmall__yp0ERbWx9 {
  padding: var(--token-XSeuXk4h0rWJ) var(--token-B2yHbkVn4nSC);
}
.freeBoxsize_small__yp0EoevyW {
  padding: var(--token-B2yHbkVn4nSC) var(--token-86D2BTODo9Hi);
}
.freeBoxsize_large__yp0EXw5Xo {
  padding-top: var(--token-XSeuXk4h0rWJ);
  padding-bottom: var(--token-XSeuXk4h0rWJ);
}
.freeBoxsize_extraLarge__yp0EmqDNg {
  padding-left: var(--token-UvRkiW4t0-yi);
  padding-right: var(--token-UvRkiW4t0-yi);
}
.freeBoxroundedFull__yp0Ey9Xgz {
  padding-right: var(--token-UvRkiW4t0-yi);
  padding-left: var(--token-UvRkiW4t0-yi);
}
.freeBox__qQiHd {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__qQiHdXjN4M {
  display: flex;
}
.slotTargetStart {
  color: var(--token-7XGqWuzxLLAG);
}
.slotTargetStartcolor_neutral {
  color: var(--token-vENM1hgx-J1Q);
}
.slotTargetStartcolor_muted {
  color: var(--token-GrROBJ85Y5gn);
}
.slotTargetStartcolor_success {
  color: var(--token-ktRhjptGAsKZ);
}
.slotTargetStartcolor_warning {
  color: var(--token-PiE5kfdWAnu8);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-PbwfN1XDXMli);
}
.slotTargetStarttype_soft {
  color: var(--token-okZqvxZ_nx_g);
}
.slotTargetStarttype_bordered {
  color: var(--token-okZqvxZ_nx_g);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-uKVS1HgZbpDC);
}
.slotTargetStartsize_small {
  font-size: var(--token-uKVS1HgZbpDC);
}
.slotTargetStartsize_large {
  font-size: var(--token-wkzkOeC3ZWSV);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-wkzkOeC3ZWSV);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-uoy7R7T15s6W);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-uoy7R7T15s6W);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-1CbW51aJtG5Z);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-1CbW51aJtG5Z);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-AW-3n1hvMMBG);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-AW-3n1hvMMBG);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-FnfpoK7jO8Dp);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-FnfpoK7jO8Dp);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-L6o2o2zb372z);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-L6o2o2zb372z);
}
.svg__zi15J {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: #ffffff;
  font-size: var(--token-YRLpiKJWMvDT);
  white-space: pre;
}
.slotTargetLabelcolor_neutral {
  color: var(--token-vENM1hgx-J1Q);
}
.slotTargetLabelcolor_muted {
  color: var(--token-GrROBJ85Y5gn);
}
.slotTargetLabelcolor_success {
  color: var(--token-ktRhjptGAsKZ);
}
.slotTargetLabelcolor_warning {
  color: var(--token-PiE5kfdWAnu8);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-PbwfN1XDXMli);
}
.slotTargetLabeltype_soft {
  color: var(--token-okZqvxZ_nx_g);
}
.slotTargetLabeltype_bordered {
  color: var(--token-okZqvxZ_nx_g);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-uoy7R7T15s6W);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-1CbW51aJtG5Z);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-uoy7R7T15s6W);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-AW-3n1hvMMBG);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-1CbW51aJtG5Z);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-FnfpoK7jO8Dp);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-AW-3n1hvMMBG);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-L6o2o2zb372z);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-FnfpoK7jO8Dp);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-L6o2o2zb372z);
}
.text__h1Dl2 {
  white-space: pre;
  font-weight: 500;
  font-size: var(--token-wkzkOeC3ZWSV);
}
.freeBox__v6QM9 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__v6QM9K0VTj {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-7XGqWuzxLLAG);
}
.slotTargetEndcolor_neutral {
  color: var(--token-vENM1hgx-J1Q);
}
.slotTargetEndcolor_muted {
  color: var(--token-GrROBJ85Y5gn);
}
.slotTargetEndcolor_success {
  color: var(--token-ktRhjptGAsKZ);
}
.slotTargetEndcolor_warning {
  color: var(--token-PiE5kfdWAnu8);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-PbwfN1XDXMli);
}
.slotTargetEndtype_soft {
  color: var(--token-okZqvxZ_nx_g);
}
.slotTargetEndtype_bordered {
  color: var(--token-okZqvxZ_nx_g);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-uKVS1HgZbpDC);
}
.slotTargetEndsize_small {
  font-size: var(--token-uKVS1HgZbpDC);
}
.slotTargetEndsize_large {
  font-size: var(--token-wkzkOeC3ZWSV);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-wkzkOeC3ZWSV);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-uoy7R7T15s6W);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-uoy7R7T15s6W);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-1CbW51aJtG5Z);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-1CbW51aJtG5Z);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-AW-3n1hvMMBG);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-AW-3n1hvMMBG);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-FnfpoK7jO8Dp);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-FnfpoK7jO8Dp);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-L6o2o2zb372z);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-L6o2o2zb372z);
}
.svg__xs9LV {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
