.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: #ffb000;
  position: relative;
  overflow: auto;
  box-shadow:
    0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px #e5e7eb;
  border-radius: var(--token-WDJX9045qGJQ);
  padding: var(--token-B2yHbkVn4nSC);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__wFHdl:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
